{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{ title }}</h2>
            </div>
            <div class="action-header palette-theme {{ current_theme }} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{ title }}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden"/>
                    </form>
                </div>

            </div>
        </div>

        <div class="card">

            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                    <tr>
                        <th style='width: 40%' data-column-id="name" data-type="numeric">Asset</th>
                        <th style='width: 10%' data-column-id="debit" data-type="numeric">Rs</th>
                        <th style='width: 40%' data-column-id="credit" data-type="numeric">Liabilities</th>
                        <th style='width: 10%' data-column-id="credit" data-type="numeric">Rs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cash in Bank</td>
                        <td>{{ bank_asset_amount }}</td>
                        <td>Capital Account</td>
                        <td>{{ capital_amount }}</td>
                    </tr>
                    <tr>
                        <td>Cash in Hand</td>
                        <td>{{ cash_in_hand_amount }}</td>
                        <td>Bank Overdraft</td>
                        <td>{{ bank_credit }}</td>
                    </tr>
                    <tr>
                        <td>Current Asset</td>
                        <td>{{ current_asset }}</td>
                        <td>Current Liability</td>
                        <td>{{ current_liability }}</td>
                    </tr>
                    <tr>
                        <td>Property, Plant and Equipment</td>
                        <td>{{ other_asset }}</td>
                        <td>Loan And Liability</td>
                        <td>{{ loans_and_liability }}</td>
                    </tr>
                    <tr>
                        <td>Loans Given</td>
                        <td>{{ loans_given }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ debit }}</td>
                        <td></td>
                        <td>{{ credit }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        td {
            border-right: 2px solid black;
        }
    </style>
{% endblock %}
