{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{ title }}</h2>
            </div>
            <div class="action-header palette-theme {{ current_theme }} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{ title }}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden"/>
                    </form>
                </div>

            </div>
        </div>

        <div class="card">

            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                    <tr>
                        <th style='width: 40%' data-column-id="name" data-type="numeric">Particulars</th>
                        <th style='width: 10%' data-column-id="debit" data-type="numeric">Ref. No</th>
                        <th style='width: 25%' data-column-id="credit" data-type="numeric">Debit</th>
                        <th style='width: 25%' data-column-id="credit" data-type="numeric">Credit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Opening Balance</td>
                        <td></td>
                        <td>{{debit}}</td>
                        <td>{{ credit }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>{{ debit }}</td>
                        <td>{{ credit }}</td>
                    </tr>
                    <tr>
                        <td>Closing Balance</td>
                        <td></td>
                        <td>{{ debit }}</td>
                        <td>{{ credit }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        td {
            border-right: 2px solid black;
        }
    </style>
{% endblock %}
