{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{ title }}</h2>
            </div>
            <div class="action-header palette-theme {{ current_theme }} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{ title }}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden"/>
                    </form>
                </div>

            </div>
        </div>

        <div class="card">

            <div class="table-responsive">
                <small style="margin-left: 250pt;font-size: 12pt;">{{filter_from_date}} To {{filter_to_date}}</small>
                <small style="margin-left: 100pt;font-size: 12pt;">{{filter_start_date}} To {{filter_end_date}}</small>
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                    <tr>
                        <th style='width: 7%' data-column-id="name" data-type="numeric"></th>
                        <th style='width: 25%' data-column-id="debit" data-type="numeric"></th>
                        <th style='width: 17%' data-column-id="credit" data-type="numeric">Debit</th>
                        <th style='width: 17%' data-column-id="credit" data-type="numeric">Credit</th>
                        <th style='width: 17%' data-column-id="credit" data-type="numeric">Debit</th>
                        <th style='width: 17%' data-column-id="credit" data-type="numeric">Credit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% load finance_template_tags %}             
                    {% for category in transaction_categories %}
                    <tr>                       
                        <td>{{forloop.counter}}</td>
                        <td>{{category}}</td>
                        <td>{{first_date|get_debit_amount:category.pk}}</td>
                        <td>{{first_date|get_credit_amount:category.pk}}</td>
                        <td>{{last_date|get_debit_amount:category.pk}}</td>
                        <td>{{last_date|get_credit_amount:category.pk}}</td>
                        <input type="hidden" name="first_date" id="first_date" value={{first_date}} />
                        <input type="hidden" name="last_date" id="last_date" value={{last_date}} />
                        <input type="hidden" name="first_date1" id="first_date1" value={{first_date1}} />
                        <input type="hidden" name="last_date1" id="last_date1" value={{last_date1}} />
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>Total: </td>
                        <td>{{first_income}}</td>
                        <td>{{first_expense}}</td>
                        <td>{{last_income}}</td>
                        <td>{{last_expense}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{first_net_profit}}</td>
                        <td>{{first_net_loss}}</td>
                        <td>{{last_net_profit}}</td>
                        <td>{{last_net_loss}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
     <div id="container" style="width: 75%;border:1px solid #fff;">
        <canvas id="canvas"></canvas>
    </div>
    
{% endblock %}

{% block static %}
    {% load static %}
    <script src="{% static 'js/chartJs/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
    <script>
        $(document).ready(function(){
            var first_date = $('#first_date').val()
            var last_date = $('#last_date').val()
            var first_date1 = $('#first_date1').val()
            var last_date1 = $('#last_date1').val()
            Report(first_date,last_date);
            function Report(first_date,last_date){
                var url = "{% url 'finance:get_compare_chart' %}?first_date="+first_date+"&last_date="+last_date;
                $.ajax({
                    type : "GET",
                    url : url,
                    dataType : 'json',
                    success : function(data) {
                        var categories = data['categories'];
                        var debit_amounts = data['debit_amounts'];
                        var credit_amounts = data['credit_amounts'];
                        var debit_amounts1 = data['debit_amounts1'];
                        var credit_amounts1 = data['credit_amounts1'];
                        var barChartData = {
                            labels: categories,
                            datasets: [{
                                label: first_date1 + " Debit",
                                backgroundColor: [
                                        'rgba(0,0,255, 1)',
                                        'rgba(54, 65, 235, 1)',
                                        'rgba(0, 8, 186, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(67, 89, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                borderColor: [
                                        'rgba(0,0,255, 1)',
                                        'rgba(54, 65, 235, 1)',
                                        'rgba(0, 8, 186, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(67, 89, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                borderWidth: 1,
                                data: debit_amounts
                            }, {
                                label: ' Credit',
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderWidth: 1,
                                data: credit_amounts
                            },{
                                label: last_date1 + " Debit",
                                backgroundColor: [
                                    'rgba(0,0,255, 1)',
                                    'rgba(54, 65, 235, 1)',
                                    'rgba(0, 8, 186, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(67, 89, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(0,0,255, 1)',
                                    'rgba(54, 65, 235, 1)',
                                    'rgba(0, 8, 186, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(67, 89, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1,
                                data: debit_amounts1
                            },{
                                label: ' Credit',
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderWidth: 1,
                                data: credit_amounts1
                            }]

                        };
                        var ctx = document.getElementById('canvas').getContext('2d');
                        new Chart(ctx, {
                            type: 'bar',
                            data: barChartData,
                            options: {
                                responsive: true,
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Finance Transactions'
                                }
                            }
                        });
                    }
                }); 
            }
            
        });
    </script>
    
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        td {
            border-right: 2px solid black;
        }
    </style>
{% endblock %}
