{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'finance:transactions' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}	                		
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">General Details</h4>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.student.id_for_label }}">
		                                	{{ form.student.label }}
		                                	{% if form.student.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.student.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.student }}

		                                {% if form.student.errors %}
		                                	<label class="error">{{ form.student.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="row">
		                                <div class="col-md-6">
		                                    <div class="form-group">
				                                <label for="{{ form.from_month.id_for_label }}">
				                                	{{ form.from_month.label }}
				                                	{% if form.from_month.field.required %}
										        		<small class="star">*</small>
										        	{% endif %}

										        	{% if form.from_month.help_text %}
										        		<span data-original-title="Field Info" title="" data-content="{{ form.from_month.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
				                                    {% endif %}
				                                </label>
				                                {{ form.from_month }}

				                                {% if form.from_month.errors %}
				                                	<label class="error">{{ form.from_month.errors.as_text }}</label>
				                                {% endif %}
				                            </div>
		                                </div>

		                                <div class="col-md-6">
		                                    <div class="form-group">
				                                <label for="{{ form.to_month.id_for_label }}">
				                                	{{ form.to_month.label }}
				                                	{% if form.to_month.field.required %}
										        		<small class="star">*</small>
										        	{% endif %}

										        	{% if form.to_month.help_text %}
										        		<span data-original-title="Field Info" title="" data-content="{{ form.to_month.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
				                                    {% endif %}
				                                </label>
				                                {{ form.to_month }}

				                                {% if form.to_month.errors %}
				                                	<label class="error">{{ form.to_month.errors.as_text }}</label>
				                                {% endif %}
				                            </div>
		                                </div>
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.application_fee.id_for_label }}">
		                                	{{ form.application_fee.label }}
		                                	{% if form.application_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.application_fee.help_text %}
								        		<span data-original-application_fee="Field Info" application_fee="" data-content="{{ form.application_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.application_fee }}

		                                {% if form.application_fee.errors %}
		                                	<label class="error">{{ form.application_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.registration_fee.id_for_label }}">
		                                	{{ form.registration_fee.label }}
		                                	{% if form.registration_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.registration_fee.help_text %}
								        		<span data-original-registration_fee="Field Info" registration_fee="" data-content="{{ form.registration_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.registration_fee }}

		                                {% if form.registration_fee.errors %}
		                                	<label class="error">{{ form.registration_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.admission_fee.id_for_label }}">
		                                	{{ form.admission_fee.label }}
		                                	{% if form.admission_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.admission_fee.help_text %}
								        		<span data-original-admission_fee="Field Info" admission_fee="" data-content="{{ form.admission_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.admission_fee }}

		                                {% if form.admission_fee.errors %}
		                                	<label class="error">{{ form.admission_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.special_fee.id_for_label }}">
		                                	{{ form.special_fee.label }}
		                                	{% if form.special_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.special_fee.help_text %}
								        		<span data-original-special_fee="Field Info" special_fee="" data-content="{{ form.special_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.special_fee }}

		                                {% if form.special_fee.errors %}
		                                	<label class="error">{{ form.special_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.caution_deposit.id_for_label }}">
		                                	{{ form.caution_deposit.label }}
		                                	{% if form.caution_deposit.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.caution_deposit.help_text %}
								        		<span data-original-caution_deposit="Field Info" caution_deposit="" data-content="{{ form.caution_deposit.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.caution_deposit }}

		                                {% if form.caution_deposit.errors %}
		                                	<label class="error">{{ form.caution_deposit.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.tution_fee.id_for_label }}">
		                                	{{ form.tution_fee.label }}
		                                	{% if form.tution_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.tution_fee.help_text %}
								        		<span data-original-tution_fee="Field Info" tution_fee="" data-content="{{ form.tution_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.tution_fee }}

		                                {% if form.tution_fee.errors %}
		                                	<label class="error">{{ form.tution_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.bus_fare.id_for_label }}">
		                                	{{ form.bus_fare.label }}
		                                	{% if form.bus_fare.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.bus_fare.help_text %}
								        		<span data-original-bus_fare="Field Info" bus_fare="" data-content="{{ form.bus_fare.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.bus_fare }}

		                                {% if form.bus_fare.errors %}
		                                	<label class="error">{{ form.bus_fare.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.computer_fee.id_for_label }}">
		                                	{{ form.computer_fee.label }}
		                                	{% if form.computer_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.computer_fee.help_text %}
								        		<span data-original-computer_fee="Field Info" computer_fee="" data-content="{{ form.computer_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.computer_fee }}

		                                {% if form.computer_fee.errors %}
		                                	<label class="error">{{ form.computer_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.examination_fee.id_for_label }}">
		                                	{{ form.examination_fee.label }}
		                                	{% if form.examination_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.examination_fee.help_text %}
								        		<span data-original-examination_fee="Field Info" examination_fee="" data-content="{{ form.examination_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.examination_fee }}

		                                {% if form.examination_fee.errors %}
		                                	<label class="error">{{ form.examination_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>			                        
			                        <div class="form-group fg-line">
		                                <label for="{{ form.date.id_for_label }}">
		                                	{{ form.date.label }}
		                                	{% if form.date.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.date.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.date }}

		                                {% if form.date.errors %}
		                                	<label class="error">{{ form.date.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.magazine_fee.id_for_label }}">
		                                	{{ form.magazine_fee.label }}
		                                	{% if form.magazine_fee.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.magazine_fee.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.magazine_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.magazine_fee }}

		                                {% if form.magazine_fee.errors %}
		                                	<label class="error">{{ form.magazine_fee.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.other_income.id_for_label }}">
		                                	{{ form.other_income.label }}
		                                	{% if form.other_income.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.other_income.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.other_income.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.other_income }}

		                                {% if form.other_income.errors %}
		                                	<label class="error">{{ form.other_income.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.development_fund.id_for_label }}">
		                                	{{ form.development_fund.label }}
		                                	{% if form.development_fund.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.development_fund.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.development_fund.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.development_fund }}

		                                {% if form.development_fund.errors %}
		                                	<label class="error">{{ form.development_fund.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                    </div>
		                    </div>
		                </div>
	                </div>

                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
    {{ form.media }}   
{% endblock %}

{% block static %}
    {% load static %}
     
{% endblock %}