{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'finance:cash_accounts' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form enctype="multipart/form-data" method="post" action="{{url}}">
                	{% csrf_token %}	                		
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Bank Account</h4>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.name.id_for_label }}">
		                                	{{ form.name.label }}
		                                	{% if form.name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.name }}

		                                {% if form.name.errors %}
		                                	<label class="error">{{ form.name.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.ifsc.id_for_label }}">
		                                	{{ form.ifsc.label }}
		                                	{% if form.ifsc.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.ifsc.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.ifsc.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.ifsc }}

		                                {% if form.ifsc.errors %}
		                                	<label class="error">{{ form.ifsc.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.branch.id_for_label }}">
		                                	{{ form.branch.label }}
		                                	{% if form.branch.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.branch.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.branch.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.branch }}

		                                {% if form.branch.errors %}
		                                	<label class="error">{{ form.branch.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.account_type.id_for_label }}">
		                                	{{ form.account_type.label }}
		                                	{% if form.account_type.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.account_type.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.account_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.account_type }}

		                                {% if form.account_type.errors %}
		                                	<label class="error">{{ form.account_type.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.account_no.id_for_label }}">
		                                	{{ form.account_no.label }}
		                                	{% if form.account_no.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.account_no.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.account_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.account_no }}

		                                {% if form.account_no.errors %}
		                                	<label class="error">{{ form.account_no.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.first_time_balance.id_for_label }}">
		                                	{{ form.first_time_balance.label }}
		                                	{% if form.first_time_balance.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.first_time_balance.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.first_time_balance.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.first_time_balance }}

		                                {% if form.first_time_balance.errors %}
		                                	<label class="error">{{ form.first_time_balance.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                    </div>
		                    </div>
		                </div>
		                
						
	                </div>

                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
{{ form.media }}
{% endblock %}

{% block static %}
	{% load static %}

{% endblock %}