{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{ title }}</h2>
            </div>
            <div class="action-header palette-theme {{ current_theme }} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{ title }}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                    <tr>
                        <th style='width: 10%' data-column-id="name" data-type="numeric">Sl No</th>
                        <th style='width: 15%' data-column-id="debit" data-type="numeric">Date</th>
                        <th style='width: 10%' data-column-id="debit" data-type="numeric">Admn No</th>
                        <th style='width: 20%' data-column-id="debit" data-type="numeric">Name</th>
                        <th style='width: 20%' data-column-id="credit" data-type="numeric">Fee Amount</th>
                        <th style='width: 10%' data-column-id="credit" data-type="numeric">Cash</th>
                        <th style='width: 10%' data-column-id="credit" data-type="numeric">DD</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% load finance_template_tags %}            
                    {% for instance in instances %}
                    <tr>                       
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.date}}</td>
                        <td>{{instance.transaction.admission.admn_no}}</td>
                        <td>{{instance.transaction.admission.name}}</td>
                        <td>{{instance.transaction.amount}}</td>
                        <td>{% if instance.cash_debit > 0 %}{{instance.cash_debit}}{% else %}0{% endif %}</td>
                        <td>{% if instance.bank_debit > 0 %}{{instance.bank_debit}}{% else %}0{% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Total: </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{income}}</td>
                        <td>{{cash_debit}}</td>
                        <td>{{bank_debit}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block static %}
    {% load static %}
    <style>
        td {
            border-right: 2px solid black;
        }
    </style>
{% endblock %}
