{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}
{% load teacher_template_tags %}
{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label hidden-xs mdc-text-grey-900">{{title}}</div>
            
        <ul class="ah-actions actions a-alt">
           <!--  <li>
                <a title="Filter" class="filter_button" href="">
                    <i class="mdi mdi-filter-variant"></i>
                </a>
            </li>   -->                
        </ul>
    </div>
<div class="m-b-30 mt-25">
        <button type="button" title="Date" class="filter_button btn-success btn btn1 "></i>Enter Date</button>
        <a href=""><button type="button" title="Create" class="btn-warning btn btn1"><i class="mdi mdi-printer"></i>Print Day Report</button></a>
    </div>
    <div class="row bgm-white m-b-30 p-b-20">
        {% if fee_payments %}                    
            <div class="col-lg-3 p-r-5 col-md-4 col-sm-6 m-b-10 p-l-15">
                <a href="{% url 'finance:fee_payments'%}?date={{date}}">
                    <div class="color-widget six">
                        <h4 class="f-16">Total Income (Admissions)</h4>
                        <small>{{admission_total_paid_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
        {% endif %}
        {% if salary_payments %}
            <div class="col-lg-3 p-r-5 p-l-15 col-md-4 col-sm-6 m-b-10">
                <a href="{% url 'finance:fee_payments'%}?date={{date|date:'m/d/Y'}}">
                    <div class="color-widget seven">
                        <h4 class="f-16">Total Expense</h4>
                        <small>{{teacher_salary_total_dispersed_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
        <div class="ah-label palette-Black text">Admission</div>
    </div>
    {% if admissions %}                    
        <div class="row bgm-white m-b-30 p-b-20">
            <div class="col-lg-3 p-r-5 col-md-4 col-sm-6 m-b-10 p-l-15">
                <a href="{% url 'finance:fee_payments'%}?date={{date}}">
                    <div class="color-widget four">
                        <h4 class="f-16">Fee</h4>
                        <small>{{admission_total_fee_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 p-r-5 p-l-15 col-md-4 col-sm-6 m-b-10">
                <a href="{% url 'finance:fee_payments'%}?date={{date|date:'m/d/Y'}}">
                    <div class="color-widget five">
                        <h4 class="f-16">Paid</h4>
                        <small>{{admission_total_paid_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 p-l-15 col-md-4 col-sm-6 m-b-10 p-r-15">
                <a href="{% url 'finance:fee_payments'%}?date={{date|date:'m/d/Y'}}">
                    <div class="color-widget three">
                        <h4 class="f-16">Balance</h4>
                        <small>{{admission_total_balance_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
        </div>                 

        <div class="card m-b-30">                
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric">Sl No</th>
                            <th>Name</th>
                            <th>Student Class</th>
                            <th>Student Division</th>
                            <th>Phone</th>
                            <th>Fee</th>
                            <th>Paid</th>
                            <th>Balance</th>
                            <th data-column-id="action" class="one">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admission in admissions %}
                        <tr class="check_items_row">
                            <td><a href="{% url 'academics:admission' pk=admission.pk %}">{{forloop.counter}}</a></td>
                            <td>{{admission.name|default:"-"}}</td>
                            <td>{{admission.department|default:"-"}}</td>
                            <td>{{admission.sub_division|default:"-"}}</td>
                            <td>{{admission.phone|default:"-"}}</td>
                            <td>{{admission.fee|default:0.00}}</td>
                            <td>{{admission.paid|default:0.00}}</td>
                            <td>{{admission.balance|default:0.00}}</td>
                            <td class="one">
                                <a href="{% url 'academics:admission' pk=admission.pk %}" class="mdc-text-teal mr-2"><i class="icon-eye"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>              
    
    {% else %}
        {% include 'includes/not_found.html' %}
    {% endif %}
    <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
        <div class="ah-label palette-Black text">Fee Payments</div>
    </div>
    {% if fee_payments %}                    
        <div class="row bgm-white m-b-30">
            <div class="col-lg-3 p-r-5 col-md-4 col-sm-6 m-b-10 p-l-15">
                <a href="{% url 'finance:fee_payments'%}?date={{date}}">
                    <div class="color-widget two">
                        <h4 class="f-16">Amount</h4>
                        <small>{{fee_payment_total_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 p-l-15 col-md-4 col-sm-6 m-b-10 p-r-15">
                <a href="{% url 'finance:fee_payments'%}?date={{date|date:'m/d/Y'}}">
                    <div class="color-widget five">
                        <h4 class="f-16">Balance</h4>
                        <small>{{fee_payment_total_balance_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
        </div> 
        <div class="card m-b-30">                            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric">Sl No</th>
                            <th>Name</th>
                            <th>Student Class</th>
                            <th>Student Division</th>
                            <th>Phone</th>
                            <th>Fee</th>
                            <th>Amount</th>
                            <th>Balance</th>
                            <th data-column-id="action" class="one">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee_payment in fee_payments %}
                        <tr class="check_items_row">
                            <td><a href="{% url 'academics:admission' pk=fee_payment.admission.pk %}">{{forloop.counter}}</a></td>
                            <td>{{fee_payment.admission.name|default:"-"}}</td>
                            <td>{{fee_payment.admission.department|default:"-"}}</td>
                            <td>{{fee_payment.admission.sub_division|default:"-"}}</td>
                            <td>{{fee_payment.admission.phone|default:"-"}}</td>
                            <td>{{fee_payment.admission.fee|default:0.00}}</td>
                            <td>{{fee_payment.amount|default:0.00}}</td>
                            <td>{{fee_payment.balance|default:0.00}}</td>
                            <td class="one">
                                <a href="{% url 'academics:admission' pk=fee_payment.admission.pk %}" class="mdc-text-teal mr-2"><i class="icon-eye"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                         
        </div>
    {% else %}
        {% include 'includes/not_found.html' %}
    {% endif %}  
    <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
        <div class="ah-label palette-Black text">Salary Payments</div>
    </div>
    {% if salary_payments %}                    
        <div class="row bgm-white m-b-30">
            <div class="col-lg-3 p-r-5 col-md-4 col-sm-6 m-b-10 p-l-15">
                <a href="{% url 'teachers:teacher_salaries' %}?date={{date}}">
                    <div class="color-widget">
                        <h4 class="f-16">Total Salary</h4>
                        <small>{{teacher_salary_total_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 p-l-15 col-md-4 col-sm-6 m-b-10 p-r-15">
                <a href="{% url 'teachers:teacher_salaries' %}?date={{date|date:'m/d/Y'}}">
                    <div class="color-widget six">
                        <h4 class="f-16">Dispersed</h4>
                        <small>{{teacher_salary_total_dispersed_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 p-l-15 col-md-4 col-sm-6 m-b-10 p-r-15">
                <a href="{% url 'teachers:teacher_salaries' %}?date={{date|date:'m/d/Y'}}">
                    <div class="color-widget seven">
                        <h4 class="f-16">Advance</h4>
                        <small>{{teacher_salary_total_advance_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 p-l-15 col-md-4 col-sm-6 m-b-10 p-r-15">
                <a href="{% url 'teachers:teacher_salaries' %}?date={{date|date:'m/d/Y'}}">
                    <div class="color-widget three">
                        <h4 class="f-16">Balance</h4>
                        <small>{{teacher_salary_total_balance_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
        </div> 
        <div class="card m-b-30">                            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric">Sl No</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Dispersed</th>
                            <th>Advance</th>
                            <th>Balance</th>
                            <th data-column-id="action" class="one">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for salary_payment in salary_payments %}
                        <tr class="check_items_row">
                            <td><a href="{% url 'academics:admission' pk=salary_payment.admission.pk %}">{{forloop.counter}}</a></td>
                            <td>{{salary_payment.teacher.name|default:"-"}}</td>
                            <td>{{salary_payment.teacher.phone|default:"-"}}</td>
                            <td>{{salary_payment.amount|default:0.00}}</td>
                            <td>{{salary_payment.teacher|get_advance_teacher_salary|default:0.0}}</td>
                            <td>{{salary_payment.teacher|get_balance_teacher_salary|default:0.0}}</td>
                            <td class="one">
                                <a href="{% url 'academics:admission' pk=salary_payment.admission.pk %}" class="mdc-text-teal mr-2"><i class="icon-eye"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                         
        </div>
    {% else %}
        {% include 'includes/not_found.html' %}
    {% endif %} 
    <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
        <div class="ah-label palette-Black text">Other Income</div>
    </div>
    
    {% if other_income %}                    
        <div class="row bgm-white m-b-30">
            <div class="col-lg-3 p-r-5 col-md-4 col-sm-6 m-b-10 p-l-15">
                <a href="{% url 'finance:transactions'%}?date={{date}}&&income=yes">
                    <div class="color-widget">
                        <h4 class="f-16">Amount</h4>
                        <small>{{other_income_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
            
        </div> 
        <div class="card m-b-30">                            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric">Sl No</th>
                            <th>Transaction Category</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Purpose</th>
                            <th data-column-id="action" class="one">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee_payment in other_income %}
                        <tr class="check_items_row">
                            <td>{{forloop.counter}}</td>
                            <td>{{fee_payment.transaction_category|default:"-"}}</td>
                            <td>{{fee_payment.date.date|default:"-"}}</td>
                            <td>{{fee_payment.amount|default:0.00}}</td>
                            <td>{{fee_payment.purpose}}</td>
                            <td class="one">
                                <a href="{% url 'finance:transaction' pk=fee_payment.pk %}" class="mdc-text-teal mr-2"><i class="icon-eye"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                         
        </div>
    {% else %}
        {% include 'includes/not_found.html' %}
    {% endif %}

    <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
        <div class="ah-label palette-Black text">Other Expense</div>
    </div>
    

    {% if other_expense %}                    
        <div class="row bgm-white m-b-30">
            <div class="col-lg-3 p-r-5 col-md-4 col-sm-6 m-b-10 p-l-15">
                <a href="{% url 'finance:transactions'%}?date={{date}}&&expense=yes">
                    <div class="color-widget two">
                        <h4 class="f-16">Amount</h4>
                        <small>{{other_expense_amount|default:0.00}}</small>
                    </div>
                </a>
            </div>
            
        </div> 
        <div class="card m-b-30">                            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric">Sl No</th>
                            <th>Transaction Category</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Purpose</th>
                            <th data-column-id="action" class="one">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee_payment in other_expense %}
                        <tr class="check_items_row">
                            <td>{{forloop.counter}}</td>
                            <td>{{fee_payment.transaction_category|default:"-"}}</td>
                            <td>{{fee_payment.date.date|default:"-"}}</td>
                            <td>{{fee_payment.amount|default:0.00}}</td>
                            <td>{{fee_payment.purpose}}</td>
                            <td class="one">
                                <a href="{% url 'finance:transaction' pk=fee_payment.pk %}" class="mdc-text-teal mr-2"><i class="icon-eye"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                         
        </div>
    {% else %}
        {% include 'includes/not_found.html' %}
    {% endif %}  
</section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
        <form method="get" action="{% url 'finance:day_report' %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan btn btn-default btn-icon-text waves-effect"><i class="mdi mdi-arrow-left"></i> Back</span>
            </div>
            
            <div class="card-body card-padding">

                <div class="form-group fg-line">
                    <label>Date </label>
                    <input type="text" class="form-control datepicker datepicker-popup" placeholder="Date" name="date">
                </div>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% block static %}
    
    {% load static %}
    <style>
       
        .top {
            -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #f9f9f9;
            padding: 15px;
            border-radius: 4px;
            text-align: center;
            margin-right:15px;
        }    
        .top h3{
            font-weight: 500;
            margin: 15px 0;
        }
        .bottom {
            -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;        
            background: #f5f5f5;        
            padding: 15px 15px 0 15px;
            border-radius: 4px;
        }
        .bottom p{    
            color: #999;
            margin-bottom: 0;
        }

        .class-card {
            background: -webkit-linear-gradient(-45deg, #177BA0, #0BA360);
            background: -o-linear-gradient(-45deg, #177BA0, #0BA360);
            background: -moz-linear-gradient(-45deg, #177BA0, #0BA360);
            background: linear-gradient(-45deg, #177BA0, #0BA360);
            color: #fff;
            border-radius: 4px;
            webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            box-shadow: 3px 3px 10px rgba(0,0,0,.3);
        }
        .class-card .top-panel h6 {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
        .class-card .top-panel h6 a {
            display: block;
            padding: 40px 0;
            font-size: 24px;
            font-weight: bold;
        }
        .class-card a{
            color: #fff;
        }
        .class-card .bottom-panel ul {
            float: left;
            width: 100%;
            margin-bottom: 0;
            margin: 0 auto;
        }
        .class-card .bottom-panel ul li{
            float: left;
            width: 33.33%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border:1px solid #fff;
            text-align: center;
            border-left : none;
            border-radius: 4px;
        }
        
        .class-card .bottom-panel ul li a{
            display: block;
            width: 100%;
            padding: 20px 0;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
{% endblock %}