{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900" style="color:#fff;">{{title}}</div>
    </div>
    
    <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body card-padding">
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{field.id_for_label}}" class="col-form-label fw-b fz-12">{{field.label}}</label>
                            <div class="mt-2 fz-12">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <label class="form-group" style="color: #d11;" class="error">{{ field.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </div>
    </form>
</section>
<!-- content-wrapper ends -->

{% endblock %}

{% block static %}
    {% load static %}
    {{ form.media }}
{% endblock %}