{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'finance:liabilities' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}	                		
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">General Details</h4>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.liability_type.id_for_label }}">
		                                	{{ form.liability_type.label }}
		                                	{% if form.liability_type.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.liability_type.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.liability_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.liability_type }}

		                                {% if form.liability_type.errors %}
		                                	<label class="error">{{ form.liability_type.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.name.id_for_label }}">
		                                	{{ form.name.label }}
		                                	{% if form.name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.name }}

		                                {% if form.name.errors %}
		                                	<label class="error">{{ form.name.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.liability_category.id_for_label }}">
		                                	{{ form.liability_category.label }}
		                                	{% if form.liability_category.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.liability_category.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.liability_category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.liability_category }}

		                                {% if form.liability_category.errors %}
		                                	<label class="error">{{ form.liability_category.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.account_group.id_for_label }}">
		                                	{{ form.account_group.label }}
		                                	{% if form.account_group.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.account_group.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.account_group.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.account_group }}

		                                {% if form.account_group.errors %}
		                                	<label class="error">{{ form.account_group.errors.as_text }}</label>
		                                {% endif %}
		                            </div>	
		                            <div class="form-group fg-line">
		                                <label for="{{ form.liability_subcategory.id_for_label }}">
		                                	{{ form.liability_subcategory.label }}
		                                	{% if form.liability_subcategory.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.liability_subcategory.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.liability_subcategory.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.liability_subcategory }}

		                                {% if form.liability_subcategory.errors %}
		                                	<label class="error">{{ form.liability_subcategory.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.amount.id_for_label }}">
		                                	{{ form.amount.label }}
		                                	{% if form.amount.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.amount.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.amount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.amount }}

		                                {% if form.amount.errors %}
		                                	<label class="error">{{ form.amount.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.balance.id_for_label }}">
		                                	{{ form.balance.label }}
		                                	{% if form.balance.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.balance.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.balance.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.balance }}

		                                {% if form.balance.errors %}
		                                	<label class="error">{{ form.balance.errors.as_text }}</label>
		                                {% endif %}
		                            </div>			                            
			                    </div>
		                    </div>
		                </div>
		                
						
	                </div>

                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
	{% endblock %}
	
	{% block static %}

	{% load static %}
{{ form.media }}
	<!-- <script type="text/javascript">
		
        var $liability_category = $('#id_liability_category').val();
        if ($liability_category == "") {
			$('#id_liability_subcategory').html('<option value="">--Select Liability Category first--</option>');
            $('#id_liability_subcategory').trigger("chosen:updated");
        } else {
			showDivisions($liability_category);
        }
		
        $(document).on('change', '#id_liability_category', function () {
			var $liability_category = $(this).val();
            showDivisions($liability_category);
        });
		
        function showDivisions($liability_category) {
			if ($liability_category == "") {
				$('#id_liability_subcategory').html('<option value="">--Select Liability Category first--</option>');
                $('#id_liability_subcategory').trigger("chosen:updated");
            } else {
				var url = "{% url 'finance:get_liability_subcategories' %}" + "?pk=" + $liability_category;
				
                $.getJSON(url, function (models) {
					var options = '<option value="">---------</option>';
                    for (var i = 0; i < models.length; i++) {
                        options += '<option value="' + models[i].pk + '">' + models[i].fields['name'] + '</option>';
                    }
                    $('#id_liability_subcategory').html(options);
                    $('#id_liability_subcategory').trigger("chosen:updated");
					
                }).fail(function (jqxhr, textStatus, error) {
					var err = textStatus + ", " + error;
                    console.log("Request Failed: " + err);
                });
            }
        }
        
        $(document).on('change','#id_liability_type',function(){
			console.log("hello");
            var $this = $(this);
            console.log($this.val());
            if ($this.val() == "liquidate" || $this.val() == "satisfy"){
				console.log("hai");
                $(".old").show();
                $(".new").hide();
            }
            else {
				console.log("jjk");
                $(".new").show();
                $(".old").hide();
            }
        });
        $(document).ready(function(){                
			$(".new").show();
            $(".old").hide();  
			
        });
    </script> -->
	{{ form.media }}
	{% endblock %}