{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<section id="content" class="content-wrapper">
        <div class="container">
        	<div class="action-header clearfix mb-3">
	            <div class="ah-label hidden-xs mdc-text-grey-900" style="color : #fff;">{{title}}</div>
	        </div>
            <div class="ah-search">
            	<form method="get" action="{% url 'finance:bank_accounts' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>

            <ul class="ah-actions actions a-alt">
                {% if instance %}
                    {% if user in super_users or 'can_create_bank_account' in user_instance.permissionlist %}
	                    <li>
	                        <a title="Create staff" href="{% url 'finance:create_bank_account' %}">
	                            <i class="zmdi zmdi-plus"></i>
	                        </a>
	                    </li>
                    {% endif %} 
                    {% if user in super_users or 'can_view_bank_account' in user_instance.permissionlist %}
	                    <li>
	                        <a title="View staff" href="{% url 'finance:bank_account' pk=instance.pk %}">
	                            <i class="zmdi zmdi-eye"></i>
	                        </a>
	                    </li>
                    {% endif %} 
                    {% if user in super_users or 'can_delete_bank_account' in user_instance.permissionlist %}
	                    <li>
	                        <a title="Delete staff" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'finance:delete_bank_account' pk=instance.pk %}" class="action-button redirect">
	                            <i class="zmdi zmdi-delete"></i>
	                        </a>
	                    </li>
                    {% endif %} 
                {% endif %}                               
            </ul>

            <div class="card">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group fg-line">
	                                <label for="{{ form.name.id_for_label }}">
	                                	{{ form.name.label }}
	                                	{% if form.name.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}
							        	
							        	{% if form.name.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.name }}
	                                
	                                {% if form.name.errors %}
	                                	<label class="error">{{ form.name.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
	                            
	                            <div class="form-group fg-line">
	                                <label for="{{ form.asset_category.id_for_label }}">
	                                	{{ form.ifsc.label }}
	                                	{% if form.ifsc.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}
							        	
							        	{% if form.ifsc.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.ifsc.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.ifsc }}
	                                
	                                {% if form.ifsc.errors %}
	                                	<label class="error">{{ form.ifsc.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
	                            
	                            <div class="form-group fg-line m-b-0">
	                                <label for="{{ form.branch.id_for_label }}">
	                                	{{ form.branch.label }}
	                                	{% if form.branch.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}
							        	
							        	{% if form.branch.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.branch.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.branch }}
	                                
	                                {% if form.branch.errors %}
	                                	<label class="error">{{ form.branch.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
                            </div>
                            
                            <div class="col-sm-6">
                            	<div class="form-group fg-line">
	                                <label for="{{ form.account_type.id_for_label }}">
	                                	{{ form.account_type.label }}
	                                	{% if form.account_type.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}
							        	
							        	{% if form.account_type.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.account_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.account_type }}
	                                
	                                {% if form.account_type.errors %}
	                                	<label class="error">{{ form.account_type.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
	                            
                                 <div class="form-group dtp-container fg-line">
	                                <label for="{{ form.account_no.id_for_label }}">
	                                	{{ form.account_no.label }}
	                                	{% if form.account_no.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}
							        	
							        	{% if form.account_no.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.account_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.account_no }}
	                                
	                                {% if form.account_no.errors %}
	                                	<label class="error">{{ form.account_no.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
	                            
	                            <div class="form-group dtp-container fg-line m-b-0">
	                                <label for="{{ form.first_time_balance.id_for_label }}">
	                                	{{ form.first_time_balance.label }}
	                                	{% if form.first_time_balance.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}
							        	
							        	{% if form.first_time_balance.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.first_time_balance.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.first_time_balance }}
	                                
	                                {% if form.first_time_balance.errors %}
	                                	<label class="error">{{ form.first_time_balance.errors.as_text }}</label>
	                                {% endif %}
	                            </div>
	                            
                                <br>	
                            </div>
                         </div>
                         
                         <div class="m-t-20">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                     </div>  
                 </form>                    
            </div>
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
	<link href="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
	<script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('input[type=text]').focus(function () { 
	        $(this).select();
	    		});
		  });
	</script>
{% endblock %}