{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'finance:assets' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}	                		
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">General Details</h4>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.name.id_for_label }}">
		                                	{{ form.name.label }}
		                                	{% if form.name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.name }}

		                                {% if form.name.errors %}
		                                	<label class="error">{{ form.name.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.asset_category.id_for_label }}">
		                                	{{ form.asset_category.label }}
		                                	{% if form.asset_category.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.asset_category.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.asset_category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.asset_category }}

		                                {% if form.asset_category.errors %}
		                                	<label class="error">{{ form.asset_category.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.account_group.id_for_label }}">
		                                	{{ form.account_group.label }}
		                                	{% if form.account_group.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.account_group.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.account_group.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.account_group }}

		                                {% if form.account_group.errors %}
		                                	<label class="error">{{ form.account_group.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.asset_subcategory.id_for_label }}">
		                                	{{ form.asset_subcategory.label }}
		                                	{% if form.asset_subcategory.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.asset_subcategory.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.asset_subcategory.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.asset_subcategory }}

		                                {% if form.asset_subcategory.errors %}
		                                	<label class="error">{{ form.asset_subcategory.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.count.id_for_label }}">
		                                	{{ form.count.label }}
		                                	{% if form.count.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.count.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.count.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.count }}

		                                {% if form.count.errors %}
		                                	<label class="error">{{ form.count.errors.as_text }}</label>
		                                {% endif %}
		                            </div>	
		                            <div class="form-group fg-line">
		                                <label for="{{ form.amount.id_for_label }}">
		                                	{{ form.amount.label }}
		                                	{% if form.amount.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.amount.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.amount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.amount }}

		                                {% if form.amount.errors %}
		                                	<label class="error">{{ form.amount.errors.as_text }}</label>
		                                {% endif %}
		                            </div>			                            
			                    </div>
		                    </div>
		                </div>
		                
						
	                </div>

                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
	{% endblock %}
	
{% block static %}
{% load static %}
<!-- <script type="text/javascript">
	
	var $asset_category = $('#id_asset_category').val();
	if ($asset_category == "") {
		$('#id_asset_subcategory').html('<option value="">--Select Asset Category first--</option>');
		$('#id_asset_subcategory').trigger("chosen:updated");
	} else {
		showDivisions($asset_category);
	}
	
	$(document).on('change', '#id_asset_category', function () {
		var $asset_category = $(this).val();
		showDivisions($asset_category);
	});
	
	function showDivisions($asset_category) {
		if ($asset_category == "") {
			$('#id_asset_subcategory').html('<option value="">--Select Asset Category first--</option>');
			$('#id_asset_subcategory').trigger("chosen:updated");
		} else {
			var url = "{% url 'finance:get_asset_subcategories' %}" + "?pk=" + $asset_category;
			
			$.getJSON(url, function (models) {
				var options = '<option value="">---------</option>';
				for (var i = 0; i < models.length; i++) {
					options += '<option value="' + models[i].pk + '">' + models[i].fields['name'] + '</option>';
				}
				$('#id_asset_subcategory').html(options);

                    $('#id_asset_subcategory').trigger("chosen:updated");
					
                }).fail(function (jqxhr, textStatus, error) {
					var err = textStatus + ", " + error;
                    console.log("Request Failed: " + err);
                });
            }
        }
		
    </script> -->
	{{ form.media }}
	{% endblock %}