{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'finance:cash_accounts' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form enctype="multipart/form-data" method="post" action="{{url}}">
                	{% csrf_token %}	                		
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Transactiom Mode</h4>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.transaction_category.id_for_label }}">
		                                	{{ form.transaction_category.label }}
		                                	{% if form.transaction_category.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.transaction_category.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.transaction_category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.transaction_category }}

		                                {% if form.transaction_category.errors %}
		                                	<label class="error">{{ form.transaction_category.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.date.id_for_label }}">
		                                	{{ form.date.label }}
		                                	{% if form.date.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.date.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.date }}

		                                {% if form.date.errors %}
		                                	<label class="error">{{ form.date.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.amount.id_for_label }}">
		                                	{{ form.amount.label }}
		                                	{% if form.amount.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.amount.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.amount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.amount }}

		                                {% if form.amount.errors %}
		                                	<label class="error">{{ form.amount.errors.as_text }}</label>
		                                {% endif %}
		                            </div>			                        
			                    </div>
		                    </div>
		                </div>
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Transactions Details</h4>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.transaction_mode.id_for_label }}">
		                                	{{ form.transaction_mode.label }}
		                                	{% if form.transaction_mode.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.transaction_mode.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.transaction_mode }}

		                                {% if form.transaction_mode.errors %}
		                                	<label class="error">{{ form.transaction_mode.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.payment_mode.id_for_label }}">
		                                	{{ form.payment_mode.label }}
		                                	{% if form.payment_mode.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.payment_mode.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.payment_mode }}

		                                {% if form.payment_mode.errors %}
		                                	<label class="error">{{ form.payment_mode.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.cheque_details.id_for_label }}">
		                                	{{ form.cheque_details.label }}
		                                	{% if form.cheque_details.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.cheque_details.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.cheque_details }}

		                                {% if form.cheque_details.errors %}
		                                	<label class="error">{{ form.cheque_details.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="row">
			                            <div class="form-group col-sm-5 m-b-20">
		                            		<div class="toggle-switch">
										        <label class="ts-label" for="{{ form.is_cheque_withdrawed.id_for_label }}">
													{{ form.is_cheque_withdrawed.label }}
				                                	{% if form.is_cheque_withdrawed.field.required %}
										        		<small class="star">*</small>
										        	{% endif %}
										        	
										        	{% if form.is_cheque_withdrawed.help_text %}
										        		<span data-original-title="Field Info" title="" data-content="{{ form.is_cheque_withdrawed.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
				                                    {% endif %}
										        </label>
										        {{ form.is_cheque_withdrawed }}
										        <label class="ts-helper" for="ts1"></label>
										    </div>
										    
										    {% if form.is_cheque_withdrawed.errors %}
										    	<label class="error">{{ form.is_cheque_withdrawed.errors.as_text }}</label>
									    {% endif %}
	                            	    </div>
                            	    </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.card_details.id_for_label }}">
		                                	{{ form.card_details.label }}
		                                	{% if form.card_details.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.card_details.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.card_details }}

		                                {% if form.card_details.errors %}
		                                	<label class="error">{{ form.card_details.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.payment_to.id_for_label }}">
		                                	{{ form.payment_to.label }}
		                                	{% if form.payment_to.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.payment_to.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.payment_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.payment_to }}

		                                {% if form.payment_to.errors %}
		                                	<label class="error">{{ form.payment_to.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.bank_account.id_for_label }}">
		                                	{{ form.bank_account.label }}
		                                	{% if form.bank_account.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.bank_account.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.bank_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.bank_account }}

		                                {% if form.bank_account.errors %}
		                                	<label class="error">{{ form.bank_account.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            <div class="form-group fg-line">
		                                <label for="{{ form.cash_account.id_for_label }}">
		                                	{{ form.cash_account.label }}
		                                	{% if form.cash_account.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.cash_account.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.cash_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.cash_account }}

		                                {% if form.cash_account.errors %}
		                                	<label class="error">{{ form.cash_account.errors.as_text }}</label>
		                                {% endif %}
		                            </div>		                            
			                    </div>
		                    </div>
		                </div>
		                
						
	                </div>

                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
{{ form.media }}
{% endblock %}

{% block static %}
	{% load static %}

{% endblock %}