{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'finance:expenses' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}	                		
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">General Details</h4>

			                    	<div class="form-group fg-line">
		                                <label for="{{ form.account_group.id_for_label }}">
		                                	{{ form.account_group.label }}
		                                	{% if form.account_group.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.account_group.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.account_group.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.account_group }}

		                                {% if form.account_group.errors %}
		                                	<label class="error">{{ form.account_group.errors.as_text }}</label>
		                                {% endif %}
		                            </div>

			                        <div class="form-group fg-line">
		                                <label for="{{ form.account_head.id_for_label }}">
		                                	{{ form.account_head.label }}
		                                	{% if form.account_head.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.account_head.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.account_head.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.account_head }}

		                                {% if form.account_head.errors %}
		                                	<label class="error">{{ form.account_head.errors.as_text }}</label>
		                                {% endif %}
		                            </div>

			                        <div class="form-group fg-line">
		                                <label for="{{ form.date.id_for_label }}">
		                                	{{ form.date.label }}
		                                	{% if form.date.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.date.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.date }}

		                                {% if form.date.errors %}
		                                	<label class="error">{{ form.date.errors.as_text }}</label>
		                                {% endif %}
		                            </div>

			                        <div class="form-group fg-line">
		                                <label for="{{ form.title.id_for_label }}">
		                                	{{ form.title.label }}
		                                	{% if form.title.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.title.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.title.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.title }}

		                                {% if form.title.errors %}
		                                	<label class="error">{{ form.title.errors.as_text }}</label>
		                                {% endif %}
		                            </div>

		                            <div class="form-group fg-line">
		                                <label for="{{ form.description.id_for_label }}">
		                                	{{ form.description.label }}
		                                	{% if form.description.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.description.help_text %}
								        		<span data-original-description="Field Info" description="" data-content="{{ form.description.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.description }}

		                                {% if form.description.errors %}
		                                	<label class="error">{{ form.description.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
		                            
		                            <div class="form-group fg-line">
		                                <label for="{{ form.amount.id_for_label }}">
		                                	{{ form.amount.label }}
		                                	{% if form.amount.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.amount.help_text %}
								        		<span data-original-amount="Field Info" amount="" data-content="{{ form.amount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.amount }}

		                                {% if form.amount.errors %}
		                                	<label class="error">{{ form.amount.errors.as_text }}</label>
		                                {% endif %}
		                            </div>			                        
			                    </div>
		                    </div>
		                </div>
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Transaction Details</h4>                   
			                        <div class="form-group fg-line">
			                            <label for="{{ form.transaction_mode.id_for_label }}">
			                            	{{ form.transaction_mode.label }}
			                            	{% if form.transaction_mode.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.transaction_mode.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.transaction_mode }}
			                            
			                            {% if form.transaction_mode.errors %}
			                            	<label class="error">{{ form.transaction_mode.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.payment_mode.id_for_label }}">
			                            	{{ form.payment_mode.label }}
			                            	{% if form.payment_mode.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.payment_mode.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.payment_mode }}
			                            
			                            {% if form.payment_mode.errors %}
			                            	<label class="error">{{ form.payment_mode.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.cheque_details.id_for_label }}">
			                            	{{ form.cheque_details.label }}
			                            	{% if form.cheque_details.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.cheque_details.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.cheque_details }}
			                            
			                            {% if form.cheque_details.errors %}
			                            	<label class="error">{{ form.cheque_details.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line">
		                                <div class="checkbox">
		                                    {{ form.is_cheque_withdrawed }}
		                                    <i class="input-helper"></i>       
		                                    <label class="checkbox__label"
		                                           for="{{ form.is_cheque_withdrawed.id_for_label }}">{{ form.is_cheque_withdrawed.label }}</label>
		                                </div>
		                            </div>
		                            
			                        <div class="form-group fg-line">
			                            <label for="{{ form.card_details.id_for_label }}">
			                            	{{ form.card_details.label }}
			                            	{% if form.card_details.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.card_details.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.card_details }}
			                            
			                            {% if form.card_details.errors %}
			                            	<label class="error">{{ form.card_details.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                    </div>
		                    </div>
		                </div>
	                </div>

                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
	{% endblock %}
	
	
	{% block static %}

    {% load static %}
    {{ form.media }}
    <script type="text/javascript">
   
        function showHidePaymentModeItems() {
            var transaction_mode = $('#id_transaction_mode').val();
            if (transaction_mode == "bank") {
                var mode = $('#id_payment_mode').val();
                var $cheque_parents = $('.cheque_item').parents('div.form-group');
                var $card_parents = $('.card_item').parents('div.form-group');
                if (mode == "cheque_payment") {
                    $cheque_parents.show();
                    $card_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_cash_account').parents('div.form-group').hide();

                } else if (mode == "card_payment") {
                    $cheque_parents.hide();
                    $card_parents.show();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();

                } else if (mode == "internet_banking") {
                    $card_parents.hide();
                    $cheque_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                }

                showHidePaymentToItems();
            }
        }

        function showHideCashBank() {
            var mode = $('#id_transaction_mode').val();
            var $bank_parents = $('.bank_item').parents('div.form-group');
            if (mode == "cash") {
                $bank_parents.hide();
                $('#id_payment_to').val('cash_account').change();
                $('#id_cash_account').parents('div.form-group').show();
            } else {
                $bank_parents.show();
                showHidePaymentModeItems();
            }
        }

        function showHidePaymentToItems() {
            var transaction_mode = $('#id_transaction_mode').val();
            if (transaction_mode == "bank") {
                var to = $('#id_payment_to').val();
                if (to == "bank_account") {
                    $('#id_bank_account').parents('div.form-group').show();
                    $('#id_cash_account').parents('div.form-group').hide();
                } else {
                    $('#id_cash_account').parents('div.form-group').show();
                    $('#id_bank_account').parents('div.form-group').hide();
                }
            }
        }

        $(document).ready(function () {
            showHideCashBank();
            showHidePaymentModeItems();

            $(document).on('change', '#id_transaction_mode', function () {
                showHideCashBank();
            });

            $(document).on('change', '#id_payment_mode', function () {
                showHidePaymentModeItems();
            });

        });
    </script>
{{ form.media }}
{% endblock %}