{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label hidden-xs mdc-text-grey-900">{{title}}</div>
    </div>
    
    <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {% for instance in student_fees %}
                                {% if instance.amount %}
                                    <li class="fee-card">
                                        <input type="hidden" name="student_fee" value={{instance.pk}} class="student_fee" />
                                        <h5>{{instance.fee_category.name}}</h5>
                                        <p style="display: inline-block;">
                                            <label for="amount">Amount</label>
                                            <input type="text" name="amount" value="{{instance.amount}}" disabled="disabled" />
                                        </p>
                                         <p style="display: inline-block;">
                                            <label for="paid">Paid</label>
                                            <input type="text" name="paid" value="{{instance.paid}}" disabled="disabled" />
                                        </p>
                                         <p style="display: inline-block;" class="balance">
                                            <label for="balance">Amount To Be Paid</label>
                                            <input type="text" name="balance" value="{{instance.balance}}" />
                                        </p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <br class="clear" />
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>
       
        <div class="mt-3">
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </div>
    </form>
</section>
<!-- content-wrapper ends -->
{% endblock %}
{% block static %}
    {% load static %}
    <script type="text/javascript">
    
        {% if is_create %}
        var $fee_category = $('#id_fee_category').val();
        if($fee_category == ""){
            $('#id_amount').html('<option value="">--Select fee category first--</option>');
            $('#id_amount').trigger("chosen:updated");
        }else{
            showDivisions($fee_category);
        }
    {% endif %}

    $(document).on('change','#id_fee_category', function(){
        var $fee_category = $(this).val();
        showAmounts();
    });

    function showAmounts(){  
        var $fee_category = $('#id_fee_category').val();
        var $admission =$('.admission').val()
        if($fee_category == "" || $fee_category == null){
            $('#id_amount').attr("value",0);
        }else{
            var url = "{% url 'students:get_amounts' %}";
            $.ajax({
                type : "GET",
                url : url,
                data: { 
                    id : $fee_category,
                    admission : $admission
                } ,
                dataType : 'json',
                success : function(data){
                    var status = data['status'];
                    var amount = data['amount'];                
                    if(status == "true"){
                        $('#id_amount').val(amount);
                    }
                },
            });
        }
    } 
    </script>
    <style type="text/css">
        div.card-body ul li.fee-card {
            float: left;
            background: #f1f0f0;
            width: 49%;
            margin-right: 2%;
            margin-bottom: 2%;
            list-style: none;
            padding-left: 10px;
            padding-top: 3%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
        }
        div.card-body ul {
            float: left;
            width: 100%;
        }
        div.card-body ul li:nth-child(2n) {
            margin-right: 0;
        }
        div.card-body ul li input {
            display: block;
            width: 100%;
        }
        div.card-body ul li.fee-card h5 {
            color: #000;
            margin-bottom: 7%;
            font-weight: bold;
        }
        div.card-body ul li p {
            width: 32%;
        }

    </style>
    <script type="text/javascript">
        function showHideCreditUser(){
            var category = $('#id_transaction_category option:selected').text();
            var $user_parent = $('#id_shop_credit_user').parents('div.form-group');
            if(category == "debit"){
                $user_parent.show();
            }else{
                $user_parent.hide();
            }
        }
        
        function showHideCashBank(){
            var mode = $('#id_transaction_mode').val();
            var $bank_parents = $('.bank_item').parents('div.form-group');
            if (mode == "cash"){
                $bank_parents.hide();
                $('#id_payment_to').val('cash_account').change();
                $('#id_cash_account').parents('div.form-group').show();
            }else{
                $bank_parents.show();       
                showHidePaymentModeItems();     
            }
        }
        
        function showHidePaymentModeItems(){
            var transaction_mode = $('#id_transaction_mode').val();         
            if(transaction_mode == "bank"){
                var mode = $('#id_payment_mode').val();
                var $cheque_parents = $('.cheque_item').parents('div.form-group');
                var $card_parents = $('.card_item').parents('div.form-group');
                if (mode == "cheque_payment"){
                    $cheque_parents.show();
                    $card_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_cash_account').parents('div.form-group').hide();
                    
                }else if(mode == "card_payment"){
                    $cheque_parents.hide();
                    $card_parents.show();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                    
                }else if(mode == "internet_banking"){
                    $card_parents.hide();
                    $cheque_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                }
                
                showHidePaymentToItems();
            }           
        }
        
        function showHidePaymentToItems(){
            var transaction_mode = $('#id_transaction_mode').val();
            if(transaction_mode == "bank"){
                var to = $('#id_payment_to').val();
                if(to == "bank_account"){
                    $('#id_bank_account').parents('div.form-group').show();
                    $('#id_cash_account').parents('div.form-group').hide();
                }else{
                    $('#id_cash_account').parents('div.form-group').show();
                    $('#id_bank_account').parents('div.form-group').hide();
                }
            }
        }
        
        $(document).ready(function(){
            showHideCreditUser();
            showHideCashBank();
            showHidePaymentModeItems();
            showHidePaymentToItems();
            
            $(document).on('change','#id_transaction_category',function(){
                showHideCreditUser();
            });
            
            $(document).on('change','#id_transaction_mode',function(){
                showHideCashBank();
            });
            
            $(document).on('change','#id_payment_mode',function(){
                showHidePaymentModeItems();
            });
            
            $(document).on('change','#id_payment_to',function(){
                showHidePaymentToItems();
            });
            
        });
    </script>
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}