{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-">
    <div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900">{{title}}</div>
    </div>
    
    <link rel="stylesheet" href="{% static 'css/fee_style.css' %}" />
    <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

       <!--  <section id="content">
            <section class="">
                <ul class="content">
                {% for student_fee in student_fees %}
                    <li class="card">
                        <h3>
                            {% if student_fee.fee_category.name == "admission_fee" %}
                            Admission Fee
                            {% elif student_fee.fee_category.name == "diary_fee" %}
                            Diary Fee
                            {% elif student_fee.fee_category.name == "computer_fee" %}
                            Computer Fee
                            {% elif student_fee.fee_category.name == "library_fee" %}
                            Library Fee
                            {% endif %}
                            <span class="right">{{student_fee.amount}}</span>
                            <br class="clear" />
                        </h3>
                        <div>
                            <div class="widget1 one">
                                <h4>Paid</h4>
                                <span>{{student_fee.paid}}</span>
                            </div>
                            <div class="widget2 one">
                                <h4>Balance</h4>
                                <span>{{student_fee.balance}}</span>
                            </div>
                            <div class="widget3 one">
                                <h4>Paying</h4> 
                                <input type="hidden" name="other_fee" value="{{student_fee.id}}" style="display: none;">
                                {% if student_fee.amount == student_fee.paid %}
                                <input data-amount="{{student_fee.amount}}"  data-id="{{student_fee.id}}" class="student_fee_amount" type="text" id="id_student_fee_paying_amount" name="other_fee_amount" value="0.00"  />
                                {% else %}
                                <input data-amount="{{student_fee.amount}}"  data-id="{{student_fee.id}}" class="student_fee_amount" type="text" id="id_student_fee_paying_amount" name="other_fee_amount" value="0.00" />                               
                                {% endif %}
                            </div>
                            <br class="clear" />
                        </div>                    
                    </li>
                {% endfor %}     
                </ul>
                <br class="clear" />
                <span id="id_fee_amount" style="display: none;">0.00</span>  
            </section>        
        </section> -->

        <section id="content-info">
            <section class="">
                <section class="card info">
                    <div class="top">
                        <h3>
                            Transportation Fee
                            <span class="right">{{monthly_fee_amount}}</span>
                            <br class="clear" />
                        </h3>                       
                    </div><!-- (#content-info) > .wrapper > div.top -->
                    <div class="cards">
                        <ul class="cards">
                            {% for monthly_fee in monthly_fees %}
                            <li class="{% if monthly_fee.balance == 0 %}paid{% endif %}" data-amount="{{monthly_fee.amount}}"  data-id="{{monthly_fee.id}}" >
                                <input type="checkbox" name="monthly_fee" value="{{monthly_fee.id}}" style="display: none;">
                                <input type='hidden' name="month_name" value="{{monthly_fee.month}}" style="display: none;">
                                <h4>{{monthly_fee.get_month_display}}</h4>   
                                <span class="bar">
                                    <span class="content-bar {% if monthly_fee.balance <= 0 %}paid {% elif monthly_fee.balance > 0 and monthly_fee.paid > 0 %}partial{% endif %} {% if monthly_fee.balance > 0 and monthly_fee.paid > 0 %}style=width:{{monthly_fee.percentage}}%{% endif %}"></span>
                                </span>
                                <span class="value">
                                    {{monthly_fee.paid}}
                                </span>
                                <span class="icon">
                                    <small data-id="{{monthly_fee.id}}" class="children" ></small>
                                </span> 
                            </li>
                            {% endfor %}
                        </ul>
                        <br class="clear" />
                    </div><!-- (#content-info) > .wrapper > div.cards -->
                    <div class="bottom">
                        <div>
                            <h4>Total Amount</h4>
                            <span id="id_total_amount">0.00</span>
                        </div>
                        <div>
                            <h4>Amount Paying</h4>
                            <input type="text" id="id_amount_paying" placeholder="" name="amount_paying" value="0.00" />
                        </div>
                        <div>
                            <h4>Discount</h4>
                            <input type="text" id="id_discount" name="discount" value="0.00" />
                        </div>
                        <div>
                            <h4>Amount To Be Paid</h4>
                            <span id="id_amount_to_be_paid">0.00</span>
                        </div><!-- (#content-info) > .wrapper > div.bottom div -->
                        <br class="clear" />
                    </div><!-- (#content-info) > .wrapper > div.bottom -->
                </section><!-- (#content-info) > .wrapper > .info -->   
            </section><!-- (#content-info) > .wrapper -->
        </section><!-- (#content-info) -->
  
        <div class="card">                              
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-head">
                            <h3 style="margin-bottom: 20px;">Transaction Details</h3>                    
                        </div>
                         <div class="form-group card-body fg-line">
                            <label for="{{ transaction_form.transaction_mode.id_for_label }}">
                                {{ transaction_form.transaction_mode.label }}
                                {% if transaction_form.transaction_mode.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if transaction_form.transaction_mode.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ transaction_form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ transaction_form.transaction_mode }}
                            
                            {% if transaction_form.transaction_mode.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.transaction_mode.errors.as_text }}</label>
                            {% endif %}
                        </div>

                        
                        <div class="form-group card-body fg-line">
                            <label for="{{ transaction_form.payment_mode.id_for_label }}">
                                {{ transaction_form.payment_mode.label }}
                                {% if transaction_form.payment_mode.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if transaction_form.payment_mode.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ transaction_form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ transaction_form.payment_mode }}
                            
                            {% if transaction_form.payment_mode.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.payment_mode.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        
                        <div class="form-group card-body fg-line">
                            <label for="{{ transaction_form.cheque_details.id_for_label }}">
                                {{ transaction_form.cheque_details.label }}
                                {% if transaction_form.cheque_details.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if transaction_form.cheque_details.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ transaction_form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ transaction_form.cheque_details }}
                            
                            {% if transaction_form.cheque_details.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.cheque_details.errors.as_text }}</label>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card-head">
                            <h3 style="margin-bottom: 20px;color:#fff;">Transaction Details</h3>                    
                        </div>
                        <div class="form-group card-body col-sm-5 m-b-20">
                            <div class="toggle-switch">
                                <label class="ts-label" for="{{ transaction_form.is_cheque_withdrawed.id_for_label }}">
                                    {{ transaction_form.is_cheque_withdrawed.label }}
                                    {% if transaction_form.is_cheque_withdrawed.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.is_cheque_withdrawed.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ transaction_form.is_cheque_withdrawed.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ transaction_form.is_cheque_withdrawed }}
                                <label class="ts-helper" for="ts1"></label>
                            </div>
                            
                            {% if transaction_form.is_cheque_withdrawed.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.is_cheque_withdrawed.errors.as_text }}</label>
                        {% endif %}
                        </div>
                        <div class="form-group card-body fg-line m-b-0">
                            <label for="{{ transaction_form.card_details.id_for_label }}">
                                {{ transaction_form.card_details.label }}
                                {% if transaction_form.card_details.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if transaction_form.card_details.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ transaction_form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ transaction_form.card_details }}
                            
                            {% if transaction_form.card_details.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.card_details.errors.as_text }}</label>
                            {% endif %}
                        </div>

                        <div class="form-group card-body fg-line m-b-0">
                            <label for="{{ transaction_form.payment_to.id_for_label }}">
                                {{ transaction_form.payment_to.label }}
                                {% if transaction_form.payment_to.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if transaction_form.payment_to.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ transaction_form.payment_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ transaction_form.payment_to }}
                            
                            {% if transaction_form.payment_to.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.payment_to.errors.as_text }}</label>
                            {% endif %}
                        </div>

                        <div class="form-group card-body fg-line m-b-0">
                            <label for="{{ transaction_form.bank_account.id_for_label }}">
                                {{ transaction_form.bank_account.label }}
                                {% if transaction_form.bank_account.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if transaction_form.bank_account.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ transaction_form.bank_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ transaction_form.bank_account }}
                            
                            {% if transaction_form.bank_account.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.bank_account.errors.as_text }}</label>
                            {% endif %}
                        </div>

                        <div class="form-group card-body fg-line m-b-0">
                            <label for="{{ transaction_form.cash_account.id_for_label }}">
                                {{ transaction_form.cash_account.label }}
                                {% if transaction_form.cash_account.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if transaction_form.cash_account.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ transaction_form.cash_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ transaction_form.cash_account }}
                            
                            {% if transaction_form.cash_account.errors %}
                                <label class="error" style="color: #d11;">{{ transaction_form.cash_account.errors.as_text }}</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="bottom">
            <section class="wrapper">
                <section class="card bottom">
                    <h4>Total Amount To Be paid
                        <span id="id_total_amount_to_be_paid" class="right amount">0.00</span>
                    </h4>
                    <input type="submit" class="button" value="Submit" />
                    <br class="clear" />
                </section><!-- (#bottom) > .wrapper > .bottom -->
            </section><!-- (#bottom) > .wrapper -->
        </section><!-- (#bottom) -->

    </form>
</section>

{% endblock %}
{% block static %}
    {% load static %}
        <script  type="text/javascript"> 
            $(document).ready(function(){
                $('ul.cards li').click(function(){
                    var $this = $(this);
                    var is_paid = $this.hasClass('paid');
                    var is_active = $this.hasClass('active');

                    if (!is_paid){

                        if (!is_active){
                            $this.addClass('active');
                            $this.find("input[name=monthly_fee]").prop('checked',true);
                            var id = $this.data('id');
                            var amount = parseFloat($this.data('amount'));
                            if(!amount){
                                amount = 0;
                            }

                            feeCalculate(amount,"increase")
                        } else {
                            $this.removeClass('active');
                            $this.find("input[name=monthly_fee]").prop('checked',false);
                            var id = $this.data('id');
                            var amount = parseFloat($this.data('amount'));
                            if(!amount){
                                amount = 0;
                            }

                            feeCalculate(amount,"decrease")
                        }

                    }
                    
                });
                showHideCreditUser();
                showHideCashBank();
                showHidePaymentModeItems();
                showHidePaymentToItems();
                
                $(document).on('change','#id_transaction_category',function(){
                    showHideCreditUser();
                });
                
                $(document).on('change','#id_transaction_mode',function(){
                    showHideCashBank();
                });
                
                $(document).on('change','#id_payment_mode',function(){
                    showHidePaymentModeItems();
                });
                
                $(document).on('change','#id_payment_to',function(){
                    showHidePaymentToItems();
                });
            });

            function feeCalculate(amount,mode){
                var total_amount = parseFloat($('#id_total_amount').html());
                if(!total_amount){
                    total_amount = 0;
                }
                if (mode == "increase"){
                    var new_total = total_amount + amount;
                } else if (mode == "decrease") {
                    var new_total = total_amount - amount;
                }
                
                $('#id_total_amount').html(new_total);

                calculate();
            }
            $(document).on('change keyup','#id_amount_paying, #id_discount','#id_fee_amount',function(){
                calculate();
            });

            $(document).on('change','#id_student_fee_paying_amount',function(){
                var $this = $(this);
                var id = $this.data('id');
                var amount = parseFloat($this.val());
                var fee_amount = parseFloat($('#id_fee_amount').html());
                var new_total = fee_amount + amount;
                console.log(new_total)
                $('#id_fee_amount').html(new_total);
                calculate();
            });

            function calculate(){
                console.log("Hello");
                var total_amount = parseFloat($('#id_total_amount').html());
                if(!total_amount){
                    total_amount = 0;
                }

                var amount_paying = parseFloat($('#id_amount_paying').val());
                if(!amount_paying){
                    amount_paying = 0;
                }

                var discount = parseFloat($('#id_discount').val());
                if(!discount){
                    discount = 0;
                }

                var fee_amount = parseFloat($('#id_fee_amount').html());
                console.log(fee_amount)
                if(!fee_amount){
                    fee_amount = 0;
                }

                var amount_to_be_paid = amount_paying - discount;
                var total_amount_to_be_paid = amount_to_be_paid + fee_amount

                $('#id_amount_to_be_paid').html(amount_to_be_paid);
                $('#id_total_amount_to_be_paid').html(total_amount_to_be_paid);
            }

            
        function showHideCreditUser(){
            var category = $('#id_transaction_category option:selected').text();
            var $user_parent = $('#id_shop_credit_user').parents('div.form-group');
            if(category == "debit"){
                $user_parent.show();
            }else{
                $user_parent.hide();
            }
        }
        
        function showHideCashBank(){
            var mode = $('#id_transaction_mode').val();
            var $bank_parents = $('.bank_item').parents('div.form-group');
            if (mode == "cash"){
                $bank_parents.hide();
                $('#id_payment_to').val('cash_account').change();
                $('#id_cash_account').parents('div.form-group').show();
            }else{
                $bank_parents.show();       
                showHidePaymentModeItems();     
            }
        }
        
        function showHidePaymentModeItems(){
            var transaction_mode = $('#id_transaction_mode').val();         
            if(transaction_mode == "bank"){
                var mode = $('#id_payment_mode').val();
                var $cheque_parents = $('.cheque_item').parents('div.form-group');
                var $card_parents = $('.card_item').parents('div.form-group');
                if (mode == "cheque_payment"){
                    $cheque_parents.show();
                    $card_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_cash_account').parents('div.form-group').hide();
                    
                }else if(mode == "card_payment"){
                    $cheque_parents.hide();
                    $card_parents.show();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                    
                }else if(mode == "internet_banking"){
                    $card_parents.hide();
                    $cheque_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                }
                
                showHidePaymentToItems();
            }           
        }
        
        function showHidePaymentToItems(){
            var transaction_mode = $('#id_transaction_mode').val();
            if(transaction_mode == "bank"){
                var to = $('#id_payment_to').val();
                if(to == "bank_account"){
                    $('#id_bank_account').parents('div.form-group').show();
                    $('#id_cash_account').parents('div.form-group').hide();
                }else{
                    $('#id_cash_account').parents('div.form-group').show();
                    $('#id_bank_account').parents('div.form-group').hide();
                }
            }
        }
        
    </script>
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    {{form.media}} 

    <style type="text/css">
        .bottom {
           box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) !important;
           padding: 20px;
        }
        #content-info .info div.bottom div input {
            padding: 0 20px;
        }
        #content-info .info div.bottom div h4 {
            margin-bottom: 3%;
        }
        .top {
            box-shadow: none;
        }
    </style>
{% endblock %}