{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:liability_subcategories' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>                
            </div>
            <div>
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                    {% csrf_token %}                            
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">                              
                                <div class="card-body card-padding">
                                    <h4 class="card-title m-b-30">General Details</h4>                                    
                                    <div class="form-group fg-line">
                                        <label for="{{ form.name.id_for_label }}">
                                            {{ form.name.label }}
                                            {% if form.name.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if form.name.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.name }}

                                        {% if form.name.errors %}
                                            <label class="error">{{ form.name.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group fg-line">
                                        <label for="{{ form.liability_category.id_for_label }}">
                                            {{ form.liability_category.label }}
                                            {% if form.liability_category.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if form.liability_category.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.liability_category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ form.liability_category }}

                                        {% if form.liability_category.errors %}
                                            <label class="error">{{ form.liability_category.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>   
            </div>
        </div>
    </section>
    {% endblock %}
    
    {% block static %}
    {% load static %}
    
    {{ form.media }}

{% endblock %}