{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}}</div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Create Cash Account" href="{% url 'finance:create_fee' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Edit Cash Account" href="{% url 'finance:edit_fee' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Cash Account" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'finance:delete_fee' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info<small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Student</div>
                                    <small class="lgi-text">{{instance.student}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">From Month</div>
                                    <small class="lgi-text">{{instance.from_month}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">To Month</div>
                                    <small class="lgi-text">{{instance.to_month}}</small>
                                </div>
                            </div> 
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Application Fee</div>
                                    <small class="lgi-text">{{instance.application_fee}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Registration Fee</div>
                                    <small class="lgi-text">{{instance.registration_fee}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Admission Fee</div>
                                    <small class="lgi-text">{{instance.admission_fee}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Special Fee</div>
                                    <small class="lgi-text">{{instance.special_fee}}</small>
                                </div>
                            </div> 
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Caution Deposit</div>
                                    <small class="lgi-text">{{instance.caution_deposit}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Tution Fee</div>
                                    <small class="lgi-text">{{instance.tution_fee}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Bus Fare</div>
                                    <small class="lgi-text">{{instance.bus_fare}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Magazine Fee</div>
                                    <small class="lgi-text">{{instance.magazine_fee}}</small>
                                </div>
                            </div> 
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Computer Fee</div>
                                    <small class="lgi-text">{{instance.computer_fee}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Examination Fee</div>
                                    <small class="lgi-text">{{instance.examination_fee}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Other Income</div>
                                    <small class="lgi-text">{{instance.other_income}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Special Fee</div>
                                    <small class="lgi-text">{{instance.special_fee}}</small>
                                </div>
                            </div> 
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Development Fund</div>
                                    <small class="lgi-text">{{instance.development_fund}}</small>
                                </div>
                            </div>                                                          
                        </div>
                    </div>
                </div>                

                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="#">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="#">{{instance.updater.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>            
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}