{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900">{{title}}</div>

        <div class="ah-search">
            <form method="get" action="">
                <input name="q" placeholder="Start typing..." class="ahs-input" type="text">

                <i class="ah-search-close mdi mdi-arrow-left" data-ma-action="ah-search-close"></i>
                <input class="hidden" type="submit">
            </form>
        </div>

        <ul class="ah-actions actions a-alt">
            <li>
                <a title="Search" href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </li>

        </ul>
        
    </div>

    <div class="m-b-30 mt-25">
        <a href=""><button type="button" title="Filter" class="filter_button btn-success btn btn1 btn-sm"><i class="mdi mdi-filter-variant"></i><b class="hidden-xs">Filter</b></button></a>
    </div>
    <div class="card">
        <div class="card-padding">
            
            {% if instances %}
            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th style="width:20px;"></th>
                            <th data-column-id="id" data-type="numeric">Sr No.</th>
                            <th>Fee categary</th>
                            <th>Class&amp;Division</th>
                            <th>Admission</th>
                            <th>Month</th>
                            <th>Amount</th>
                            <th>Date</th>
                           <!--  <th data-column-id="action" class="three">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 21 instances %}
                        {% for instance in instances %}
                        <tr class="check_items_row">
                            <td style="width:20px;">
                                <div class="form-check form-check-flat m-t-5">
                                    <label class="form-check-label">
                                        <input class="form-check-input check check-item" type="checkbox" value="{{instance.pk}}" name="delete_item" />
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'finance:transaction' pk=instance.pk %}"">{{instance.auto_id}}</a>
                            </td>
                            <td>{{instance.fee_category}}</td>
                            <td>{{instance.admission.department}} {{instance.admission.sub_division.name}}</td>
                            <td>{{instance.admission}}</td>
                            <td>{{instance.month|default:"-"}}</td>
                            <td>{{instance.amount}}</td>
                            <td>{{instance.date}}</td>
                            <td class="three">
                                <a href="{% url 'finance:transaction' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                <a href="{% url 'finance:edit_fee_payment' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                <a href="{% url 'finance:print_fee_slip' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-print"></i></a>
                                
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                {% get_pages %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% show_pages %}
                        </div>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">
                            Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>   
            <!--pagination-->
            
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}            
        </div>
        
    </div>
</section>
{% endblock %}
{% block filter_box %}
<div class="filter-box">
     <form method="get" action="">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i>Back</span>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>
                
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}