{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{ title }}</h2>
            </div>
            <div class="action-header palette-theme {{ current_theme }} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{ title }}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden"/>
                    </form>
                </div>

            </div>
        </div>

        <div class="card">

            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                    <tr>
                        <th style='width: 10%' data-column-id="name" data-type="numeric">Sl No</th>
                        <th style='width: 15%' data-column-id="debit" data-type="numeric">Date</th>
                        <th style='width: 35%' data-column-id="debit" data-type="numeric">Particulars</th>
                        <th style='width: 20%' data-column-id="credit" data-type="numeric">Debit</th>
                        <th style='width: 20%' data-column-id="credit" data-type="numeric">Credit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% load finance_template_tags %}  
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Opening Balance</td>
                        <td>{{opening_balance_debit}}</td>
                        <td>{{opening_balance_credit}}</td>
                    </tr>           
                    {% for instance in instances %}
                    <tr>                       
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.date}}</td>
                        <td>{{instance.transaction.admission|default:""}}{{instance.transaction.staff|default:""}}</td>
                        <td>{% if instance.income > 0 %}{{instance.income}}{% else %}0{% endif %}</td>
                        <td>{% if instance.expense > 0 %}{{instance.expense}}{% else %}0{% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total: </td>
                        <td>{{income}}</td>
                        <td>{{expense}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{net_profit}}</td>
                        <td>{{net_loss}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        td {
            border-right: 2px solid black;
        }
    </style>
{% endblock %}
