{% extends "invoice_base.html" %}
{% load i18n %}
{% load static %}
{% load users_template_tags %}
{% load tz %}
{% block content %}
{% load main_template_tags %}
{% load static %}
    <section id="content">
        <div class="container invoice">
            <div class="card main">
                <div class="content">
                    <header>
                        <div class="img">
                            <img src='{% static "img/talrop.png" %}' alt="Talrop" class="medium">
                            <img src='{% static "img/technewbie.png" %}' alt="Technewbie" class="medium">
                            <img src='{% static "img/unfold.png" %}' alt="Unfold" class="large">
                        </div>
                        <div class="address">
                            <p class="address large">Talrop, CITTIC, CUSAT, South Kalamassery, Cochin, Kerala, India - 682022</p>
                            <p class="address medium">www.talrop.com | hello@talrop.com | +91 858 9999 555</p>

                            <p class="title">TALROP TECHNEWBIE - ADMISSION FEE SLIP</p>
                        </div>
                        <br class="clear" />
                    </header>
                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="left">
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading lt-head">Name</div>
                                        <small class="lgi-text lt-text">{{report.name}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading lt-head">Project</div>
                                        <small class="lgi-text lt-text">{{report.project}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading lt-head">Actual Fee</div>
                                        <small class="lgi-text lt-text">{{report.student_fee}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading lt-head">Date</div>
                                        <small class="lgi-text lt-text">{{report.date.date}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading lt-head">Institute</div>
                                        <small class="lgi-text lt-text">{{report.institute}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading lt-head">Scholarship</div>
                                        <small class="lgi-text lt-text">{{report.scholarship}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <table class="product table i-table">
                        <tr>
                            <th class="lt-head">Fee</th>
                            <td class="lt-text">{{report.fee}}</td>
                            <th class="lt-head">Amount</th>
                            <td class="lt-text">{{report.amount}}</td>
                        </tr>
                        <tr>
                            <th class="lt-head">Total Amount Paid</th>
                            <td class="lt-text">{{report.paid}}</td>
                            <th class="lt-head">Balance</th>
                            <td class="lt-text">{{report.balance}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <button class="btn btn-float bgm-red m-btn" data-action="print"><i class="zmdi zmdi-print"></i></button>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <script type="text/javascript">
        document.onkeydown = function(e) {
            if(e.keyCode == 123){
                window.print();
            }
        };
        var button = document.querySelector(".print");
        button.addEventListener("click", function(){
            window.print();
        });
    </script>
    <style>
        div.card.main{
            padding: 30px;
        }
        div.main div.content {
            border: 1px solid #000;
        }
       header {
            padding-top: 60px;
            border-bottom: 1px solid #000;
            padding-bottom: 30px;
            width: 90%;
            margin: 0 auto;
            max-width:1200px;
        }
        header img {
            margin-right: 5px;
            float:left;
        }
        header img.medium {
            width: 80px;
            height: 80px;
            display: inline-block;
        }
        header img.large {
            width: 100px;
            height: 100px;
            display: inline-block;
        }

        header div.address {
            width: 55%;
            text-align: justify;
            float:right;
        }
        header .address.large {
            font-weight: bold;
            font-size: 12pt;
        }
        header .address.medium {
            font-weight: bold;
            font-size: 10pt;
        }
        header .title {
            font-weight: bold;
            font-size: 12pt;
            margin-top: 15pt;
        }
        div.shop_id {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            padding:10px 30px;
        }
        div.card-body{
            margin: 50px;
            width:880px;
            border:1px solid #000;
            margin-bottom:0;
            background-color: #B2E2F5;
        }
        div.left{
            width:390px;
            float:left;
        }
        div.right{
            width:390px;
            float:right;
        }
        div.lt-head{
            float:left;
        }
        .lt-head{
            font-weight: bold;
            background-color: #e5dcea;
        }
        small.lt-text{
            float: right;
            width:200px;
            color : #000;
        }
        table.product{
            margin: 50px;
            width:880px;
            margin-top:0;
            border:1px solid #000;
            background-color: #BBEF78
        }
        table.product tr,th,td{
            border: 1px solid #000;
        }
        table.product th,td{
            width: 220px;
        }
    </style>
{% endblock %}