{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{institute_title}}</title>
        <meta name="viewport" content="width=device-width" initial-scale="1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
    </head>
    <body>
        <section id="content" class="content-wrapper">            
            <section class="fee-receipt">
                <section class="wrapper">
                    <div class="top">
                        <h3>{{institute_title}}</h3>
                        <h3>{{current_college.address}} {{current_college.phone}}</h3>
                        <span class="no">Admn No.{{instance.admission.admn_no}}</span>
                        <span class="fee">Fee Receipt</span>
                        <span class="date">Date: {{today}}</span>
                    </div><!--(.fee-receipt>.wrapper>.top)-->

                    <div class="bottom">
                        <p>Name: {{instance.admission}}</p>
                        <p class="one">Class: {{instance.admission.sub_division}}</p>
                      <!--   <p class="one">Month: {{today.month}}</p> -->
                        <table>
                            <tr>
                                <th class="no-border">Fee Category</th>
                                <th class="no-border">Month</th>
                                <th class="pd">Rs</th>
                            </tr>
                                <tr>
                                    <td class="no-border">{{instance.fee_category.name}}</td>
                                    <td>{{instance.get_month_display|default:"-"}}</td>
                                    <td class="pd">{{instance.amount}}</td>
                                </tr>
                        </table>
                         <br class="clear" />
                        <p class="two">Rs
                            <span>{{instance.amount}}</span>
                        </p>
                        <p class="two">Principal</p>
                    </div><!--(.fee-receipt>.wrapper>.bottom)-->
                </section><!--(.fee-receipt>.wrapper)-->
            </section><!--(.fee-receipt)-->  
            <section class="fee-receipt" style="margin-top: 3pt;">
                <section class="wrapper">
                    <div class="top">
                        <h3>{{institute_title}}</h3>
                        <h3>{{current_college.address}} {{current_college.phone}}</h3>
                        <span class="no">Admn No.{{instance.admission.admn_no}}</span>
                        <span class="fee">Fee Receipt</span>
                        <span class="date">Date: {{today}}</span>
                    </div><!--(.fee-receipt>.wrapper>.top)-->

                    <div class="bottom">
                        <p>Name: {{instance.admission}}</p>
                        <p class="one">Class: {{instance.admission.sub_division}}</p>
                      <!--   <p class="one">Month: {{today.month}}</p> -->
                        <table>
                            <tr>
                                <th class="no-border">Fee Category</th>
                                <th class="no-border">Month</th>
                                <th class="pd">Rs</th>
                            </tr>
                                <tr>
                                    <td class="no-border">{{instance.fee_category.name}}</td>
                                    <td>{{instance.get_month_display|default:"-"}}</td>
                                    <td class="pd">{{instance.amount}}</td>
                                </tr>
                        </table>
                         <br class="clear" />
                        <p class="two">Rs
                            <span>{{instance.amount}}</span>
                        </p>
                        <p class="two">Principal</p>
                    </div><!--(.fee-receipt>.wrapper>.bottom)-->
                </section><!--(.fee-receipt>.wrapper)-->
            </section><!--(.fee-receipt)-->   
        </section>
    </body>
</html>
    <script  type="text/javascript"> 
        $('li').click(function(){
            var $this = $(this);
            console.log(this)
            var id = $this.data('id');
            console.log(id)
            feeCalculate()
        })
        function feeCalculate(){
               
        }
    </script>
    <style>
        br.clear{
            clear: both;
        }
        .left{
            float: left;
        }
        .right{
            float: right;
        }
        .thumb{
            display: block;
        }
        .thumb img{
            display: block;
            width:100%;
        }
        a:hover,[type="submit"]:hover{
            filter: alpha(opacity = 85);
            -moz-opacity: 0.85;
            -khtml-opacity: 0.85;
            opacity: 0.85;
        }
        .wrapper {
            width: 90%;
            margin: 0 auto;
            max-width:1200px;
        }
        .fee-receipt{
            color: #006064;
            width: 350pt;
            font-size: 15pt;
            border:3px solid #006064;
        }
        .fee-receipt div.top{
            text-align: center;
            padding: 40px 0px;
        }
        .fee-receipt div.top h3{
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .fee-receipt div.top span{
            width: 41.5%;
            display: inline-block;
            font-weight: bold;
        }
        .fee-receipt div.top span.no{
            text-align: left;
        }
        .fee-receipt div.top span.fee{
            background: #006064;
            color: #fff;
            text-transform: uppercase;
            padding: 10px 0px;
            width: 15%;
        }
        .fee-receipt div.top span.fee h3{

        }
        .fee-receipt div.top span.date{
            text-align: right;
        }
        .fee-receipt div.bottom{
            padding: 20px 0px;

        }

        .fee-receipt div.bottom p.one{
            width: 49%;
            display: inline-block;
            font-weight: bold;
        }
        .fee-receipt div.bottom table{
            width: 51%;
            border-collapse: collapse;
            float: right;
            margin: 10px 0px 60px;
            font-size: 14pt;    
        }
        .fee-receipt div.bottom table tr th{
            font-weight: bold;
        }
        .fee-receipt div.bottom table tr th,.fee-receipt div.bottom table tr td{
            border: 1px solid #006064;
            border-collapse: collapse;
            width: 15%;
            padding: 10px 0px;
            text-align: center;
        }
        .fee-receipt div.bottom table tr th.no-border,.fee-receipt div.bottom table tr td.no-border{
            width:25%;
            text-align: justify;
            padding:10px 5px;
        }
        .fee-receipt div.bottom table tr th.pd,.fee-receipt div.bottom table tr td.pd{
            width: 35%;
        }
        .fee-receipt div.bottom p.two{
            display: inline-block;
            width: 49%;
        }
        .fee-receipt div.bottom p.two span {
            border: 2px solid #006064;
            height: 25px;
            width: 80px;
            display: inline-block;  
        }

        .fee-receipt div.bottom p.one {
            width: 47%;
        }.        #fee-receipt div.top span.fee {   
        }
        #fee-receipt div.bottom table{
            width: 50%;
        }

        
        .fee-receipt{
            font-size: 8pt;
        }
        .fee-receipt div.top {
            padding: 20px 0px;
        }
        .fee-receipt div.top span {
            width: 36%;    
        }
        .fee-receipt div.top span.fee {   
            width: 25%;
        }
        .fee-receipt div.bottom {
         padding: 10px 0px;
        }

        .fee-receipt div.bottom table {    
            margin: 10px 0px;
            width: 100%;
        }
        .fee-receipt div.bottom table tr th, .fee-receipt div.bottom table tr td {
            padding: 5px 15px;
        }
        .fee-receipt div.bottom table tr th.pd,.fee-receipt div.bottom table tr td.pd{
            padding: 5px 30px;
        }
        .fee-receipt div.bottom p.two span {   
            height: 12px;
            width: 40px;    
        }
        body{
            width: 87mm;
            margin: 0 auto;
        }




        /*@media all and (max-width: 1280px){
            .fee-receipt div.bottom p.one {
                width: 47%;
            }
            .fee-receipt div.top span.fee {   
            }
            .fee-receipt div.bottom table{
                width: 50%;
            }
        }
        @media all and (max-width: 980px){
            .fee-receipt{
                font-size: 12pt;
            }
            .fee-receipt div.top {
                padding: 36px 0px;
            }
            .fee-receipt div.top span {
                width: 40%;    
            }
            .fee-receipt div.top span.fee {   
                width: 18%;
            }
            .fee-receipt div.bottom {
             padding: 18px 0px;
            }
            .fee-receipt div.bottom table {    
                margin: 82px 0px;
                width: 60%;
            }
            .fee-receipt div.bottom table tr th, .fee-receipt div.bottom table tr td {
                padding: 9px 23px;
            }
            .fee-receipt div.bottom table tr th.pd,.fee-receipt div.bottom table tr td.pd{
                padding: 9px 90px;
            }
            .fee-receipt div.bottom p.two span {   
                height: 20px;
                width: 60px;    
            }
        }
        @media all and (max-width: 768px){
            .fee-receipt{
                font-size: 11pt;
            }
            .fee-receipt div.top {
                padding: 30px 0px;
            }
            .fee-receipt div.top span {
                width: 39.5%;    
            }
            .fee-receipt div.top span.fee {   
                width: 19%;
            }
            .fee-receipt div.bottom {
             padding: 16px 0px;
            }

            .fee-receipt div.bottom table {    
                margin: 74px 0px;
                width: 60%;
            }
            .fee-receipt div.bottom table tr th, .fee-receipt div.bottom table tr td {
                padding: 8px 21px;
            }
            .fee-receipt div.bottom table tr th.pd,.fee-receipt div.bottom table tr td.pd{
                padding: 8px 80px;
            }
            .fee-receipt div.bottom p.two span {   
                height: 18px;
                width: 55px;    
            }
        }
        @media all and (max-width: 640px){
            .fee-receipt{
                font-size: 10pt;
            }
            .fee-receipt div.top {
                padding: 26px 0px;
            }
            .fee-receipt div.top span {
                width: 38%;    
            }
            .fee-receipt div.top span.fee {   
                width: 22%;
            }
            .fee-receipt div.bottom {
             padding: 14px 0px;
            }

            .fee-receipt div.bottom table {    
                margin: 66px 0px;
                width: 100%;
            }
            .fee-receipt div.bottom table tr th, .fee-receipt div.bottom table tr td {
                padding: 7px 19px;
            }
            .fee-receipt div.bottom table tr th.pd,.fee-receipt div.bottom table tr td.pd{
                padding: 7px 70px;
            }
            .fee-receipt div.bottom p.two span {   
                height: 16px;
                width: 50px;    
            }
        }
        @media all and (max-width: 480px){
            .fee-receipt{
                font-size: 8pt;
            }
            .fee-receipt div.top {
                padding: 23px 0px;
            }
            .fee-receipt div.top span {
                width: 37%;    
            }
            .fee-receipt div.top span.fee {   
                width: 24%;
            }
            .fee-receipt div.bottom {
             padding: 12px 0px;
            }

            .fee-receipt div.bottom table {    
                margin: 58px 0px;
                width: 100%;
            }
            .fee-receipt div.bottom table tr th, .fee-receipt div.bottom table tr td {
                padding: 6px 17px;
            }
            .fee-receipt div.bottom table tr th.pd,.fee-receipt div.bottom table tr td.pd{
                padding: 6px 50px;
            }
            .fee-receipt div.bottom p.two span {   
                height: 14px;
                width: 45px;    
            }
        }
        @media all and (max-width: 360px){
            .fee-receipt{
                font-size: 8pt;
            }
            .fee-receipt div.top {
                padding: 20px 0px;
            }
            .fee-receipt div.top span {
                width: 36%;    
            }
            .fee-receipt div.top span.fee {   
                width: 25%;
            }
            .fee-receipt div.bottom {
             padding: 10px 0px;
            }

            .fee-receipt div.bottom table {    
                margin: 50px 0px;
                width: 100%;
            }
            .fee-receipt div.bottom table tr th, .fee-receipt div.bottom table tr td {
                padding: 5px 15px;
            }
            .fee-receipt div.bottom table tr th.pd,.fee-receipt div.bottom table tr td.pd{
                padding: 5px 30px;
            }
            .fee-receipt div.bottom p.two span {   
                height: 12px;
                width: 40px;    
            }
        }*/
    </style>
{% block static %}
    {% load static %}
    <script type="text/javascript">
        // window.print();
    </script>    
    {{form.media}} 
{% endblock %}