{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{ title }}</h2>
            </div>
            <div class="action-header palette-theme {{ current_theme }} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{ title }}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden"/>
                    </form>
                </div>

            </div>
        </div>

        <div class="card">

            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                    <tr>
                        <th style='width: 10%' data-column-id="name" data-type="numeric">Sl No</th>
                        <th style='width: 35%' data-column-id="debit" data-type="numeric">Particulars</th>
                        <th style='width: 20%' data-column-id="credit" data-type="numeric">Income</th>
                        <th style='width: 20%' data-column-id="credit" data-type="numeric">Expenditure</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% load finance_template_tags %}             
                    {% for instance in account_heads %}
                    <tr>                       
                        <td>{{forloop.counter}}</td>
                        <td>{{instance}}</td>
                        <td>{{date|get_income:instance.pk}}</td>
                        <td>{{date|get_expense:instance.pk}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>{{count}}</td>
                        <td>Difference in Opening Balance </td>
                        <td>{{loss}}</td>
                        <td>{{profit}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total: </td>
                        <td>{{debit_amount}}</td>
                        <td>{{credit_amount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        td {
            border-right: 2px solid black;
        }
    </style>
{% endblock %}
