{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}}</div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Create Income" href="{% url 'finance:create_income' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Edit Income" href="{% url 'finance:edit_income' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Income" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'finance:delete_transaction' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Transaction Mode <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Type</div>
                                    <small class="lgi-text">{{instance.transaction_category}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Account Head</div>
                                    <small class="lgi-text">{{instance.account_head|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Amount</div>
                                    <small class="lgi-text">{{instance.amount}}</small>
                                </div>
                            </div>  
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date</div>
                                    <small class="lgi-text">{{instance.date|date:"d/m/Y"}}</small>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Transaction Details <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Transaction Mode</div>
                                    <small class="lgi-text">{{instance.get_transaction_mode_display}}</small>
                                </div>
                            </div>
                            {% if instance.transaction_mode == "bank" %}

                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Payment Mode</div>
                                        <small class="lgi-text">{{ instance.get_payment_mode_display|default:"-" }}</small>
                                    </div>
                                </div>

                                {% if instance.payment_mode == "cheque_payment" %}
                                    <div class="list-group-item media">
                                        <div class="media-body">
                                            <div class="lgi-heading">Cheque Details</div>
                                            <small class="lgi-text">{{ instance.cheque_details|default:"-" }}</small>
                                        </div>
                                    </div>

                                    <div class="list-group-item media">
                                        <div class="media-body">
                                            <div class="lgi-heading">Is cheque withdrawed</div>
                                            <small class="lgi-text">{{ instance.is_cheque_withdrawed|yesno:"Yes,No" }}</small>
                                        </div>
                                    </div>
                                {% elif instance.payment_mode == "card_payment" %}
                                    <div class="list-group-item media">
                                        <div class="media-body">
                                            <div class="lgi-heading">Card Details</div>
                                            <small class="lgi-text">{{ instance.card_details|default:"-" }}</small>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}         

                        </div>
                    </div>
                </div>                  

                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="#">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="#">{{instance.updater.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>            
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}