{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
    <section id="content">
        <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            </div>
    
    <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                     <div class="card-body card-padding add_item_container result_formset table-responsive">   
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{field.id_for_label}}" class="col-form-label fw-b fz-12">{{field.label}}</label>
                            <div class="mt-2 fz-12">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <label class="form-group" style="color: #d11;" class="error">{{ field.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </div>
    </form>
</section>
<!-- content-wrapper ends -->
{% endblock %}