{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label hidden-xs mdc-text-grey-900" style="color : #fff;">{{title}}</div>
    </div>
    
    <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

         <div class="card">
            <div class="card-body card-padding add_item_container evaluation_formset table-responsive">         
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Exam Date</th>
                            <th>From Time</th>
                            <th>To Time</th>
                            <th>Max. Score</th>
                            <th>CE Max. Score</th>
                            <th class="one"></th>
                        </tr>  
                    </thead>
                    <tbody>    
                        {% for evaluation in evaluation_formset.forms %}
                            <tr class="check_items_row form_set_row">           
                                <td>
                                    {{evaluation.id}}
                                    <span class="subject">                              
                                        {{ evaluation.subject }}
                                    </span>
                                </td>
                                <td>
                                    <span class="exam_date">                     
                                        {{evaluation.exam_date}}
                                    </span>
                                </td>
                                <td>
                                    <span>                       
                                        {{evaluation.from_time}}
                                    </span>
                                </td>
                                <td>
                                    <span>                              
                                        {{ evaluation.to_time }}
                                    </span>
                                </td>
                                <td>
                                    <span>                              
                                        {{ evaluation.max_score }}
                                    </span>
                                </td>
                                <td>
                                    <span>                              
                                        {{ evaluation.ce_max_score }}
                                    </span>
                                </td>
                                <td class="one">{% if evaluation.instance.pk %}{{ evaluation.DELETE }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ evaluation_formset.management_form }}
            </div>
        </div> 
        <div class="mt-3">
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </div>
    </form>
</section>

{{evaluation_formset.media}}
<!-- content-wrapper ends -->
{% endblock %}

{% block static %}
{% load static %}
    
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $(document).ready(function(){
            $('.evaluation_formset table tr.form_set_row').formset({
                prefix: '{{ evaluation_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {                    
                    row.find(".selectordie").selectOrDie("update");    
                }
            });
            $('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });

        });
</script>
{% endblock %}    
