{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-Black text" style="color : #fff;">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'exams:exams' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
	            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
	                	{% csrf_token %}
                	<div class="card">
	                    <div class="card-body card-padding">	                       
	                        <div class="form-group fg-line">
	                            <label for="{{ form.title.id_for_label }}">
	                            	{{ form.title.label }}
	                            	{% if form.title.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.title.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.title.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            {{ form.title }}
	                            
	                            {% if form.title.errors %}
	                            	<label class="error">{{ form.title.errors.as_text }}</label>
	                            {% endif %}
	                        </div>
	                        
	                        <div class="form-group fg-line">
	                            <label for="{{ form.from_date.id_for_label }}">
	                            	{{ form.from_date.label }}
	                            	{% if form.from_date.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.from_date.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.from_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            {% if is_edit %}
	                            	<input id="{{ form.from_date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.from_date.html_name}}" placeholder="Enter end date" value="{{ form.from_date.value|date:'m/d/Y' }}">
	                            {% else %}
	                            	{{ form.from_date }}
	                            {% endif %}
	                            
	                            {% if form.from_date.errors %}
	                            	<label class="error">{{ form.from_date.errors.as_text }}</label>
	                            {% endif %}
	                        </div>
	                        
	                        <div class="form-group fg-line">
	                            <label for="{{ form.to_date.id_for_label }}">
	                            	{{ form.to_date.label }}
	                            	{% if form.to_date.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.to_date.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.to_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            
	                            {% if is_edit %}
	                            	<input id="{{ form.to_date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.to_date.html_name}}" placeholder="Enter end date" value="{{ form.to_date.value|date:'m/d/Y' }}">
	                            {% else %}
	                            	{{ form.to_date }}
	                            {% endif %}
	                            
	                            {% if form.to_date.errors %}
	                            	<label class="error">{{ form.to_date.errors.as_text }}</label>
	                            {% endif %}
	                        </div>	                  
	                        
	                        <div class="form-group fg-line m-b-0">
	                            <label for="{{ form.department.id_for_label }}">
	                            	{{ form.department.label }}
	                            	{% if form.department.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.department.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.department.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            
	                            {% if is_edit %}
	                            	<input id="{{ form.department.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.department.html_name}}">
	                            {% else %}
	                            	{{ form.department }}
	                            {% endif %}
	                            
	                            {% if form.department.errors %}
	                            	<label class="error">{{ form.department.errors.as_text }}</label>
	                            {% endif %}
	                        </div>
	                    </div>
                    </div>
                    <div class="m-t-20">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
	{% endblock %}
	
	{% block static %}
	{% load static %}
	{{form.media}}

{% endblock %}