{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            </div>
    {% if message %}
    <div class="card message">
    {{message}}
    </div>
    {% endif %}
    <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

        <div class="card">
            <div class="card-body card-padding add_item_container result_formset table-responsive">       
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Admission</th>
                                <th>Max. Score</th>
                                <th>Score</th>
                                <th>CE Max Score</th>
                                <th>CE Score</th>
                                <th>Principal remark</th>
                                {% if current_role == "parent" %}
                                <th>Guardian Remark</th>
                                {% elif current_role == "teacher" %}
                                 <th>Score</th>
                                <th>Teacher Remark</th>
                                {% elif current_role == "division" %}
                                <th>Score</th>
                                {% endif %}
                                <th class="one"></th>
                            </tr>  
                        </thead>
                        <tbody>  
                            {% for result in result_formset.forms %}
                                <tr class="check_items_row form_set_row">           
                                    <td>
                                        {{result.id}}
                                        <span class="admission">                              
                                            {{result.admission}}
                                            {{result.admission_name}}
                                        </span>
                                    </td>
                                    <td>
                                        {{result.id}}
                                        <span>                     
                                            {{result.max_score}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="score">                     
                                            {{result.score}}
                                        </span>
                                    </td> 
                                    <td>
                                        <span class="ce_max_score">                     
                                            {{result.ce_max_score}}
                                        </span>
                                    </td> 
                                    <td>
                                        <span class="ce_score">                     
                                            {{result.ce_score}}
                                        </span>
                                    </td> 
                                    <td>
                                        <span>                       
                                            {{result.principal_remark}}
                                        </span>
                                    </td>
                                    {% if current_role == "parent" %}
                                    <td>
                                        <span class="mark">                     
                                            {{result.score}}
                                        </span>
                                    </td> 
                                    <td>
                                        <span>                              
                                            {{ result.guardian_remark }}
                                        </span>
                                    </td>
                                    {% elif current_role == "teacher" %}
                                    <td>
                                        <span class="mark">                     
                                            {{result.score}}
                                        </span>
                                    </td> 
                                    <td>
                                        <span>                              
                                            {{ result.class_teacher_remark }}
                                        </span>
                                    </td>  
                                    {% elif current_role == "division" %}        
                                    <td>
                                        <span class="score">                     
                                            {{result.score}}
                                        </span>
                                    </td>                      
                                    {% endif %}
                                    <td class="one">{% if result.instance.pk %}{{ result.DELETE }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ result_formset.management_form }}
            </div>
        </div> 
        <div class="mt-3">
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </div>
    </form>
</section>
<!-- content-wrapper ends -->
{% endblock %}

{% block static %}
{% load static %}
    
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    
    <style>
        .message {
            background-color:#D61313;
            padding:10px;
            color:#fff;
        }
    </style>
{{result_formset.media}}
{% endblock %} 

