{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
    <section id="content">
        <div class="container">
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <ul class="ah-actions actions a-alt">                   
                        <li>
                            <a title="Create Evaluation" href="{% url 'exams:create_evaluation' pk=exam.pk %}">
                                <i class="zmdi zmdi-plus"></i>
                            </a>
                        </li>
                                  
                        <li>
                            <a title="Edit Evaluation" href="{% url 'exams:edit_evaluation' pk=instance.pk %}">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                        </li>

                        <li>
                            <a title="Delete Evaluation" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'exams:delete_evaluation' pk=instance.pk %}" class="action-button redirect">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                    </li>

                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
               <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Subject</div>
                                    <small class="lgi-text">{{instance.subject.name}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Exam</div>
                                    <small class="lgi-text">{{instance.exam}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Class</div>
                                    <small class="lgi-text">{{instance.department}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Exam Date</div>
                                    <small class="lgi-text">{{instance.exam_date}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">From Time</div>
                                    <small class="lgi-text">{{instance.from_time}}</small>
                                </div>
                            </div>

                             <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">To Time</div>
                                    <small class="lgi-text">{{instance.from_time}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Max Score</div>
                                    <small class="lgi-text">{{instance.max_score}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">CE Max Score</div>
                                    <small class="lgi-text">{{instance.ce_max_score}}</small>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text">{{instance.creator.username|get_user_name}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text">{{instance.updater.username|get_user_name}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>               
                              
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}