{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header palette-theme {{current_theme}} bg clearfix">
        <div class="ah-label hidden-xs palette-White text">{{title}}</div>

        <div class="ah-search">
            <form method="get" action="{% url 'exams:evaluations' pk=exam_pk %}" class="ahs-input">
                <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                <input type="submit" class="hidden" />
            </form>
        </div>

        <ul class="ah-actions actions a-alt">
            <li>
                <a class="ah-search-trigger" data-ma-action="ah-search-open" href="">
                    <i class="zmdi zmdi-search"></i>
                </a>
            </li>
            <li>
                <a title="Filter" class="filter_button" href="">
                    <i class="zmdi zmdi-filter-list"></i>
                </a>
            </li>
            <li>
                <a title="Create Evaluation" href="{% url 'exams:create_evaluation' pk=exam_pk %}">
                    <i class="zmdi zmdi-plus"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card">
            {% if instances %}
            <div class="row p-5 p-b-0">            
                {% for instance in instances %} 
                <div class="col-lg-4 p-r-5 p-l-15 col-md-6 col-sm-6 m-b-5">
                    <a href="{% url 'exams:view_evaluation' pk=instance.pk %}">

                        <div class="color-widget three palette-theme {{current_theme}} bg">
                            <h3 class="text-center" style="color: rgb(255, 255, 255);">{{instance.subject.name}}</h3>
                            <h4 class="text-center m-t-20 f-17" style="color: #fff;">{{instance.exam}}</h4>
                            <div class="bottom-top-section">
                                <p style="float: left" class="three">{{instance.exam_date}}</p>
                                <p style="float: right" class="three">{{instance.from_time|time:"H:i"}} - {{instance.to_time|time:"H:i"}}</p>
                                <br class="clear" />
                            </div>
                            <div class="bottom two" style="">
                                <span style="display: inline-block;float: left;" class="result">
                                    <a title="Results" href="{% url 'exams:list_divisions_for_view_results' pk=instance.pk %}">View Result</a>
                                </span>
                                
                                <span style="display: inline-block;float: right;" class="result">
                                    <a title="Create exam result" href="{% url 'exams:list_divisions_for_evaluation_results' pk=instance.pk %}">Create Result
                                           
                                    </a>
                                </span>
                                <br class="clear" />
                             </div>
                        </div>
                        <ul>
                            <li class="dropdown hidden-xs menu-one">
                                <a data-toggle="dropdown" href="" aria-expanded="false"><i class="hm-icon zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu dm-icon pull-right">
                                    <li class="hidden-xs">
                                        <a href="{% url 'exams:edit_evaluation' pk=instance.pk %}"><i class="zmdi zmdi-edit"></i>Edit</a>
                                    </li>
                                    <li>
                                         <a data-id="{{instance.pk}}" href="{% url 'exams:delete_evaluation' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn" style="text-align: left;;color: #000;"><i class="zmdi zmdi-delete" ></i>Delete</a>
                                    </li>
                                </ul>
                            </li>
                        </ul> 
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}    
        </div>  
    </div>
</section>
<!-- content-wrapper ends -->
{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="{% url 'exams:evaluations' pk=exam_pk %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i>Back</span>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>


               
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        li.menu-one {
            position: absolute;
            top: 4px;
            right: 26px;
            color: #fff;

        }
        div.bottom.two {
            padding: 10px;
            margin-top: 20px;
        }
        p.three {
            margin-bottom: 0;
            color: #fff;
        }
        .btn:not(.btn-link) {
            box-shadow: none;
        }
        i.hm-icon{
            color: #fff !important;

        }
        li.menu-one i.zmdi{
            color: #000;

        }

        li.color-widget.three {
            position: relative;
        }
        ul {
            list-style: none;
        }
        .color-widget {
            min-height: 160px;
        }
        .color-widget h4{
            text-align: center;
        }
        .action-header {
            min-height: 0px;
        }
    </style>
{% endblock %}