{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
    <section id="content">
        <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            </div>

        <div class="ah-search">
            <form method="get" action="">
                <input name="q" placeholder="Start typing..." class="ahs-input" type="text">

                <i class="ah-search-close mdi mdi-arrow-left" data-ma-action="ah-search-close"></i>
                <input class="hidden" type="submit">
            </form>
        </div>
        
        <ul class="ah-actions actions a-alt">
            {% if current_role == "administrator" %}
            <li>
                <a title="Search" href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </li>

            <li>
                <a title="Filter" class="filter_button" href="">
                    <i class="mdi mdi-filter-variant"></i>
                </a>
            </li>
           
            {% elif current_role == 'division' or current_role == 'teacher' %}
             <li>
              <!--   <a title="Print Exam Results" href="{% url 'exams:print_exam_results'  pk=evaluation.pk %}">
                    <i class="mdi mdi-printer"></i>
                </a> -->
            </li>
            {% endif %}  
        </ul>
       
        
    </div>

    <div class="card">
        <div class="card-padding">
			
			{% if instances %}
			
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                        	<th style="width:20px;"></th>
                            <th data-column-id="id" data-type="numeric">Sl. No</th>
                            <th>Admission</th>
                            <th>Evaluation</th>
                            <th>TE Max Score</th>
                            <th>Score</th>
                            <th>CE Max Score</th>
                            <th>CE Score</th>
                            <th>Total Score</th>
                            <th>Grade</th>
                            <th data-column-id="action" class="three">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load exam_template_tags %}
                    	{% load el_pagination_tags %}
						{% paginate 21 instances %}
                    	{% for instance in instances %}
                        <tr class="check_items_row">
                        	<td style="width:20px;">
                                <div class="form-check form-check-flat m-t-5">
                                    <label class="form-check-label">
                                        <input class="form-check-input check check-item" type="checkbox" value="{{instance.pk}}" name="delete_item" />
                                    </label>
                                </div>
                            </td>
                            <td>
                            	<a href="">{{forloop.counter}}</a>
                            </td>                            
                            <td>{{instance.admission.name}}</td>
                            <td>{{instance.evaluation.subject}}</td>
                            <td>{{instance.evaluation.max_score}}</td>
                            <td>{{instance.score}}</td>
                            <td>{{instance.evaluation.ce_max_score}}</td>
                            <td>{{instance.ce_score}}</td>
                            <td>{{instance.score|get_total:instance.ce_score}}</td>
                            <td>{{instance.grade}}</td>
                            <td>
                                    <a href="{% url 'exams:view_exam_result' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                    <a href="{% url 'exams:edit_exam_result' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    <a data-id="{{instance.pk}}" href="{% url 'exams:delete_exam_result' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
            	{% get_pages %}
            	<div class="row">
            		<div class="col-sm-6">
            			<div class="pagination">
            				{% show_pages %}
            			</div>
            		</div>
            		<div class="col-sm-6 infoBar">
            			<div class="infos">
            				Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
            			</div>
            		</div>
            	</div>
            </div>   
            <!--pagination-->
            
            {% else %}
            	{% include 'includes/not_found.html' %}
            {% endif %}            
        </div>
        
    </div>
</section>
{% endblock %}