{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900">{{title}}</div>
    </div>
    
    <div class="row">  
        {% for division in sub_divisions %}
        <div class="col-lg-3 col-md-3 col-sm-6 m-b-15">
            
                <div class="color-widget seven">
                    <h4>{{division.name}}</h4>
                </div>
            
        </div>
        {% endfor %}
    </div>
</section>
<!-- content-wrapper ends -->
{% endblock %}
{% block static %}
    {% load static %}
    <style>
        .color-widget {

            min-height: 60px;
        }
        .color-widget h4{
            text-align: center;
        }
    </style>
{% endblock %}