{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
    <section id="content">
        <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            </div>
    <div class="row">  
        {% for division in sub_divisions %}
        <div class="col-lg-3 col-md-3 col-sm-6 m-b-15">
            <a href="{% url 'exams:create_exam_result' pk=instance.pk division_pk=division.pk %}">
                <div class="color-widget seven">
                    <h4>{{division.name}}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<!-- content-wrapper ends -->
{% endblock %}
{% block static %}
    {% load static %}
    <style>
        .color-widget {

            min-height: 60px;
        }
        .color-widget h4{
            text-align: center;
        }
    </style>
{% endblock %}