{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header palette-theme {{current_theme}} bg clearfix">
    <div class="ah-label hidden-xs palette-Black text" style="color : #fff;">{{title}}</div>

    <div class="ah-search">
        <form method="get" action="{% url 'exams:exam' pk=department_pk %}" class="ahs-input">
            <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

            <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
            <input type="submit" class="hidden" />
        </form>
    </div>

    <ul class="ah-actions actions a-alt">
        <li>
            <a href="{% url 'exams:exam' pk=department_pk %}" class="ah-search-trigger" data-ma-action="ah-search-open">
                <i class="zmdi zmdi-search"></i>
            </a>
        </li>
        <li>
            <a title="Filter" class="filter_button" href="{% url 'exams:exam' pk=department_pk %}">
                <i class="zmdi zmdi-filter-list"></i>
            </a>
        </li>
        <li>
            <a title="Create Exam" href="{% url 'exams:create_exam' %}">
                <i class="zmdi zmdi-plus"></i>
            </a>
        </li>
    </ul>
</div>


    <div class="card">
        {% if instances %}
        <div class="action-header p-l-15 f-17 bgm-white clearfix m-b-0 p-b-0">
        </div>

            <div class="row p-l-20 p-r-20 p-b-20 p-t-0"> 


            {% load el_pagination_tags %}
            {% paginate 21 instances %}
            {% for instance in instances %}               
                <div class="col-lg-4 col-md-4 col-sm-3 m-b-10">
                    <a href="{% url 'exams:evaluations' pk=instance.pk %}">

                        <div class="color-widget three palette-theme {{current_theme}} bg">
                            <h3 class="text-center" style="color: #fff;">{{instance.title}}</h3>
                            <h4 class="text-center m-t-20 f-17" style="color: #fff;">{{instance.from_date}} - {{instance.to_date}}</h4>
                            <ul>
                                <li class="dropdown hidden-xs menu-one">
                                    <a data-toggle="dropdown" href="" aria-expanded="false"><i class="hm-icon zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu dm-icon pull-right">
                                        <li class="hidden-xs">
                                            <a href="{% url 'exams:edit_exam' pk=instance.pk %}"><i class="zmdi zmdi-edit"></i>Edit</a>
                                        </li>
                                         <li class="hidden-xs">
                                            <a href="{% url 'exams:create_evaluation' pk=instance.pk %}"><i class="zmdi zmdi-plus"></i>Create Evaluation</a>
                                        </li>
                                         <li class="hidden-xs">
                                            <a href="{% url 'exams:evaluations' pk=instance.pk %}"><i class="zmdi zmdi-eye"></i>View Evaluations</a>
                                        </li>
                                        <li>
                                             <a data-id="{{instance.pk}}" href="{% url 'exams:delete_exam' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn" style="text-align: left;;color: #000;"><i class="zmdi zmdi-delete" ></i>Delete</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul> 
                        </div>
                    </a>
                </div>  
            {% endfor %}

            </div>
            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                {% get_pages %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% show_pages %}
                        </div>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">
                            Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--pagination-->
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}
        
    </div>
</section>
<!-- content-wrapper ends -->
{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="{% url 'exams:exam' pk=department_pk %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i>Back</span>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>


               
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        li.menu-one {
            position: absolute;
            top: 4px;
            right: 26px;
            color: #fff;

        }
        .btn:not(.btn-link) {
            box-shadow: none;
        }
        i.hm-icon{
            color: #fff !important;

        }
        li.menu-one i.zmdi{
            color: #000;

        }

        li.color-widget.three {
            position: relative;
        }
        ul {
            list-style: none;
        }
        .color-widget {
            min-height: 160px;
        }
        .color-widget h4{
            text-align: center;
        }
        .action-header {
            min-height: 0px;
        }
    </style>
{% endblock %}