{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'task:tasks' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset redirect" method="post" action="{{url}}">
                        {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.message.id_for_label }}">
                                    {{ form.message.label }}
                                    {% if form.message.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.message.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.message.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.message }}

                                {% if form.message.errors %}
                                    <label class="error">{{ form.message.errors.as_text }}</label>
                                {% endif %}
                            </div>


                            <div class="form-group fg-line">
                                <label for="{{ form.type.id_for_label }}">
                                    {{ form.type.label }}
                                    {% if form.type.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.type.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.type }}

                                {% if form.type.errors %}
                                    <label class="error">{{ form.type.errors.as_text }}</label>
                                {% endif %}
                            </div>

                             <div class="form-group fg-line class">
                                <label for="{{ form.department.id_for_label }}">
                                    {{ form.department.label }}
                                    {% if form.department.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.department.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.department.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>

                                    {{ form.department }}

                                {% if form.department.errors %}
                                    <label class="error">{{ form.department.errors.as_text }}</label>
                                {% endif %}
                            </div>

                             <div class="form-group fg-line division">
                                <label for="{{ form.sub_division.id_for_label }}">
                                    {{ form.sub_division.label }}
                                    {% if form.sub_division.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.sub_division.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.sub_division.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>

                                    {{ form.sub_division }}

                                {% if form.sub_division.errors %}
                                    <label class="error">{{ form.sub_division.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line gender">
                                <label for="{{ form.gender.id_for_label }}">
                                    {{ form.gender.label }}
                                    {% if form.gender.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.gender.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.gender.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.gender }}

                                {% if form.gender.errors %}
                                    <label class="error">{{ form.gender.errors.as_text }}</label>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                     <div class="col-md-12 student">
                        <div class="card">
                            <div class="table-responsive card-body card-padding add_item_container message_recipient_formset">
                                <table id="data-table-basic" class="table table-vmiddle">
                                    <thead>
                                    <tr>
                                        <th data-column-id="name">Select Student</th>
                                        <th class="one"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in message_recipient_formset.forms %}
                                        <tr class="form_set_row">
                                            <td>
                                                {{ item.id }}
                                                <div class="form-group member_name check_empty p-relative">
                                                    {{ item.student }}
                                                    <i class="form-group__bar"></i>
                                                </div>
                                            </td>
                                            <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                                {{ message_recipient_formset.management_form }}
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <style type="text/css">
        .table > tbody > tr > td.one {
            padding-top: 0 !important;
        }
        .select2-container .select2-selection--single {
            height: 40px !important;
        }
    </style>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $(document).ready(function(){

            $('.message_recipient_formset table tr.form_set_row').formset({
                prefix: '{{ message_recipient_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                    row.find('select').val(null).trigger('change');
                    row.find('.select2-selection').click();
                }
            });
        });
    </script>
    <script type="text/javascript">
        function type_for_change() {
            selected = $("#id_type").val();
            if (selected == "class") {
                $('.division').hide();
                $('.class').show();
                $('.student').hide();
                $('.gender').show();

            }
            else if (selected == "general") {
                $('.division').hide();
                $('.class').hide();
                $('.student').hide();
                $('.gender').show();

            }
            else if (selected == "division") {
                $('.division').show();
                $('.class').show();
                $('.student').hide();
                $('.gender').show();

            }
            else if (selected == "individual") {
                $('.division').hide();
                $('.class').hide();
                $('.student').show();
                $('.gender').hide();

            }
        }
        $(document).ready(function () {
            $('.student').hide();

        });

        $(document).on('change', '#id_type', function () {
            type_for_change();
        });
    </script>

    {{message_recipient_formset.media}}

{% endblock %}
