{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Print Report" href="{% url 'notifications:print_report' pk=instance.pk %}">
                            <i class="zmdi zmdi-print"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Create Notification" href="{% url 'notifications:create_message' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Edit Notification" href="{% url 'notifications:edit_message' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Notification" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'notifications:delete_message' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Message</div>
                                    <small class="lgi-text">{{instance.message}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Type</div>
                                    <small class="lgi-text">{{instance.get_type_display}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Class</div>
                                    <small class="lgi-text">{{instance.department|default:"-"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Division</div>
                                    <small class="lgi-text">{{instance.sub_division|default:"-"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Gender</div>
                                    <small class="lgi-text">{{instance.get_gender_display|default:"-"}}</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                      

                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text">{{instance.creator.username|get_user_name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text">{{instance.updater.username|get_user_name}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div> 
            {% if message_recipients %}
                <div class="card">
                    <div class="card-padding">          
                        
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Phone</th>
                                        <th>Admn No</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Division</th>
                                        <th>Status</th>
                                                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instance in message_recipients %}
                                    <tr class="check_items_row">
                                        <td class="student">{{instance.phone_number|default:"-"}}</td>
                                        <td>
                                            <a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.student.admn_no|default:"-"}}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.student.name|default:"-"}}</a>
                                        </td>
                                        <td>
                                            {{instance.student.department.name|default:"-"}}
                                        </td>
                                        <td class="student">{{instance.student.sub_division.name|default:"-"}}</td>
                                        <td class="student">{{instance.status|default:"-"}}</td>
                                          
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>           
                               
                    </div>    
                </div>  
            {% endif %} 
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}
