{% extends "invoice_base.html" %}
{% load i18n %}
{% load tz %}
{% load static %}
{% block content %}

    <section id="content">
        <div class="container invoice">
            <div class="c-header">
                <h3 class="m-t-20 pull-left">{{title}}</h3>
                <a href="{% url 'notifications:message' pk=instance.pk %}" class="btn btn-primary m-t-15 pull-right">Back to Result</a>
                <br class="clear">
            </div>

            <div class="card">
                <div class="card-body card-padding">
                    <div class="question-header text-center m-b-20">
                        <table class="table text-center p-10">
                            <tr>
                                <td width=20>
                                    <img src="{% if current_college.logo %}{{current_college.logo.url}}{% else %}{% static 'img/logo.png' %}{% endif %}" class="img-responsive" height=96 width=96 alt="{{current_college.name}}"  />
                                </td>
                                <td>
                                    <h3 class="m-t-20 text-center text-uppercase p-b-10 f-700">{{title}}</h3>
                                    <div class="text-center">
                                        <h4 class="text-uppercase f-700 text-center">Reports</h4>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table class="deatail m-t-10 col-xs-12">
                            <tr>
                                <td>Message</td>
                                <td>Type</td>
                                <td>Class</td>
                                <td>Division</td>
                                <td>Gender</td>
                            </tr>
                            <tbody>
                                <td>{{instance.message|default:""}}</td>
                                <td>{{instance.get_type_display|default:""}}</td>
                                <td>{{instance.department|default:""}}</td>
                                <td>{{instance.sub_division|default:""}}</td>
                                <td>{{instance.get_gender_display|default:""}}</td>
                            </tbody>
                        </table>

                        <table class="table text-center">
                        
                            <thead style="text-align: center">
                                <th><p>Message ID</p></th>
                                <th><p>Phone</p></th>
                                <th><p>Admn No</th>
                                <th><p>Name</p></th>
                                <th><p>Class</p></th>
                                <th><p>Division</p></th>
                                <th><p>Error</th>
                            </thead>
                            <tbody>
                                {% for instance in message_recipients %}
                                    <tr class="check_items_row">
                                        <td class="student">{{instance.msg_id|default:"-"}}</td>
                                        <td class="student">{{instance.phone_number|default:"-"}}</td>
                                         <td>
                                            {{instance.student.admn_no|default:"-"}}
                                        </td>
                                        <td>
                                            {{instance.student.name|default:"-"}}
                                        </td>
                                        <td>
                                            {{instance.student.department.name|default:"-"}}
                                        </td>
                                        <td class="student">{{instance.student.sub_division.name|default:"-"}}</td>
                                        <td class="student">{{instance.error|default:"-"}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
               
                </div>
            </div>
        </div>

        <button class="btb.m-r-10 {
            height: 30px !important;
            display: block;
            width: 4%;
            float: left;
        }n btn-float bgm-red m-btn" data-action="print"><i class="zmdi zmdi-print"></i></button>
    </section>

    <style>
        div.answer-list div {
            margin-right: 20px;
        }
        div.question p, div.question div {
            display: inline !important;
        }
        div.question strong {
            font-size: 12pt;
            margin-right: 10px;
            margin-left: 0 !important;
        }
        div.question p{
            margin-left: 0 !important;
        }
        table tr td {
            padding: 15px;
        }
        .table tr td {
            padding-left: 30px !important;
            padding : 15px !important;
            border-top: none !important;
        }
        table tr td p{
            margin: 0;
            display: inline;
            margin-left: 0 !important;
        }
        div.question-header {
            border-bottom: 4px solid #1F497D;
        }
        div.invoice p {
            color: #000000   !important;
        }
        td {
            color: #000;
        }
        .c-red-dark {
            color: #D50000 !important;
        }
        b.m-r-10 {
            height: 30px !important;
            display: block;
            width: 4%;
            float: left;
        }
        
        @page {
            margin-top: 3cm;
            margin-bottom: 3cm;
        }
        @media print {
            body {
                margin-top: 30mm;
                margin-bottom: 30mm; 
                margin-left: 0mm;
                margin-right: 0mm;
            }
        }
        
        div.head {
            padding:0 20px !important;
        }
        div.answer-list * {
            display: inline !important;
        }
        div.row table, div.row table tr {
            display:block !important;
        }
        div.answer-list {
            margin-left: 40px;
        }
        table.question tr td  p {
            margin-left: 0 !important;
            display: block !important;
            font-size: 12pt;
        }
        table.question strong {
            font-size: 18px;
            margin-right: 10px;
            width: 30px;
        }
        table.question tr td b{
            display: block;
            font-size: 15px;
            height: auto !important;
        }
        table tr td {
            padding: 0 20px;
            text-align: left;
        }
        table tr td.heading h3 {
            padding-right: 65px !important;
            font-size: 35px;
        }
        table tr td p{
            margin: 0;
            display: inline;
        }
        table tr td p img {
            width:auto !important;
            height: auto !important;
            max-width: 100% !important;
        }
        table tr td b{
            height: 30px !important;
            display: block;
            float: left;
        }
        table tr td {
            word-break: break-all;
        }
        
        table tr td p {
            margin-left: 0 !important;
            font-size:12pt;
        }
        table.table{
            border-bottom:1px solid #444 ;
        }
        table tr td.image {
            padding: 0 !important;
            vertical-align: middle;
        }
        table.table tr td.heading {
            padding-bottom: 0 !important;
        }
        table.table tr td div.instructions {
            margin-top: 5px;
        }
        table.table tr td div.instructions p {
            font-size: 16px;
        }
        table.table tr td div.duration-mark {
            margin-top: 5px;
        }
        table.table tr td div.duration-mark p.left {
            margin-right: 10px;
        }
        table.table tr td div.duration-mark p.right {
            margin-right: 10px;
            float: right;
        }
        table.answer {
            margin-bottom: 0 !important;
        }
        table.m-l-20 tr td {
            padding-left: 0 !important;
        }
        table.m-l-20 tr td:nth-child(1) {
            padding-left: 20px !important;
        }
        div.text-center{
            text-align: left !important;
        }
        div.text-center p.f-20 {
            font-weight: bold;
        }
        div.text-center p.right{
            text-align: right !important;
            float:right;
            margin-bottom: 5px !important;
            margin-top: 0;
        }
        div.row div.question{
            font-size: 15pt;
        }
    
        table.deatail, table.deatail th, table.deatail td {
            border: 1px solid black;
        }
        table.deatail tr td{
            padding:10px;
        }

        
    </style>
{% endblock %}

{% block static %}
    {% load static %}
   
{% endblock %}