{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'staffs:designations' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>                
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                        {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">                           
                            <div class="form-group fg-line">
                                <label for="{{ form.title.id_for_label }}">
                                    {{ form.title.label }}
                                    {% if form.title.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.title.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.title.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.title }}
                                
                                {% if form.title.errors %}
                                    <label class="error">{{ form.title.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.from_date.id_for_label }}">
                                    {{ form.from_date.label }}
                                    {% if form.from_date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.from_date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.from_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.from_date }}
                                
                                {% if form.from_date.errors %}
                                    <label class="error">{{ form.from_date.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.category.id_for_label }}">
                                    {{ form.category.label }}
                                    {% if form.category.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.category.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.category }}
                                
                                {% if form.category.errors %}
                                    <label class="error">{{ form.category.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.amount.id_for_label }}">
                                    {{ form.amount.label }}
                                    {% if form.amount.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.amount.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.amount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.amount }}
                                
                                {% if form.amount.errors %}
                                    <label class="error">{{ form.amount.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.to_date.id_for_label }}">
                                    {{ form.to_date.label }}
                                    {% if form.to_date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.to_date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.to_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.to_date }}
                                
                                {% if form.to_date.errors %}
                                    <label class="error">{{ form.to_date.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>   
            </div>
        </div>
    </section>
    {% endblock %}
    
    {% block static %}
    {% load static %}
    {{form.media}}
{% endblock %}



