{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<div class="content-wrapper">
	<div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900" style="color:#fff;">{{title}}</div>
    </div>
	
	<form action="{{url}}" class="ajax redirect" method="post">
		{% csrf_token %}

	    <div class="row">
	        <div class="col-md-6">
	            <div class="card">
	                <div class="card-body card-padding">
	                	<div class="form-group fg-line">
							<label for="{{form.admission_name.id_for_label}}" class="col-form-label fw-b fz-12">{{form.admission_name.label}}
							{% if form.admission_name.field.required %}
                                <small class="star">*</small>
                            {% endif %}
                            </label>
							<div class="mt-2 fz-12">
								<input type="text" class="form-control" disabled="disabled" value="{{instance.admission}}">
							</div>
							{% if form.admission_name.errors %}
				            	<label class="form-group" style="color: #d11;" class="error">{{ form.admission_name.errors.as_text }}</label>
				            {% endif %}
	                    </div>
	                	<div class="form-group">
							<label for="{{form.is_present.id_for_label}}" class="col-form-label fw-b fz-12">{{form.is_present.label}}
							{% if form.is_present.field.required %}
                                <small class="star">*</small>
                            {% endif %}
                            </label>
							<div class="mt-2 fz-12">
								{{ form.is_present }}
							</div>
							{% if form.is_present.errors %}
				            	<label class="form-group" style="color: #d11;" class="error">{{ form.is_present.errors.as_text }}</label>
				            {% endif %}
	                    </div>
	                     <div class="form-group remarks">
							<label for="{{form.remarks.id_for_label}}" class="col-form-label fw-b fz-12">{{form.remarks.label}}
							{% if form.remarks.field.required %}
                                <small class="star">*</small>
                            {% endif %}
                            </label>
							<div class="mt-2 fz-12">
								{{ form.remarks }}
							</div>
							{% if form.remarks.errors %}
				            	<label class="form-group" style="color: #d11;" class="error">{{ form.remarks.errors.as_text }}</label>
				            {% endif %}
	                    </div>
	   	            </div>
	   	        </div>
	        </div>
			
	    </div>
		<div class="mt-3">
	    	<button type="submit" class="btn btn-success mr-2">Submit</button>
	    </div>
	</form>
</div>
<!-- content-wrapper ends -->
{% endblock %}
{% block static %}
	{% load static %}
    <style>
        
        .behaviour input {
            border: 1px solid #d0cdcd;
        }
        
    </style>
{% endblock %}
