{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>                
            </div>
            <div>      
        <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

        <div class="row m-b-30">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <label for="{{attendance_date_form.date.id_for_label}}" class="col-form-label fw-b fz-12">{{attendance_date_form.date.label}}
                            {% if attendance_date_form.date.field.required %}
                                <small class="star">*</small>
                            {% endif %}
                            </label>
                            <div class="mt-2 fz-12">
                                <div class="input-group date datepicker datepicker-popup">
                                    {{attendance_date_form.date}}
                                    <div class="input-group-addon input-group-text">
                                      <span class="mdi mdi-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            {% if attendance_date_form.date.errors %}
                                <label class="form-group" style="color: #d11;" class="error">{{ attendance_date_form.date.errors.as_text }}</label>
                            {% endif %}
                        </div>

<!--                         <div class="form-group">
                            <label>Date</label>
                            <label for="{{ form.date.id_for_label }}">
                                {{ form.date.label }}
                                {% if form.date.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                            </label>

                            <input id="{{ form.date.id_for_label }}" type="text"
                                   class="required form-control date-picker"
                                   name="{{ form.date.html_name }}" placeholder="Date"
                                   value="{{ form.date.value|date:'m-d-Y' }}">
                            <i class="form-group__bar"></i>
                            {% if form.date.errors %}
                                <label class="error">{{ form.date.errors.as_text }}</label>
                            {% endif %}
                        </div> -->

                        <div class="form-group">
                            <label for="{{attendance_date_form.weekday.id_for_label}}" class="col-form-label fw-b fz-12">{{attendance_date_form.weekday.label}}
                            {% if attendance_date_form.weekday.field.required %}
                                <small class="star">*</small>
                            {% endif %}
                            </label>
                            <div class="mt-2 fz-12">
                                {{ attendance_date_form.weekday }}
                            </div>
                            {% if attendance_date_form.weekday.errors %}
                                <label class="form-group" style="color: #d11;" class="error">{{ attendance_date_form.weekday.errors.as_text }}</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-padding add_item_container attendance_female_formset table-responsive ">         
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Admission</th>
                                    <th>Present</th>
                                    <th>Remarks</th>
                                    <th class="one"></th>
                                </tr>   
                            </thead>
                            <tbody>
                                {% for attendance in attendance_female_formset.forms %}
                                    <tr class="check_items_row form_set_row">                                          
                                        <td>
                                            {{attendance.id}}
                                            <span class="admission">                 
                                                {{ attendance.admission }} 
                                                {{attendance.admission_name}}
                                            </span>
                                        </td>
                                      
                                        <td>
                                            <span class="checkbox lgi-checkbox m-t-5">
                                                <label>
                                                    {{ attendance.is_present }}
                                                    <i class="input-helper"></i>
                                                </label>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="admission one">                 
                                                {{attendance.remarks}}
                                            </span>
                                        </td>
                                        <td class="one">{% if attendance.instance.pk %}{{ attendance.DELETE }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ attendance_female_formset.management_form }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-padding add_item_container attendance_male_formset table-responsive ">         
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Admission</th>
                                    <th>Is Present</th>
                                    <th>Remarks</th>
                                    <th class="one"></th>
                                </tr>   
                            </thead>
                            <tbody>
                                {% for attendance in attendance_male_formset.forms %}
                                    <tr class="check_items_row form_set_row">                                          
                                        <td>
                                            {{attendance.id}}
                                            <span class="admission">                 
                                                {{ attendance.admission }} 
                                                {{attendance.admission_name}}
                                            </span>
                                        </td>
                                      
                                        <td>
                                            <span class="checkbox lgi-checkbox m-t-5">
                                                <label>
                                                    {{ attendance.is_present }}
                                                    <i class="input-helper"></i>
                                                </label>
                                            </span>
                                        </td>
                                         <td>
                                            <span class="admission one">                 
                                                {{attendance.remarks}}
                                            </span>
                                        </td>
                                        <td class="one">{% if attendance.instance.pk %}{{ attendance.DELETE }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ attendance_male_formset.management_form }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-25">
            <button type="submit" class="btn btn-info waves-effect">Submit</button>
        </div> 
    </form>                    
</div>
{% endblock %}

{% block static %}
	{% load static %}
    
    <script>

        $(document).ready(function(){
        	$('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });
        });
    </script>
    <style>
        
        .lgi-checkbox{
            margin-top:8px;
            margin-bottom:0
        }
        .m-b-30{
            margin-bottom: 30px;
        }
        td span.admission.one input {
            border: 1px solid #d0cdcd;
        }
        textarea {
            height: 39px;
            width: 185px;
            border: 1px solid #d0cdcd;
        }
    </style>
    {{ attendance_formset.media }}
    {{ form.media }}   
{% endblock %}
