{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'pta:ptas' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                        {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.date.id_for_label }}">
                                    {{ form.date.label }}
                                    {% if form.date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                <input type="text" name="{{ form.date.name }}" value="{{instance.date}}" class="form-control date-picker" placeholder="Select Date" required id="{{ form.date.id }}">

                                {% if form.date.errors %}
                                    <label class="error">{{ form.date.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.department.id_for_label }}">
                                    {{ form.department.label }}
                                </label>
                                {{ form.department }}

                            </div>

                            {% if not instance %}
                                <div class="form-group fg-line">
                                    <label style="margin-right: 5px;" for="id_is_full_division">
                                        Select all Divisions under this Department </label>
                                    <input type="checkbox" name="is_full_division" value="False" id="id_is_full_division" />
                                </div>
                            {% endif %}

                            <div class="form-group fg-line all-sub-div">
                                <label for="{{ form.sub_division.id_for_label }}">
                                    {{ form.sub_division.label }}
                                </label>
                                {{ form.sub_division }}

                            </div>

                            <div class="form-group fg-line all-sub-div">
                                <label for="{{ form.semester.id_for_label }}">
                                    {{ form.semester.label }}
                                </label>
                                {{ form.semester }}
                            </div>

                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/moment-precise-range.js' %}"></script>
    <script>

        $(document).ready(function(){
            $('input[type=text]').focus(function () {
                $(this).select();
            });

            $(document).on('change, focusout', '#id_start_date, #id_end_date', function(){
                Duration();
            });

            var dept = $('#id_department').val();
            showDivisions(dept);

            var sub_div = $('#id_sub_division').val();
            showSemesters(sub_div);
        });

        $(document).on('change','#id_is_full_division',function(){
            var $this = $(this);
	        if ($this.is(':checked')){
                $(".all-sub-div").hide();
	            $(".general").show();
                $this.val("True");
	        }else{
                $(".all-sub-div").show();
	            $(".general").hide();
                $this.val("False");
	        }
	    });

        $('#id_department').on('change', function(){
            var dept = $(this).val();
            showDivisions(dept);
        });

        $('#id_sub_division').on('change', function(){
            var sub_div = $(this).val();
            showSemesters(sub_div);
        });

        function showDivisions(dept){
            if(!dept){
                $('#id_sub_division').html('<option value="">--Select Department first--</option>');
                $('#id_sub_division').selectpicker('refresh');

            }else{

                var url = "{% url 'pta:get_divisions' %}" + "?pk=" + dept;

                $.getJSON(url, function(models) {
                    var options = '<option value="">---------</option>';
                    for (var i = 0; i < models.length; i++) {
                        options += `<option value=${models[i]['division_id']}>${models[i]['division_name']}</option>`;
                    }
                    $('#id_sub_division').html(options);
                    $('#id_sub_division').selectpicker('refresh');

                }).error(function() {
                    alert("Divisions not loaded. Please refresh page again.");
                });
            }
        }

        function showSemesters(sub_div_id){
            if(!sub_div_id){
                $('#id_semester').html('<option value="">--Select Division first--</option>');
                $('#id_semester').selectpicker('refresh');

            }else{

                var url = "{% url 'pta:get_semesters' %}" + "?pk=" + sub_div_id;

                $.getJSON(url, function(models) {
                    var options = '<option value="">---------</option>';
                    for (var i = 0; i < models.length; i++) {
                        options += `<option value=${models[i]['semester_id']}>${models[i]['semester_name']}</option>`;
                    }
                    $('#id_semester').html(options);
                    $('#id_semester').selectpicker('refresh');

                }).error(function() {
                    alert("Semesters not loaded. Please refresh page again.");
                });
            }
        }
        </script>
    {{form.media}}
{% endblock %}
