{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<section id="content">
        <div class="container">
             <div class="c-header">
            	<h2>{{title}}</h2>
            </div>
                        <div class="action-header palette-theme {{current_theme}} bg clearfix">
                            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
                        </div>
            {% if departments %}
                {% if current_batch %}

                        <div class="card m-b-30">        
                            <div class="card-padding">
                                <div class="row m-b-30">   
                                    {% for department in departments %}
                                        <div class="col-lg-6 col-md-6 col-sm-6 m-b-15">
                                            <div class="class-card">
                                                <div class="top-panel">
                                                    <h6><a>{{department}}</a></h6>
                                                </div>
                                                <div class="bottom-panel">
                                                    <ul class="list-unstyled">
                                                        {% for division in department.get_divisions %}
                                                            <li><a href="{% url 'academics:show_calendar_attendances' pk=division.pk %}">{{division.name}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                    <br class="clear">
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
        </div>
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}
        {% endif %}
    </section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
	 <form method="get" action="">
	 	<div class="card">
			<div class="card-header">
		        <h2>Filter <small></small></h2>
		        <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
		    </div>

			<div class="card-body card-padding">
			 	<div class="form-group fg-line">
		            <label>Query</label>
		            <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
		        </div>

		         <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
		    </div>
		 </div>
	 </form>
</div>
{% endblock %}

{% block static %}
	{% load static %}
    <style type="text/css">
        a {
            color: #fff;
            display: block;
        }
        .widget {
            background: linear-gradient(to right, #ff6a00, #ee0979) !important;
        }
        .widget:nth-child(2n) {
            background: linear-gradient(to right, #ff6a00, #ee0979) !important;
        }
                .m-b-30 {
            margin-bottom : 30px;
        }
        .class-card {
            background: -webkit-linear-gradient(-45deg, #177BA0, #0BA360);
            background: -o-linear-gradient(-45deg, #177BA0, #0BA360);
            background: -moz-linear-gradient(-45deg, #177BA0, #0BA360);
            background: linear-gradient(-45deg, #177BA0, #0BA360);
            color: #fff;
            border-radius: 4px;
            webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            box-shadow: 3px 3px 10px rgba(0,0,0,.3);
        }
        .class-card .top-panel{
            padding:10px;
        }
        .class-card .top-panel h6 {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
        .class-card a{
            color: #fff;
        }
        .class-card .bottom-panel ul {
            float: left;
            width: 100%;
            margin-bottom: 0;
            margin: 0 auto;
        }
        .class-card .bottom-panel ul li{
            float: left;
            width: 33.33%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border:1px solid #fff;
            text-align: center;
            border-left : none;
            border-radius: 4px;
        }       
        .class-card .bottom-panel ul li a{
            display: block;
            width: 100%;
            padding: 20px 0;
            font-size: 18px;
            font-weight: bold;
        }

        br.clear {
            clear: both;
            line-height: 0;
        }
    </style>
    </style>

{% endblock %}
