{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'staffs:staff_salaries' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                    <li>
                        <a title="Create Staff Salary" href="{% url 'staffs:create_staff_salary' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="View Staff Salary" href="{% url 'staffs:staff_salary' pk=instance.pk %}">
                            <i class="zmdi zmdi-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Staff Salary" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'staffs:delete_staff_salary' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <form class="ajax reset redirect skip_empty_row not_allowed_without_formset " method="post" action="{{url}}">
            	{% csrf_token %}
                    <div class="row">                       

                        <div class="col-md-12">
                            <div class="card salary-item-card">
                                <div class="table-responsive card-body add_item_container salary_formset">
                                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th data-column-id="product">Staff</th>
                                                <th data-column-id="qty">Month</th>
                                                <th data-column-id="product">Year</th>
                                                <th data-column-id="qty">Basic Salary</th>
                                                <th data-column-id="product">Allowance</th>
                                                <th data-column-id="qty">Deduction</th>
                                                <th data-column-id="qty">Gross Salary</th>
                                                <th class="one"></th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for form in salary_formset.forms %}               
                                            <tr class="form_set_row">
                                                <td style="width:30%;" >
                                                    {{ form.id }}
                                                    <span class="salary_form p-relative">                  
                                                        {{ form.staff }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="salary_form_month check_empty p-relative">
                                                        {{ form.month }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="salary_form_year check_empty p-relative">
                                                        {{ form.year }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="salary_form check_empty p-relative">
                                                        {{ form.basic_salary }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="salary_form check_empty p-relative">
                                                        {{ form.allowance }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="salary_form check_empty p-relative">
                                                        {{ form.deduction }}
                                                    </span>
                                                </td>                                                 
                                                <td>
                                                    <span class="salary_form check_empty p-relative">
                                                       <input type="text" class="form-control" placeholder="Gross Salary" value="0" disabled="disabled" /> 
                                                    </span>
                                                </td>                                               
                                                <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ salary_formset.management_form }}
                                </div> 
                            </div>
                        </div>

                    </div>
                     <div>
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
            </form>
        </div>
    </section>
    {{ salary_formset.media }}
{% endblock %}

{% block static %}
	{% load static %}
    <script type="text/javascript">	        
        $(document).ready(function(){
            $('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });
            $('.salary_formset table tr.form_set_row').formset({
                prefix: '{{ salary_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                    row.find('.sale_item select').val(null).trigger('change');
                    row.find('.select2-selection').click();
                    row.find('.selectpicker').selectpicker();
                }
            });
            
            calculate();
            
            function calculate(){
                var gross_salary = 0;            
                
                $('.salary_formset table tr.form_set_row').each(function(){
                    $this = $(this);
                    var basic_salary = parseFloat($this.find('.basic_salary input').val());
                    if(!basic_salary){
                        basic_salary = 0;
                    }
                    var allowance = parseFloat($this.find('.allowance input').val());
                    if(!allowance){
                        allowance = 0;
                    }
                    var deduction = parseFloat($this.find('.deduction input').val());
                    if(!deduction){
                        deduction = 0;
                    }
                    var gross_salary = basic_salary + allowance - deduction ;
                    $this.find('.gross_salary input').val(gross_salary);
                });
                
                $('.gross_salary').val(gross_salary); 
            }
            
            $(document).on("input change keyup",'.basic_salary input,.allowance input,.deduction input',function(){
                calculate();
            });
            
          
        });
    </script>
    
{% endblock %}