{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="content">
    <div class="container ">
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            <div class="ah-search">
                <form method="get" action="{% url 'staffs:staffs' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>
        </div>
        <div class="">
            <form enctype="multipart/form-data" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="row card">
                    <div class="card-body card-padding">
                        <h3 class="card-title m-b-30">Basic Details</h3>
                        <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.name.id_for_label }}">
                                {{ form.name.label }}
                                {% if form.name.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.name.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.name }}
                            {% if form.name.errors %}
                            <label class="error">{{ form.name.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.phone.id_for_label }}">
                                {{ form.phone.label }}
                                {% if form.phone.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.phone.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                            <label class="error">{{ form.phone.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        
                        <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.email.id_for_label }}">
                                {{ form.email.label }}
                                {% if form.email.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.email.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.email }}
                            {% if form.email.errors %}
                            <label class="error">{{ form.email.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.address.id_for_label }}">
                                {{ form.address.label }}
                                {% if form.address.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.address.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.address }}
                            {% if form.address.errors %}
                            <label class="error">{{ form.address.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.gender.id_for_label }}">
                                {{ form.gender.label }}
                                {% if form.gender.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.gender.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.gender.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.gender }}
                            {% if form.gender.errors %}
                            <label class="error">{{ form.gender.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.dob.id_for_label }}">
                                {{ form.dob.label }}
                                {% if form.dob.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.dob.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.dob.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.dob }}
                            {% if form.dob.errors %}
                            <label class="error">{{ form.dob.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.photo.id_for_label }}">
                                {{ form.photo.label }}
                                {% if form.photo.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.photo.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.photo.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.photo }}
                            {% if form.photo.errors %}
                            <label class="error">{{ form.photo.errors.as_text }}</label>
                            {% endif %}
                        </div>
                         <div class="form-group fg-line col-sm-4">
                            <label for="{{ form.resume.id_for_label }}">
                                {{ form.resume.label }}
                                {% if form.resume.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.resume.help_text %}
                                <span data-original-t2000-12-21itle="Field Info" title="" data-content="{{ form.resume.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.resume }}
                            {% if form.resume.errors %}
                            <label class="error">{{ form.resume.errors.as_text }}</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row card">
                    <div class="table-responsive card-body add_item_container Qualificationform">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th colspan="7" data-column-id="product" style="font-size: 20px">
                                        Qualification Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-column-id="product">Qualification</th>
                                    <th data-column-id="qty">University</th>
                                    <th data-column-id="qty">Institution</th>
                                    <th data-column-id="qty">Year Of Passing </th>
                                    <th data-column-id="qty">Mark In Percentage</th>
                                    <th data-column-id="qty">Upload File</th>
                                    <th class="one"></th>
                                </tr>
                                {% for item in Qualificationform.forms %}
                                <tr class="form_set_row">
                                    <td>
                                        {{ item.id }}
                                        <span class="Qualification p-relative">
                                            {{ item.name }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="Qualification p-relative">
                                            {{ item.university }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="Qualification p-relative">
                                            {{ item.institution }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="Qualification p-relative">
                                            {{ item.year_of_passing}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="Qualification p-relative">
                                            {{ item.mark_percentage }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="Qualification p-relative">
                                            {{ item.certificate_copy }}
                                        </span>
                                    </td>
                                    <td class="one">{% if form.instance.pk %}{{ item.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ Qualificationform.management_form }}
                    </div>
                </div>
                <div class="row card">
                    <div class="table-responsive card-body add_item_container experianceform">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th colspan="7" data-column-id="product" style="font-size: 20px">
                                        Experianse Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-column-id="qty">Designation</th>
                                    <th data-column-id="qty">Institution</th>
                                    <th data-column-id="qty">Date Of Joining </th>
                                    <th data-column-id="qty">Date of Leaving</th>
                                    <th data-column-id="qty">Upload File</th>
                                    <th class="one"></th>
                                </tr>
                                {% for items in experianceitemform.forms %}
                                <tr class="form_set_row_exp">
                                    <td>
                                        {{ items.id }}
                                        <span class="department p-relative">
                                            {{ items.designation }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ items.id }}
                                        <span class="department p-relative">
                                            {{ items.experience_institution }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ items.id }}
                                        <span class="department p-relative ">
                                            {{ items.date_of_joining }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ items.id }}
                                        <span class="department p-relative ">
                                            {{ items.date_of_leaving}}
                                        </span>
                                    </td>
                                    <td>
                                        {{ items.id }}
                                        <span class="department p-relative">
                                            {{ items.exp_certificate }}
                                        </span>
                                    </td>
                                    <td class="one">{% if form.instance.pk %}{{ items.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ experianceitemform.management_form }}
                    </div>
                    <div class="col-md-12 p-25">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                    
                </div>

               <!--  <div class="row card teach-details">
                    <div class="card-body card-padding">
                        <h3 class="card-title m-b-30">Teaching Details</h3>
                        <div class="form-group fg-line col-sm-4 m-t-20">
                            <label for="{{ form.max_periods_week.id_for_label }}">
                                {{ form.max_periods_week.label }}
                                {% if form.max_periods_week.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.max_periods_week.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.max_periods_week.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.max_periods_week }}
                            {% if form.max_periods_week.errors %}
                            <label class="error">{{ form.max_periods_week.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line col-sm-4 m-t-20">
                            <label for="{{ form.max_periods_day.id_for_label }}">
                                {{ form.max_periods_day.label }}
                                {% if form.max_periods_day.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.max_periods_day.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.max_periods_day.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.max_periods_day }}
                            {% if form.max_periods_day.errors %}
                            <label class="error">{{ form.max_periods_day.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        {% if subjects %}
                        <div class="col-md-6 specific">
                            <div class="card m-t-20">
                                <h4>Subject Detailes</h4>
                                <div class="card-body card-padding">
                                    <div class="check_all_box w-100">
                                        <input class="list1" type="checkbox">
                                        <label class="ts-helper" for="ts1">&nbsp;</label>
                                        <label for="ts1" class="ts-label m-l-10">
                                            <span> all Subjects</span>
                                        </label>

                                        <div class="row m-t-20">

                                            {% for subject in subjects %}
                                                <div class="col-md-6">
                                                    <div class="m-b-20">
                                                        <input type="checkbox" id="ts1" {% if subject.pk in instance.facilities.all %}checked="checked"{% endif %} name="subject" value="{{ subject.pk }}" />
                                                        <label class="ts-helper" for="ts1">&nbsp;</label>
                                                        <label for="ts1" class="ts-label m-l-10">
                                                            <span>{{ subject }}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                        <div>
                        </div>
                    </div>
                </div> -->

            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block static %}
<script>
$(document).ready(function() {
    $('.subject').hide();
    $('.sub_category').hide();
    $('.teach-details').hide();
    // $('.staff_department').hide();

    

    $('#id_category').change(function() {
        var $this = $(this);
        var category = $this.val();
        console.log(category);
        if (category == "teaching") {
            console.log("teaaaaaching......................");
            $('.staff_department').show();
            $('.sub_category').hide();
        } else if (category == "non_teaching") {
            $('.sub_category').show();
            $('.staff_department').hide();
        } else {
            $('.teach-details').hide();

        }
    });
});
</script>
{% load static %}
<script type="text/javascript" src="{% static 'js/month-year-picker.js' %}"></script>
<link type="text/css" href="{% static 'css/month-year.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/jquery.ui.datepicker.monthyearpicker.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker.monthyearpicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
function year_selector(){
    var option="<option value=''>---------</option>";
    for(i=2030;i>=1980;i--){
        option += `<option value = ${i}> ${i}</option>`;
    }
    $('.Qualificationform select').html(option);
} 


$(document).ready(function() {
    $(document).on('focus','.datepicker-inline', function(){
            $(this).datepicker();
        });

    year_selector();

    $('input[type=text]').focus(function() {
        $(this).select();
    });



    $('.Qualificationform table tr.form_set_row').formset({
        prefix: '{{ Qualificationform.prefix }}',
        formCssClass: 'dynamic-formset1',
        'added': function(row) {
            row.find('.Qualification select').selectpicker();
            // row.find('.department select').val(null).trigger('change');
            // row.find('.select2-selection').click();
        }
    });

    $('.experianceform table tr.form_set_row_exp').formset({
        prefix: '{{ experianceform.prefix }}',
        formCssClass: 'dynamic-formset2',
        'added': function(row) {
            row.find('.experiance select').selectpicker();
        }
    });
});

</script>
{{ form.media }}
{% endblock %}