{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<div class="content-wrapper">
	<div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900">{{title}}</div>
    </div>
	
	<form action="{{url}}" class="ajax redirect" method="post">
		{% csrf_token %}

	    <div class="row">
	        <div class="col-md-6">
	            <div class="card">
	                <div class="card-body card-padding">
	                	<div class="form-group">
								<label for="{{form.staff_name.id_for_label}}" class="col-form-label fw-b fz-12">{{form.staff_name.label}}
								{% if form.staff_name.field.required %}
	                                <small class="star">*</small>
	                            {% endif %}
	                            </label>
								<div class="mt-2 fz-12">
									<input type="text" class="form-control" disabled="disabled" value="{{instance.staff}}">
								</div>
								{% if form.staff_name.errors %}
					            	<label class="form-group" style="color: #d11;" class="error">{{ form.staff_name.errors.as_text }}</label>
					            {% endif %}
	                    </div>
	                	<div class="form-group">
								<label for="{{form.is_present.id_for_label}}" class="col-form-label fw-b fz-12">{{form.is_present.label}}
								{% if form.is_present.field.required %}
	                                <small class="star">*</small>
	                            {% endif %}
	                            </label>
								<div class="mt-2 fz-12">
									{{ form.is_present }}
								</div>
								{% if form.is_present.errors %}
					            	<label class="form-group" style="color: #d11;" class="error">{{ form.is_present.errors.as_text }}</label>
					            {% endif %}
	                    </div>
	                    <div class="form-group">
								<label for="{{form.is_genuene.id_for_label}}" class="col-form-label fw-b fz-12">{{form.is_genuene.label}}
								{% if form.is_genuene.field.required %}
	                                <small class="star">*</small>
	                            {% endif %}
	                            </label>
								<div class="mt-2 fz-12">
									{{ form.is_genuene }}
								</div>
								{% if form.is_genuene.errors %}
					            	<label class="form-group" style="color: #d11;" class="error">{{ form.is_genuene.errors.as_text }}</label>
					            {% endif %}
	                    </div>
	                    <div class="form-group behaviour">
								<label for="{{form.reason.id_for_label}}" class="col-form-label fw-b fz-12">{{form.reason.label}}
								{% if form.reason.field.required %}
	                                <small class="star">*</small>
	                            {% endif %}
	                            </label>
								<div class="mt-2 fz-12">
									{{ form.reason }}
								</div>
								{% if form.reason.errors %}
					            	<label class="form-group" style="color: #d11;" class="error">{{ form.reason.errors.as_text }}</label>
					            {% endif %}
	                    </div>
	                    <div class="form-group behaviour">
								<label for="{{form.time.id_for_label}}" class="col-form-label fw-b fz-12">{{form.time.label}}
								{% if form.time.field.required %}
	                                <small class="star">*</small>
	                            {% endif %}
	                            </label>
								<div class="mt-2 fz-12">
									{{ form.time }}
								</div>
								{% if form.time.errors %}
					            	<label class="form-group" style="color: #d11;" class="error">{{ form.time.errors.as_text }}</label>
					            {% endif %}
	                    </div>
	   	            </div>
	   	        </div>
	        </div>
			
	    </div>
		<div class="mt-3">
	    	<button type="submit" class="btn btn-success mr-2">Submit</button>
	    </div>
	</form>
</div>
<!-- content-wrapper ends -->
{% endblock %}
{% block static %}
	{% load static %}
    <style>
        
        .behaviour input {
            border: 1px solid #d0cdcd;
        }
        
    </style>
{% endblock %}
