{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'staffs:staffs' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form action="{{url}}" class="ajax redirect" method="post">
                	{% csrf_token %}	                		
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Staffs</h4>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.staff.id_for_label }}">
		                                	{{ form.staff.label }}
		                                	{% if form.staff.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.staff.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.staff.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.staff }}

		                                {% if form.staff.errors %}
		                                	<label class="error">{{ form.staff.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.month.id_for_label }}">
		                                	{{ form.month.label }}
		                                	{% if form.month.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.month.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.month.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.month }}

		                                {% if form.month.errors %}
		                                	<label class="error">{{ form.month.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.year.id_for_label }}">
		                                	{{ form.year.label }}
		                                	{% if form.year.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.year.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.year.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.year }}

		                                {% if form.year.errors %}
		                                	<label class="error">{{ form.year.errors.as_text }}</label>
		                                {% endif %}
									</div>
									<div class="form-group fg-line">
		                                <label for="{{ form.basic_salary.id_for_label }}">
		                                	{{ form.basic_salary.label }}
		                                	{% if form.basic_salary.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.basic_salary.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.basic_salary.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.basic_salary }}

		                                {% if form.basic_salary.errors %}
		                                	<label class="error">{{ form.basic_salary.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.allowance.id_for_label }}">
		                                	{{ form.allowance.label }}
		                                	{% if form.allowance.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.allowance.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.allowance.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.allowance }}

		                                {% if form.allowance.errors %}
		                                	<label class="error">{{ form.allowance.errors.as_text }}</label>
		                                {% endif %}
		                            </div>
			                        <div class="form-group fg-line">
		                                <label for="{{ form.deduction.id_for_label }}">
		                                	{{ form.deduction.label }}
		                                	{% if form.deduction.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.deduction.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.deduction.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.deduction }}

		                                {% if form.deduction.errors %}
		                                	<label class="error">{{ form.deduction.errors.as_text }}</label>
		                                {% endif %}
		                            </div>			                        			                         
			                    </div>
		                    </div>
		                </div>
		                
						
	                </div>

                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
{{ form.media }}
{% endblock %}

{% block static %}
	{% load static %}

{% endblock %}