{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header palette-theme {{current_theme}} bg clearfix">
        <div class="ah-label hidden-xs palette-White text">{{title}}</div>

        <div class="ah-search">
            <form method="get" action="{% url 'main:batches' %}" class="ahs-input">
                <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                <input type="submit" class="hidden" />
            </form>
        </div>

        <ul class="ah-actions actions a-alt">
            <li>
                <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                    <i class="zmdi zmdi-search"></i>
                </a>
            </li>
            <li>
                <a title="Filter" class="filter_button" href="">
                    <i class="zmdi zmdi-filter-list"></i>
                </a>
            </li>
            <li>
                <a title="Create Academic Year" href="{% url 'main:create_batch' %}">
                    <i class="zmdi zmdi-plus"></i>
                </a>
            </li>
           
        </ul>
    </div>
    <div class="card">
        <div class="card-padding">
            
            {% if instances %}
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th style="width:20px;"></th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Division</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 21 instances %}
                        {% for instance in instances %}
                        <tr class="check_items_row">
                            <td style="width:20px;">
                                <div class="form-check form-check-flat m-t-5">
                                    <label class="form-check-label">
                                        <input class="form-check-input check check-item" type="checkbox" value="{{instance.pk}}" name="delete_item" />
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.name}}</a>
                            </td>
                            <td>{{instance.std_phone}}</td>
                            <td>{{instance.sub_division}}</td>
                            <td>{{instance.address}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                {% get_pages %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% show_pages %}
                        </div>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">
                            Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>   
            <!--pagination-->
            
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}            
        </div>
        
    </div>
</section>
{% endblock %}




