{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load static %}
{% load tz %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>Staff Details</h2>
        </div>
        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        {% if instance.photo %}                        
                            <img class="img-responsive" src="{{instance.photo.url}}" alt="image">
                        {% else %}
                            <img class="" src="{% static 'img/user.png' %}">                        
                        {% endif %}
                    </div>
                   <!--  <div class="pmo-stat">
                        <h2 class="m-0 c-white">{{instance.card_id|default:"-"}}</h2> 
                    </div> -->
                </div>
                <div class="pmo-block pmo-contact hidden-xs">
<!--                     <h2>Info</h2>
 -->                    <ul>
                        <li><i class="zmdi zmdi-account"></i>{{instance.name|default:"-"}}</li>
<!--                         <li><i class="zmdi zmdi-email"></i>{{instance.email|default:"-"}}</li>
 -->                        <!-- <li><i class="zmdi zmdi-phone"></i>{{instance.phone|default:"-"}}</li>  -->
                    {% if instance.gender == 'M' %}                      
                        <li><i class="zmdi zmdi-male"></i>{{instance.get_gender_display|default:"-"}}</li>
                    {% else %}
                        <li><i class="zmdi zmdi-female"></i>{{instance.get_gender_display|default:"-"}}</li>
                    {% endif %}
                       <!--  <li><i class="zmdi zmdi-home"></i>{{instance.address|default:"-"}}</li>
                        <li><i class="zmdi zmdi-case"></i>{{instance.category|default:"-"}}</li> -->                        
                    </ul>
                </div>                
            </div>

            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified">
                    <li class="active waves-effect"><a href="{% url 'staffs:create_staff' %}">ADD</a></li>
                </ul>
                <ul class="tab-nav tn-justified">                    
                    <li class="active waves-effect"><a href="{% url 'staffs:edit_staff' pk=instance.pk %}">EDIT</a></li>
                </ul>
                <ul class="tab-nav tn-justified"> 
                    <li class="active waves-effect"><a data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button redirect" href="{% url 'staffs:delete_staff' pk=instance.pk %}">DELETE</a></li> 
                </ul>
                <ul class="tab-nav tn-justified">
                    <li class="active waves-effect"><a href="{% url 'finance:create_salary_payment' pk=instance.pk %}">Salary Payment</a></li>                    
                </ul> 
                <br class="clear"/>              

                <div class="pmb-block ">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>                                               
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Full Name</dt>
                                <dd>{{instance.name|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Addres</dt>
                                <dd>{{instance.address|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Phone</dt>
                                <dd>{{instance.phone|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email</dt>
                                <dd>{{instance.email|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Date of birth</dt>
                                <dd>{{instance.dob|default:"-"}}</dd>
                            </dl>                            
                        </div>                        
                    </div>
                </div>           
                





                <!-- <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-phone m-r-5"></i>Teaching Info</h2>                        
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Joined date</dt>
                                <dd>{{instance.date_of_joining|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Current College</dt>
                                <dd>{{instance.joining_in_current_college|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Leaving date</dt>
                                <dd>{{instance.date_of_leaving|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Periods per week</dt>
                                <dd>{{instance.max_periods_week|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Periods per day</dt>
                                <dd>{{instance.max_periods_day|default:"-"}}</dd>
                            </dl>                            
                        </div>
                        
                        </div>
                    </div> -->
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Qualification Details<small></small></h2>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Qualification</th>
                                <th>University</th>
                                <th>Institution</th>
                                <th>Year of Passing</th>
                                <th>Marks</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in qualification %}
                            <tr class="check_items_row">
                                
                                <td>{{forloop.counter}}</td>
                                <td>{{instance.name}}</td>
                                <td>{{instance.university}}</td>
                                <td>{{instance.institution}}</td>
                                <td>{{instance.year_of_passing}}</td>
                                <td>{{instance.mark_percentage}}</td>        
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>                 
        </div>
    </div> 
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Experiance Details <small></small></h2>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Designation</th>
                                <th>Institute</th>
                                <th>Experiance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in experiance %}
                            <tr class="check_items_row">
                                
                                <td>{{forloop.counter}}</td>
                                <td>{{instance.designation}}</td>
                                <td>{{instance.experience_institution}}</td>
                                <td>{{instance.duration_year}} Year and {{instance.month_duration}}Months</td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>                 
        </div>
    </div> 
    <div class="container">
        <div class="card">
            <div class="card-header subjects">
                <h2>Follow Up Details<small></small></h2>
                <a href="#" style="color: #0a6ebd;" data-toggle="modal" data-target="#addclient" class="followupform_trigger" aria-pressed="true">Update Follow Up</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Discription</th>
                                <th>Date</th>
                                <th>Time</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            {% for followup in followup %}
                            <tr class="check_items_row">
                                <td>{{forloop.counter}}</td>
                                <td>{{followup.followup_type}}</td>
                                <td>{{followup.status}}</td>
                                <td>{{followup.discription}}</td>
                                <td>{{ followup.datetime|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ followup.datetime|date:"h:i" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>                 
        </div>
    </div> 
   <!--  <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Salary Details <small></small></h2>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Month</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Paid</th>
                                <th>Balance</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in staff_salaries %}
                            <tr class="check_items_row">
                                
                                <td>{{forloop.counter}}</td>
                                <td>{{instance.get_month_display}}, {{instance.year|default:"-"}}</td>
                                <td>{{instance.date}}</td>
                                <td>{{instance.amount}}</td>
                                <td>{{instance.paid}}</td>
                                <td>{{instance.balance}}</td>        
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>                 
        </div>
    </div>  -->
</section>
<!-- Modal -->
<form class="ajax reload redirect" action="{% url 'staffs:staff_follow_ups' pk=instance.pk %}" method="post">
    {% csrf_token %}
    <div class="modal fade" id="addclient" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Follow Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label class="my-2 py-1" for="{{ followupform.followup_type.id_for_label }}">
                                    {{ followupform.followup_type.label }}
                                    {% if followupform.followup_type.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if followupform.followup_type.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ followupform.followup_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                <div>
                                    {{ followupform.followup_type }}
                                </div>
                                {% if followupform.followup_type.errors %}
                                <label class="error">{{ followupform.followup_type.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group status">
                                <label class="my-2 py-1" for="{{ followupform.status.id_for_label }}">
                                    {{ followupform.status.label }}
                                    {% if followupform.status.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if followupform.status.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ followupform.status.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label> {{ followupform.status }}
                                {% if followupform.status.errors %}
                                <label class="error">{{ followupform.status.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group replay">
                                <label class="my-2 py-1" for="{{ followupform.replay.id_for_label }}">
                                    {{ followupform.replay.label }}
                                    {% if followupform.replay.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if followupform.replay.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ followupform.replay.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                    {{ followupform.replay }}
                                {% if followupform.replay.errors %}
                                <label class="error">{{ followupform.replay.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group send_mail">
                                <label class="my-2 py-1" for="{{ followupform.send_mail.id_for_label }}">
                                    {{ followupform.send_mail.label }}
                                    {% if followupform.send_mail.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if followupform.send_mail.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ followupform.send_mail.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                    {{ followupform.send_mail }}
                                {% if followupform.send_mail.errors %}
                                <label class="error">{{ followupform.send_mail.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group interview_date">
                                <label class="my-2 py-1" for="{{ interviewmail.interview_date.id_for_label }}">
                                    {{ interviewmail.interview_date.label }}
                                    {% if interviewmail.interview_date.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if interviewmail.interview_date.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ interviewmail.interview_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                <div>
                                    {{ interviewmail.interview_date }}
                                </div>
                                {% if interviewmail.interview_date.errors %}
                                <label class="error">{{ interviewmail.interview_date.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group subject">
                                <label class="my-2 py-1" for="{{ interviewmail.subject.id_for_label }}">
                                    {{ interviewmail.subject.label }}
                                    {% if interviewmail.subject.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if interviewmail.subject.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ interviewmail.subject.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                    {{ interviewmail.subject }}
                                {% if interviewmail.subject.errors %}
                                <label class="error">{{ interviewmail.subject.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group content">
                                <label class="my-2 py-1" for="{{ interviewmail.content.id_for_label }}">
                                    {{ interviewmail.content.label }}
                                    {% if interviewmail.content.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if interviewmail.content.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ interviewmail.content.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                    {{ interviewmail.content }}
                                {% if interviewmail.content.errors %}
                                <label class="error">{{ interviewmail.content.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="my-2 py-1" for="{{ followupform.discription.id_for_label }}">
                                    {{ followupform.discription.label }}
                                    {% if followupform.discription.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if followupform.discription.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ followupform.discription.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                <div>
                                    {{ followupform.discription }}
                                </div>
                                {% if followupform.discription.errors %}
                                <label class="error">{{ followupform.discription.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary create-client">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}


{% block static %}
    {% load static %}
    <style>
        .subjects{
            display: flex;
            align-items: center;
        }
        .subjects a{
            display: block;
            background-color: #3a9688;
            color: #fff !important;
            padding: 1%;
            margin-left: 2%
        }
    </style>
    <script>
        $(document).ready(function(){
            $('.replay').hide();
            $('.status').hide();
            $('.send_mail').hide();
            $('.subject').hide();
            $('.content').hide();
            $('.interview_date').hide();

            $('#id_followup_type').on('change',function(){
                var followup = $('#id_followup_type').val();
                console.log(followup)

                if(followup=="call"){
                    console.log("call okkk");
                    $('.status').show();
                    $('.replay').hide();
                    
                }else if(followup == "mail"){
                    $('.status').hide();
                    $('.replay').show();
                    $('.send_mail').hide();
                }

            });

            $('#id_status').on('change',function(){
                var status = $('#id_status').val();
                console.log("status");
                console.log(status);
                if(status=="attend"){
                    console.log("ok mail");
                    $('.send_mail').show();
                }
                else{
                    $('.send_mail').hide();
                }
            });

            $('#id_send_mail').on('change',function(){

               if($('input#id_send_mail').is(':checked')){
                    $('.subject').show();
                    $('.content').show();
                    $('.interview_date').show();
                }
                else{
                    $('.subject').hide();
                    $('.content').hide();
                    $('.interview_date').hide();
                }
            });
        });
    </script>
{% endblock %}