{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
    <section id="content" class="content-wrapper">
        <div class="container">
            <div class="c-header">
                <h2>Calendar</h2>
            </div>    

            <div id="calendar" class="card"></div>
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
   
    <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                dayClick: function(date, jsEvent, view) {
                    var redirect_url = "{% url 'staffs:staff_attendances' %}?date=" + date.format('MM/DD/YYYY');
                    window.location.href = redirect_url;
                    
                }
            })
        });
    </script>
{% endblock %}