{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load static %}
{% load tz %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'staffs:staffs' %}" class="ahs-input">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Filter" class="filter_button" href="{% url 'staffs:staffs' %}">
                            <i class="zmdi zmdi-filter-list"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Create Staff" href="{% url 'staffs:create_staff' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card">            

            {% if instances %}
            <div class="card-body card-padding">
                <div class="contacts clearfix row">
                    {% for instance in instances %}
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="c-item">
                                 <a href="#" class="contacts__img">
                                    {% if instance.photo %}
                                        <img style="display:block;width:100%;height:200px" src="{{instance.photo.url}}" alt="">
                                    {% else %}
                                        <img style="display:block;width:100%;height:200px" src="{% static 'img/user.png' %}" alt="">
                                    {% endif %}
                                </a>
                                <a href="{% url 'staffs:staff' pk=instance.pk %}" style="display: block;">
                                    <div class="c-info">
                                        <strong>{{instance.name}}</strong>
                                        <strong>{{instance.designation}}</strong>
                                    </div>
                                </a>
                                <a href="{% url 'staffs:staff' pk=instance.pk %}" style="display: block;">
                                    <div class="c-footer">
                                        <button class="waves-effect"><i class="zmdi zmdi-person-add" ></i>View</button>
                                    </div>
                                </a>
                            </div>
                        </div>  
                    {% endfor %}
                </div>  
            </div>
            {% endif %}
            
        </div>

    </div>
</section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="{% url 'staffs:staffs' %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
            </div>

            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>

                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}