{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<section id="content">
    <div class="container ">
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            <div class="ah-search">
                <form method="get" action="{% url 'staffs:staffs' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>
        </div>


        <div class="">
            <form class="ajax reset redirect" enctype="multipart/form-data" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="row card">
                    <div class="table-responsive card-body add_item_container staff_subject">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th colspan="7" data-column-id="product" style="font-size: 20px">
                                       Add Subject Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th data-column-id="product">Divisions</th>
                                    <th data-column-id="qty">Semester</th>
                                    <th data-column-id="qty">Subject</th>
                                    <th class="one"></th>
                                </tr>
                                {% for item in staff_subject.forms %}
                                <tr class="form_set_row">
                                    <td>
                                        {{ item.id }}
                                        <span class="Qualification p-relative">
                                            {{ item.division }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="Qualification p-relative">
                                            {{ item.semester }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="Qualification p-relative">
                                            {{ item.subject }}
                                        </span>
                                    </td>
                                    <td class="one">{% if form.instance.pk %}{{ item.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ staff_subject.management_form }}
                    </div>
                    <div class="m-t-20 m-l-30 m-b-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
                </div>
                
            </form>
        </div>
    </div>
</section>


{% endblock %}
{% block static %}
{% load static %}
<script type="text/javascript" src="{% static 'js/month-year-picker.js' %}"></script>
<link type="text/css" href="{% static 'css/month-year.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/jquery.ui.datepicker.monthyearpicker.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/jquery.ui.datepicker.monthyearpicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('input[type=text]').focus(function() {
        $(this).select();
    });

  $('.staff_subject table tr.form_set_row').formset({
        prefix: '{{ staff_subject.prefix }}',
        formCssClass: 'dynamic-formset1',
        'added': function(row) {
            row.find('.Qualification select').selectpicker();
            // row.find('.department select').val(null).trigger('change');
            // row.find('.select2-selection').click();
        }
    });
});

$('.formset_division').change(function() {
    var $this = $(this);
    console.log("get_id......................");
    get_semester_data($this);
});

function get_semester_data(element) {
    var id_batch = $('select[data-url="/app/switch-batch/"]').val();
    console.log(id_batch)
    var id_division = element.val();
    console.log("division...............")
    console.log(id_division)

    if (id_division != "" || id_division != null || id_division != undefined) {
        var url = "{% url 'academics:get_countsemester_details' %}"
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: {
                id_division: id_division,
                id_batch: id_batch,
            },
            success: function(data) {
                var status = data['status'];
                console.log("okkkkkkkkkkkkkkk")
                console.log(status)

                if (status == "true") {
                    var i, semester_data;
                    semester_data = data['semester_data'];
                    console.log(semester_data)
                    sem_pk = data['sem_pk'];
                    console.log(sem_pk)
                    sem_num = data['sem_num'];
                    console.log(sem_num)

                    var options = '<option value="">---------</option>';
                    var i, maxlength = sem_num.length;

                    for (i = 0; i < maxlength; i++) {
                        options += `<option value=${sem_pk[i]}>semester - ${sem_num[i]}</<option>`
                    }
                    // $("#id_staffsubjectformset-0-semester").html(options)
                } else {

                    var message = data['message'];
                    options = `<option value="">${message}</option>`
                }
                var parent_division = element.parents('tr');
                console.log(parent_division);
                parent_division.find('select.formset_semester').html(options).selectpicker('refresh')

            },
            error: function(data) {

            }
        });
    }
}
$('.formset_semester').change(function() {
    var $this = $(this);
    console.log("get_id......................");
    get_subject_data($this);
});

function get_subject_data(element) {
    var id_batch = $('select[data-url="/app/switch-batch/"]').val();
    var id_semester = element.val();
    console.log(id_semester)
    console.log("semester above")
    var id_division = element.parents('tr').find('select.formset_division').val();
    console.log(id_division)

    if (id_semester != "" || id_semester != null || id_semester != undefined) {
        var url = "{% url 'staffs:get_subject_details' %}"
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: {
                id_semester: id_semester,
                id_batch: id_batch,
                id_division : id_division,
            },
            success: function(data) {
                var status = data['status'];
                console.log("okkkkkkkkkkkkkkk")
                console.log(status)

                if (status == "true") {
                    var subjects = data['subjects']
                    var options = '<option value="">---------</option>';

                    for (i = 0; i < subjects.length; i++) {
                        options += `<option value=${subjects[i]['id']}> ${subjects[i]['name']} - ${subjects[i]['code']}</<option>`
                    }
                    // $("#id_staffsubjectformset-0-semester").html(options)
                } else {

                    var message = data['message'];
                    options = `<option value="">${message}</option>`
                }
                var parent_object = element.parents('tr');
                console.log(options);
                parent_object.find('select.formset_subject').html(options).selectpicker('refresh')

            },
            error: function(data) {

            }
        });
    }
}
</script>
{% endblock %}