{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'task:tasks' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset redirect" method="post" action="{{url}}">
                        {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.task_name.id_for_label }}">
                                    {{ form.task_name.label }}
                                    {% if form.task_name.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.task_name.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.task_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.task_name }}

                                {% if form.task_name.errors %}
                                    <label class="error">{{ form.task_name.errors.as_text }}</label>
                                {% endif %}
                            </div>


                            <div class="form-group fg-line">
                                <label for="{{ form.task_description.id_for_label }}">
                                    {{ form.task_description.label }}
                                    {% if form.task_description.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.task_description.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.task_description.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.task_description }}

                                {% if form.task_description.errors %}
                                    <label class="error">{{ form.task_description.errors.as_text }}</label>
                                {% endif %}
                            </div>

                             <div class="form-group fg-line">
                                <label for="{{ form.assigned_date.id_for_label }}">
                                    {{ form.assigned_date.label }}
                                    {% if form.assigned_date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.assigned_date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.assigned_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>

                                {% if is_edit %}
                                    <input id="{{ form.assigned_date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.assigned_date.html_name}}" placeholder="Enter assigned date" value="{{ form.assigned_date.value|date:'m/d/Y' }}">
                                {% else %}
                                    {{ form.assigned_date }}
                                {% endif %}

                                {% if form.assigned_date.errors %}
                                    <label class="error">{{ form.assigned_date.errors.as_text }}</label>
                                {% endif %}
                            </div>

                             <div class="form-group fg-line">
                                <label for="{{ form.due_date.id_for_label }}">
                                    {{ form.due_date.label }}
                                    {% if form.due_date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.due_date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.due_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>

                                {% if is_edit %}
                                    <input id="{{ form.due_date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.due_date.html_name}}" placeholder="Enter due date" value="{{ form.due_date.value|date:'m/d/Y' }}">
                                {% else %}
                                    {{ form.due_date }}
                                {% endif %}

                                {% if form.due_date.errors %}
                                    <label class="error">{{ form.due_date.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.department.id_for_label }}">
                                    {{ form.department.label }}
                                    {% if form.department.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.department.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.department.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.department }}

                                {% if form.department.errors %}
                                    <label class="error">{{ form.department.errors.as_text }}</label>
                                {% endif %}
                            </div>


                            <div class="form-group fg-line">
                                <label for="{{ form.sub_division.id_for_label }}">
                                    {{ form.sub_division.label }}
                                    {% if form.sub_division.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.sub_division.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.sub_division.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.sub_division }}

                                {% if form.sub_division.errors %}
                                    <label class="error">{{ form.sub_division.errors.as_text }}</label>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/moment-precise-range.js' %}"></script>
    <script>
        function Duration(){
            var start_date = $("#id_start_date").val();
            var end_date = $("#id_end_date").val();
            var duration = 0;
            if (start_date !== "" && start_date !== null && end_date !== "" && end_date !== null ){
                var moment_start_date = moment(start_date,'MM/DD/YYYY');
                var moment_end_date = moment(end_date,'MM/DD/YYYY');
                var diff_time = moment.preciseDiff(moment_end_date,moment_start_date,true);
                var days = diff_time['days'];
                duration = diff_time['months'];
                if (days > 0){
                    duration += 1
                }
                $('#id_duration').val(duration);
            }
        }

        $(document).ready(function(){
            var $this = $('#id_department');
            get_divisions($this);

            $('input[type=text]').focus(function () {
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });

            $(document).on('change, focusout', '#id_start_date, #id_end_date', function(){
                Duration();
            })
        });

        $('#id_department').on('change keyup' , function(){
            var $this = $(this);
            get_divisions($this);
        });
        function get_divisions($selector) {
            var dept_id = $selector.val();

            if(dept_id){
                var url = "{% url 'task:get_divisions' %}";
                if(dept_id !=''){
                    $.ajax({
                        type : "GET",
                        url : url,
                        dataType : 'json',
                        data : {
                            id : dept_id,
                        },
                        success : function(data){
                            var status = data['status'];
                            if (status == "true"){
                                div = data['division'];
                                options = '<option value="">------------</option>'
                                for(let i=0; i < div.length; i++){
                                    options += `<option value=${div[i]['id']}>${div[i]['name']}</option>`
                                }
                            }
                            else{
                                options = '<option value="">-- Np Division data found --</option>'
                            }
                            $('#id_sub_division').html(options);
                            $('#id_sub_division').selectpicker('refresh');
                            },
                        error : function(data){
                        }
                    });
                }
            }else{
                $('#id_sub_division').html('<option value="">--Select Department first--</option>');
                $('#id_sub_division').selectpicker('refresh');
            }
        }
    </script>
{% endblock %}
