{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            </div>
        <div class="card-body">
            <button type="button" title="Date" class="filter_button btn-success btn btn1 "></i>Enter Date</button>
            <div class="card">   
                <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
                    <div class="ah-label palette-Black text">Admissions</div>
                </div>
                {% if admissions %}                    
                    <div class="row">                        
                        <div class="col-lg-3 p-r-5 p-l-15 col-md-4 col-sm-6 m-b-10">
                            <a href="{% url 'finance:fee_payments' %}?date={{date}}">
                                <div class="color-widget three">
                                    <h4 class="f-16">Paid</h4>
                                    <small>{{admission_total_paid_amount|default:0.00}}</small>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 p-l-15 col-md-4 col-sm-6 m-b-10 p-r-15">
                            <a href="{% url 'finance:fee_payments' %}?date={{date}}">
                                <div class="color-widget five">
                                    <h4 class="f-16">Balance</h4>
                                    <small>{{admission_total_balance_amount|default:0.00}}</small>
                                </div>
                            </a>
                        </div>
                    </div>  
                {% endif %} 
                <div class="table-responsive">
                    {%if admissions %}
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-type="numeric">Admn No</th>
                                <th>Name</th>
                                <th>Batch</th>
                                <th>Division</th>
                                <th>Paid</th>
                                <th>Balance</th>
                                <th data-column-id="action" class="four">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in admissions %}
                            <tr>
                                <td><a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.admn_no}}</a></td>
                                <td>{{instance.name}}</td>
                                <td>{{instance.batch}}</td>
                                <td>{{instance.sub_division}}</td>
                                <td>{{instance.paid}}</td>
                                <td>{{instance.balance}}</td>
                                <td class="two">
                                    <a href="{% url 'academics:admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                    <a href="{% url 'academics:edit_admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    {% else %}
                        <div class="card-body card-padding">
                            <p>No admissions found</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="card">   
                <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
                    <div class="ah-label palette-Black text">Fee Payments</div>
                </div>
                {% if fee_payments %}                    
                    <div class="row">                        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <a href="{% url 'finance:fee_payments' %}?date={{date}}">
                                <div class="color-widget three">
                                    <h4 class="f-16">Paid Amount</h4>
                                    <small>{{fee_payment_total_amount|default:0.00}}</small>
                                </div>
                            </a>
                        </div>
                    </div>  
                {% endif %} 
                <div class="table-responsive">
                    {% if fee_payments %}
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-type="numeric">Admn No</th>
                                <th>Name</th>
                                <th>Division</th>
                                <th>Amount</th>
                                <th data-column-id="action" class="four">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in fee_payments %}
                            <tr>
                                <td><a href="{% url 'finance:transaction' pk=instance.pk %}">{{instance.admission.admn_no}}</a></td>
                                <td>{{instance.admission.name}}</td>
                                <td>{{instance.admission.sub_division}}</td>
                                <td>{{instance.amount}}</td>
                                <td class="one">
                                    <a href="{% url 'finance:transaction' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    {% else %}
                        <div class="card-body card-padding">
                            <p>No admissions found</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{{ form.media }}
{% block filter_box %}
<div class="filter-box">
        <form method="get" action="{% url 'finance:day_report' %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan btn btn-default btn-icon-text waves-effect"><i class="mdi mdi-arrow-left"></i> Back</span>
            </div>
            
            <div class="card-body card-padding">

                <div class="form-group fg-line">
                    <label>Date </label>
                    <input type="text" class="form-control date-picker datepicker-popup" placeholder="Date" name="date">
                </div>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% endblock %}