{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            </div>
            <div class="card-body">
               <button type="button" title="Filter" class="filter_button btn-success btn btn1 m-b-30">Enter Month And Year</button>
                <div class="card">   
                    <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
                        <div class="ah-label palette-Black text">Admissions</div>
                    </div>
                    {% if admissions %}                    
                        <div class="row">                        
                            <div class="col-lg-3 p-r-5 p-l-15 col-md-4 col-sm-6 m-b-10">
                                <a href="{% url 'finance:fee_payments' %}?date={{date}}">
                                    <div class="color-widget three">
                                        <h4 class="f-16">Paid</h4>
                                        <small>{{admission_total_paid_amount|default:0.00}}</small>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-3 p-l-15 col-md-4 col-sm-6 m-b-10 p-r-15">
                                <a href="{% url 'finance:fee_payments' %}?date={{date}}">
                                    <div class="color-widget five">
                                        <h4 class="f-16">Balance</h4>
                                        <small>{{admission_total_balance_amount|default:0.00}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>  
                    {% endif %} 
                    <div class="table-responsive">
                        {%if admissions %}
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="id" data-type="numeric">Admn No</th>
                                    <th>Name</th>
                                    <th>Batch</th>
                                    <th>Division</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                    <th data-column-id="action" class="four">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in admissions %}
                                <tr>
                                    <td><a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.admn_no}}</a></td>
                                    <td>{{instance.name}}</td>
                                    <td>{{instance.batch}}</td>
                                    <td>{{instance.sub_division}}</td>
                                    <td>{{instance.paid}}</td>
                                    <td>{{instance.balance}}</td>
                                    <td class="two">
                                        <a href="{% url 'academics:admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                        <a href="{% url 'academics:edit_admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        {% else %}
                            <div class="card-body card-padding">
                                <p>No admissions found</p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="card">   
                    <div class="action-header bgm-white p-l-15 p-r-15 f-17 m-b-0 clearfix">
                        <div class="ah-label palette-Black text">Fee Payments</div>
                    </div>
                    {% if fee_payments %}                    
                        <div class="row">                        
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <a href="{% url 'finance:fee_payments' %}?date={{date}}">
                                    <div class="color-widget three">
                                        <h4 class="f-16">Paid Amount</h4>
                                        <small>{{fee_payment_total_amount|default:0.00}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>  
                    {% endif %} 
                    <div class="table-responsive">
                        {% if fee_payments %}
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="id" data-type="numeric">Admn No</th>
                                    <th>Name</th>
                                    <th>Division</th>
                                    <th>Amount</th>
                                    <th data-column-id="action" class="four">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in fee_payments %}
                                <tr>
                                    <td><a href="{% url 'finance:transaction' pk=instance.pk %}">{{instance.admission.admn_no}}</a></td>
                                    <td>{{instance.admission.name}}</td>
                                    <td>{{instance.admission.sub_division}}</td>
                                    <td>{{instance.amount}}</td>
                                    <td class="one">
                                        <a href="{% url 'finance:transaction' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        {% else %}
                            <div class="card-body card-padding">
                                <p>No admissions found</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form.media }}
    {% block filter_box %}
        <div class="filter-box">
             <form method="get" action="">
                <div class="card">
                    <div class="card-header">
                        <h2>Filter <small></small></h2>
                        <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
                    </div>
                    
                    <div class="card-body card-padding">
                        <div class="form-group fg-line">
                            <label>Year</label>
                            <input name="year" type="text" class="form-control" placeholder="yyyy" />
                        </div>
                        {% if is_month == True %}
                        <div class="form-group fg-line">
                            <label>Month</label>
                            <select name="month" id="id_month" class="selectordie">
                                <option value="">All</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="m-t-20">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
    
{% endblock %}