{% load static %}
<aside id="s-main-menu" class="sidebar">
    <div class="smm-header">
        <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
    </div>
    <ul class="smm-alerts">
        <li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-email"></i>
        </li>
        <li class="p-relative" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-notifications"></i>
            <span class="notification-count palette-Red-500 bg">0</span>
        </li>
        <li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-view-list-alt"></i>
        </li>
    </ul>
    <ul class="main-menu">
        <li class="active">
            <a href="{% url 'app' %}?active_parent=dashboard_create_open"><i class="zmdi zmdi-home"></i> Dashboard</a>
        </li>
        {% if current_college %}
        <li class="sub-menu {% if active_parent == 'academics_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-assignment"></i>Academics</a>
            <ul>
                <li class="{% if active_menu == 'academic_year_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Academics" href="{% url 'main:batches' %}?active=academic_year_create_open&active_parent=academics_create_open">Academic Year</a>
                    <a title="Create Academic Year" href="{% url 'main:create_batch' %}?active=academic_year_create_open&active_parent=academics_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'medium_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Courses & Departments" href="{% url 'academics:courses' %}?active=medium_create_open&active_parent=academics_create_open">Courses & Departments </a>
                    <a title="Create Courses & Departments" href="{% url 'academics:create_course' %}?active=medium_create_open&active_parent=academics_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>

                 <li class="{% if active_menu == 'division_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Divisions" href="{% url 'academics:sub_divisions' %}?active=division_create_open&active_parent=academics_create_open">Divisions</a>
                    <a title="Create Division" href="{% url 'academics:create_sub_division' %}?active=division_create_open&active_parent=academics_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>

                <li class="{% if active_menu == 'semester_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Semesters" href="{% url 'academics:semesters' %}?active=semester_create_open&active_parent=academics_create_open">Semesters</a>
                    <a title="Create Semester" href="{% url 'academics:create_semester' %}?active=semester_create_open&active_parent=academics_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>

                <li class="{% if active_menu == 'subject_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Subjects" href="{% url 'academics:list_of_divisions_and_sem' %}">Subjects</a>
                    <a title="Create Subject" href="{% url 'academics:create_subject' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'disability_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Syllabus" href="#">Syllabus</a>
                    <a title="Create Disability" href="#">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'disability_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Disabilities" href="{% url 'academics:disabilities' %}">Disabilities</a>
                    <a title="Create Disability" href="{% url 'academics:create_disability' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'facility_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Facilities" href="{% url 'academics:facilities' %}">Facilities</a>
                    <a title="Create Facility" href="{% url 'academics:create_facility' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'period_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Periods" href="{% url 'academics:periods' %}">Periods</a>
                    <a title="Create Period" href="{% url 'academics:create_period' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'class_subject_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Subject Periods" href="{% url 'academics:class_subjects' %}"> Subject Periods</a>
                    <a title="Create Subject Period" href="{% url 'academics:create_class_subject' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'time_table_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Time Tables" href="{% url 'academics:time_tables' %}">Time Tables</a>
                    <a title="Create Time Tables" href="{% url 'academics:create_subject' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>

        <li class="sub-menu {% if active_parent == 'admissions_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts-add"></i>Admission</a>
            <ul>
                <li class="{% if active_menu == 'admissions_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Admissions" href="{% url 'academics:list_class_and_division_for_admissions' %}?active=admissions_create_open&active_parent=admissions_create_open">Admissions</a>
                    <a title="Create Admissions" href="{% url 'academics:create_class_and_division_for_admissions' %}?active=admissions_create_open&active_parent=admissions_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>

        <li class="sub-menu {% if active_parent == 'staff_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts-alt"></i>HR Management</a>
            <ul>
                <li class="{% if active_menu == 'staff_vacancy_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Staffs" href="{% url 'staffs:staffs' %}?active=staff_vacancy_create_open&active_parent=staff_create_open">Staff Vacancy Enquiries</a>
                    <a title="Staff Registration" href="{% url 'staffs:create_staff' %}?active=staff_create_open&active_parent=staff_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'staff_designation_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Designations" href="{% url 'staffs:designations' %}?active=staff_designation_create_open&active_parent=staff_create_open">Designations</a>
                    <a title="Create Designations" href="{% url 'staffs:create_designation' %}?active=staff_designation_create_open&active_parent=staff_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <!-- <li class="{% if active_menu == 'staff_qualification_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Qualifications" href="{% url 'staffs:qualifications' %}?active=staff_qualification_create_open&active_parent=staff_create_open">Qualifications</a>
                    <a title="Create Qualifications" href="{% url 'staffs:create_qualification' %}?active=staff_qualification_create_open&active_parent=staff_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li> -->
                <li class="{% if active_menu == 'staff_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Staffs" href="{% url 'staffs:staffs' %}?active=staff_create_open&active_parent=staff_create_open">Staffs</a>
                    <a title="Staff Registration" href="{% url 'staffs:create_staff' %}?active=staff_create_open&active_parent=staff_create_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'staff_salary_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Staff Salaries" href="#test-module">Staff Salaries</a>
                    <a title="Create Staff Salaries" href="#test-module">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'message_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-notifications"></i>Messages</a>
            <ul>
                <li class="{% if active_menu == 'message_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Messages" href="{% url 'notifications:messages' %}">Messages</a>
                    <a title="Create Message" href="{% url 'notifications:create_message' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'club_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-bike"></i>Clubs</a>
            <ul>
                <li class="{% if active_menu == 'club_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Clubs" href="{% url 'academics:clubs' %}">Clubs</a>
                    <a title="Create Clubs" href="{% url 'academics:create_club' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'enquiry_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-search"></i>Enquiries</a>
            <ul>
                <li class="{% if active_menu == 'enquiry_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Enquiries" href="{% url 'enquiries:enquiries' %}">Enquiries</a>
                    <a title="Create Enquiries" href="{% url 'enquiries:create_enquiry' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'task_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-assignment-check"></i>Tasks</a>
            <ul>
                <li class="{% if active_menu == 'task_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Tasks" href="{% url 'task:tasks' %}">Tasks</a>
                    <a title="Create Tasks" href="{% url 'task:create_task' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'pta_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-male-female"></i>PTA</a>
            <ul>
                <li class="{% if active_menu == 'pta_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="PTA" href="{% url 'pta:ptas' %}">PTA</a>
                    <a title="Create PTA" href="{% url 'pta:create_pta' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-calendar-alt"></i>Time Table</a>
            <ul>
                <li class="{% if active_menu == 'club_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Student Time Table" href="{% url 'task:tasks' %}">Student Time Table</a>
                    <a title="Create Student Time Table" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'club_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Staff Time Table" href="{% url 'task:tasks' %}">Staff Time Table</a>
                    <a title="Create Staff Time Table" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'attendance_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-account-calendar"></i>Attendances</a>
            <ul>
                <li class="{% if active_menu == 'student_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Student Attendances" href="{% url 'task:tasks' %}">Student Attendances</a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'staff_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Time Tables" href="{% url 'task:tasks' %}">Staff Attendances</a>
                    <a title="Create Staff Attendances" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'transport_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-bus"></i>Transports</a>
            <ul>
                <li class="{% if active_menu == 'bus_route_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Bus Routes" href="{% url 'transports:bus_routes' %}">Bus Routes</a>
                    <a title="Create Bus Routes" href="{% url 'transports:create_bus_route' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'vehicle_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Vehicles" href="{% url 'transports:vehicles' %}">Vehicles</a>
                    <a title="Create Vehicles" href="{% url 'transports:create_vehicle' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'boarding_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Boarding Points" href="{% url 'transports:boarding_points' %}">Boarding Points</a>
                    <a title="Create Boarding Points" href="{% url 'transports:create_boarding_point' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'transports_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Transports" href="{% url 'transports:transports' %}">Transports</a>
                    <a title="Create Transports" href="{% url 'transports:create_transport' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'bus_pass_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Bus Passes" href="{% url 'transports:bus_passes' %}">Bus Passes</a>
                    <a title="Create Bus Passes" href="{% url 'transports:create_bus_pass' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'finance_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-money"></i>Finance</a>
            <ul>
                <li class="{% if active_menu == 'cash_accounts_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Cash Accounts" href="{% url 'task:tasks' %}">Cash Accounts</a>
                    <a title="Create Cash Accounts" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'bank_accounts_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Bank Accounts" href="{% url 'task:tasks' %}">Bank Accounts</a>
                    <a title="Create Bank Accounts" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'transactions_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Transactions" href="{% url 'task:tasks' %}">Transactions</a>
                </li>
                <li class="{% if active_menu == 'account_groups_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Account Groups" href="{% url 'task:tasks' %}">Account Groups</a>
                    <a title="Create Account Groups" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'account_heads_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Account Heads" href="{% url 'task:tasks' %}">Account Heads</a>
                    <a title="Create Account Heads" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'income_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Incomes" href="{% url 'task:tasks' %}">Incomes</a>
                    <a title="Create Incomes" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'expense_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Expenses" href="{% url 'task:tasks' %}">Expenses</a>
                    <a title="Create Expenses" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'asset_category_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Asset Categories" href="{% url 'task:tasks' %}">Asset Categories</a>
                    <a title="Create Asset Categories" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'asset_sub_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Asset Sub Categories" href="{% url 'task:tasks' %}">Asset Sub Categories</a>
                    <a title="Create Asset Sub Categories" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'asset_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Assets" href="{% url 'task:tasks' %}">Assets</a>
                    <a title="Create Assets" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'liability_category_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Liability Categories" href="{% url 'task:tasks' %}">Liability Categories</a>
                    <a title="Create Liability Categories" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'liability_sub_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Liability Sub Categories" href="{% url 'task:tasks' %}">Liability Sub Categories</a>
                    <a title="Create Liability Sub Categories" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'liability_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Liabilities" href="{% url 'task:tasks' %}">Liabilities</a>
                    <a title="Create Liabilities" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'accounts_report_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-money-box"></i>Accounts Report</a>
            <ul>
                <li class="{% if active_menu == 'cash_book_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Cash Day Book" href="{% url 'task:tasks' %}">Cash Day Book</a>
                    <a title="Create Cash Day Book" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'bank_book_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Bank Day Book" href="{% url 'task:tasks' %}">Bank Day Book</a>
                    <a title="Create Bank Day Book" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'monthly_transaction_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Daily/ Monthly Transactions" href="{% url 'task:tasks' %}">Daily/ Monthly Transactions</a>
                    <a title="Create Daily/ Monthly Transactions" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'compare_transaction_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Compare Transactions" href="{% url 'task:tasks' %}">Compare Transactions</a>
                    <a title="Create Compare Transactions" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'ledger_transaction_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Ledger Transactions" href="{% url 'task:tasks' %}">Ledger Transactions</a>
                    <a title="Create Ledger Transactions" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'daily_fee_report_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Daily Fee Reports" href="{% url 'task:tasks' %}">Daily Fee Reports</a>
                    <a title="Create Daily Fee Reports" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'trail_balance_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Trail Balance" href="{% url 'task:tasks' %}">Trail Balance</a>
                    <a title="Create Trail Balance" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'income_expenditure_account_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Income Expenditure Account" href="{% url 'task:tasks' %}">Income Expenditure Account</a>
                    <a title="Create Income Expenditure Account" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'balance_sheet_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Balance Sheet" href="{% url 'task:tasks' %}">Balance Sheet</a>
                    <a title="Create Balance Sheet" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'store_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-store"></i>Store</a>
            <ul>
                <li class="{% if active_menu == 'product_category_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Product Categories" href="{% url 'task:tasks' %}">Product Categories</a>
                    <a title="Create Product Categories" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'product_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Products" href="{% url 'task:tasks' %}">Products</a>
                    <a title="Create Products" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'sales_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Sales" href="{% url 'task:tasks' %}">Sales</a>
                    <a title="Create Sales" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'exam_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-border-color"></i>Exams</a>
            <ul>
                <li class="{% if active_menu == 'exam_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Exams" href="{% url 'task:tasks' %}">Exams</a>
                    <a title="Create Exams" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'report_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-quilt"></i>Reports</a>
            <ul>
                <li class="{% if active_menu == 'daily_report_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Daily Reports" href="{% url 'task:tasks' %}">Daily Reports</a>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'monthly_report_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Monthly Reports" href="{% url 'task:tasks' %}">Monthly Reports</a>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'yearly_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Yearly Reports" href="{% url 'task:tasks' %}">Yearly Reports</a>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        <li class="sub-menu {% if active_parent == 'scholarship_create_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-compare"></i>Scholarships</a>
            <ul>
                <li class="{% if active_menu == 'sccholarship_category_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Scholarship Categories" href="{% url 'task:tasks' %}">Scholarship Categories</a>
                    <a title="Create Scholarship Categories" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'sccholarships_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Scholarships" href="{% url 'task:tasks' %}">Scholarships</a>
                    <a title="Create Scholarships" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'sccholarship_application_create_open' %}active{% endif %} m-b-5">
                    <a class="pull-left p-r-0" title="Scholarships Applications" href="{% url 'task:tasks' %}">Scholarships Applications</a>
                    <a title="Create Scholarships Applications" href="{% url 'task:tasks' %}">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        {% endif %}
        <li><a href="{% url 'users:settings' %}?active_parent=settings_create_open"><i class="zmdi zmdi-settings"></i> Settings</a></li>
    </ul>
</aside>
