{% load i18n %}
<div class="media-body h-search">
    <form class="p-relative" action="{% url 'main:search' %}" method="get">
        <input name="q" type="text" class="hs-input" placeholder="Search for students">
        <i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
    </form>
</div>