{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'academics:list_of_divisions_and_sem' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.student.id_for_label }}">
                                    {{ form.student.label }}
                                    {% if form.student.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.student.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.student }}

                                {% if form.student.errors %}
                                    <label class="error">{{ form.student.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.name.id_for_label }}">
                                    {{ form.name.label }}
                                    {% if form.name.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.name.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.name }}

                                {% if form.name.errors %}
                                    <label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.email.id_for_label }}">
                                    {{ form.email.label }}
                                    {% if form.email.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.email.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.email }}

                                {% if form.email.errors %}
                                    <label class="error">{{ form.email.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.phone.id_for_label }}">
                                    {{ form.phone.label }}
                                    {% if form.phone.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.phone.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.phone }}

                                {% if form.phone.errors %}
                                    <label class="error">{{ form.phone.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.address.id_for_label }}">
                                    {{ form.address.label }}
                                    {% if form.address.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.address.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.address }}

                                {% if form.address.errors %}
                                    <label class="error">{{ form.address.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.reason.id_for_label }}">
                                    {{ form.reason.label }}
                                    {% if form.reason.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.reason.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.reason.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.reason }}

                                {% if form.reason.errors %}
                                    <label class="error">{{ form.reason.errors.as_text }}</label>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/moment-precise-range.js' %}"></script>
    <script>
        function Duration(){
            var start_date = $("#id_start_date").val();
            var end_date = $("#id_end_date").val();
            var duration = 0;
            if (start_date !== "" && start_date !== null && end_date !== "" && end_date !== null ){
                var moment_start_date = moment(start_date,'MM/DD/YYYY');
                var moment_end_date = moment(end_date,'MM/DD/YYYY');
                var diff_time = moment.preciseDiff(moment_end_date,moment_start_date,true);
                var days = diff_time['days'];
                duration = diff_time['months'];
                if (days > 0){
                    duration += 1
                }
                $('#id_duration').val(duration);
            }
        }

        function get_student_data(element){
            var id_student = element.val();

            if (id_student != "" || id_student != null || id_student != undefined) {
                var url = "{% url 'enquiries:get_student_data' %}"
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: 'json',
                    data: {
                        id_student: id_student,
                    },
                    success: function(data) {
                        var status = data['status'];
                        if (status == "true") {
                            student = data['student'];
                            $('#id_name').val(student.name)
                            $('#id_email').val(student.email)
                            $('#id_phone').val(student.phone)
                            $('#id_address').val(student.address)
                        }
                    },
                    error: function(data) {

                    }
                });
            }
        }

        $(document).ready(function(){
            $('input[type=text]').focus(function () {
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });

            $(document).on('change, focusout', '#id_start_date, #id_end_date', function(){
                Duration();
            })
            $('#id_student').change(function(){
                $this = $(this);
                get_student_data($this);
            });
        });
    </script>
    {{form.media}}
{% endblock %}
