{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'transports:boarding_points' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                        {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.name.id_for_label }}">
                                    {{ form.name.label }}
                                    {% if form.name.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.name.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.name }}

                                {% if form.name.errors %}
                                    <label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.route.id_for_label }}">
                                    {{ form.route.label }}
                                    {% if form.route.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.route.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.route.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.route }}

                                {% if form.route.errors %}
                                    <label class="error">{{ form.route.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.staff.id_for_label }}">
                                    {{ form.staff.label }}
                                    {% if form.staff.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.staff.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.staff.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.staff }}

                                {% if form.staff.errors %}
                                    <label class="error">{{ form.staff.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.available_seat.id_for_label }}">
                                    {{ form.available_seat.label }}
                                    {% if form.available_seat.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.available_seat.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.available_seat.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.available_seat }}

                                {% if form.available_seat.errors %}
                                    <label class="error">{{ form.available_seat.errors.as_text }}</label>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}

{% block static %}
    {% load static %}
    {{ form.media }}

{% endblock %}
