{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'transports:transports' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>                
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                        {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">                           
                            <div class="form-group fg-line">
                                <label for="{{ form.choice.id_for_label }}">
                                    {{ form.choice.label }}
                                    {% if form.choice.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.choice.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.choice.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.choice }}
                                
                                {% if form.choice.errors %}
                                    <label class="error">{{ form.choice.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line student">                            
                                <label for="{{ form.student.id_for_label }}">
                                    {{ form.student.label }}
                                    {% if form.student.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.student.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.student }}
                                
                                {% if form.student.errors %}
                                    <label class="error">{{ form.student.errors.as_text }}</label>
                                {% endif %}
                            </div> 
                            <div class="form-group fg-line staff">                            
                                <label for="{{ form.staff.id_for_label }}">
                                    {{ form.staff.label }}
                                    {% if form.staff.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.staff.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.staff.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.staff }}
                                
                                {% if form.staff.errors %}
                                    <label class="error">{{ form.staff.errors.as_text }}</label>
                                {% endif %}
                            </div>                                     
                            <div class="form-group fg-line">
                                <label for="{{ form.boarding_point.id_for_label }}">
                                    {{ form.boarding_point.label }}
                                    {% if form.boarding_point.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.boarding_point.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.boarding_point.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.boarding_point }}
                                
                                {% if form.boarding_point.errors %}
                                    <label class="error">{{ form.boarding_point.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line">
                                <label for="{{ form.morning_bus.id_for_label }}">
                                    {{ form.morning_bus.label }}
                                    {% if form.morning_bus.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.morning_bus.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.morning_bus.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.morning_bus }}
                                
                                {% if form.morning_bus.errors %}
                                    <label class="error">{{ form.morning_bus.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.evening_bus.id_for_label }}">
                                    {{ form.evening_bus.label }}
                                    {% if form.evening_bus.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.evening_bus.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.evening_bus.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.evening_bus }}
                                
                                {% if form.evening_bus.errors %}
                                    <label class="error">{{ form.evening_bus.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>   
            </div>
        </div>
    </section>


    {% endblock %}
    
    {% block static %}
    {% load static %}
    
    <script>        
        $(document).ready(function(){
            $('.staff').hide();
        });
        function change_category(selector){
            var value = $(selector).val();
            if(value == 'student'){
                $('.student').show();
                $('.staff').hide()
            }
            else {
                $('.staff').show();
                $('.student').hide();
            }
        }
        $('#id_choice').change(function(){
            change_category(this);
        });
    </script>
        {{ form.media }}   
{% endblock %}