{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'transports:bus_passes' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>                
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                        {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">                           
                            <div class="form-group fg-line">
                                <label for="{{ form.boarding_point.id_for_label }}">
                                    {{ form.boarding_point.label }}
                                    {% if form.boarding_point.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.boarding_point.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.boarding_point.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.boarding_point }}
                                
                                {% if form.boarding_point.errors %}
                                    <label class="error">{{ form.boarding_point.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.student.id_for_label }}">
                                    {{ form.student.label }}
                                    {% if form.student.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.student.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.student }}
                                
                                {% if form.student.errors %}
                                    <label class="error">{{ form.student.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.date_of_issue.id_for_label }}">
                                    {{ form.date_of_issue.label }}
                                    {% if form.date_of_issue.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.date_of_issue.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.date_of_issue.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {% if is_edit %}
                                    <input id="{{ form.date_of_issue.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.date_of_issue.html_name}}" placeholder="Enter end date" value="{{ form.date_of_issue.value|date:'m/d/Y' }}">
                                {% else %}
                                    {{ form.date_of_issue }}
                                {% endif %}
                                
                                {% if form.date_of_issue.errors %}
                                    <label class="error">{{ form.date_of_issue.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.valid_up_to.id_for_label }}">
                                    {{ form.valid_up_to.label }}
                                    {% if form.valid_up_to.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.valid_up_to.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.valid_up_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {% if is_edit %}
                                    <input id="{{ form.valid_up_to.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.valid_up_to.html_name}}" placeholder="Enter end date" value="{{ form.valid_up_to.value|date:'m/d/Y' }}">
                                {% else %}
                                    {{ form.valid_up_to }}
                                {% endif %}
                                
                                {% if form.valid_up_to.errors %}
                                    <label class="error">{{ form.valid_up_to.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>   
            </div>
        </div>
    </section>

    {% endblock %}
    
    {% block static %}
    {% load static %} 
    
    {{ form.media }}   
{% endblock %}