{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
            {% if instance.student %}
                <div class="ah-label hidden-xs palette-White text">{{title_student}}</div>
            {% else %}
                <div class="ah-label hidden-xs palette-White text">{{title_staff}}</div>
            {% endif %}
                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Create Transport" href="{% url 'transports:create_transport' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Edit Transport" href="{% url 'transports:edit_transport' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Transport" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'transports:delete_transport' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Transport Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Choice</div>
                                    <small class="lgi-text">{{instance.choice}}</small>
                                </div>
                            </div>                           
                            {% if instance.choice != "staff" %}  
                                <div class="list-group-item media">  
                                    <div class="media-body">
                                        <div class="lgi-heading">Student</div>
                                        <small class="lgi-text">{{instance.student.name}}</small>
                                    </div>
                                </div>
                            {% endif %}
                            {% if instance.choice != "student" %}
                                <div class="list-group-item media">
                                <div class="media-body">
                                        <div class="lgi-heading">Staff</div>
                                        <small class="lgi-text">{{instance.staff.name}}</small>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Boarding Point</div>
                                    <small class="lgi-text">{{instance.boarding_point}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Morning Bus</div>
                                    <small class="lgi-text">{{instance.morning_bus}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Evening Bus</div>
                                    <small class="lgi-text">{{instance.evening_bus}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="#">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="#">{{instance.updater.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}
