{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Staffs<small></small></h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">
        	{% if instances %}
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric">ID</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th data-column-id="action" class="four">Action</th>
                    </tr>
                </thead>
                <tbody>
                	{% for instance in instances %}
                    <tr>
                        <td><a href="{% url 'staffs:staff' pk=instance.pk %}">{{instance.auto_id}}</a></td>
                        <td>{{instance.name}}</td>
                        <td>{{instance.designation}}</td>
                        <td class="four">
                        	<a href="{% url 'staffs:staff' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                        	<a href="{% url 'staffs:edit_staff' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                        	<a data-id="{{instance.pk}}" href="{% url 'staffs:delete_staff' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                        	
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            	<div class="card-body card-padding">
	            	<p>No staffs found</p>
	            </div>
            {% endif %}
        </div>
    </div>
</div>