
<div class="row">
    <div class="col-md-8">
        <div class="card card-padding">
            <div class="card-header">
                <h2>Manufacturing Report <small></small></h2>
            </div>

            <div class="card-body card-padding">
                <div class="row m-b-10">

                    <div class="col-sm-6">
                        <h1 id="id_work_order_amount" class="m-b-xs c-bluegray">0.00</h1>
                        <h4 class='c-bluegray'>Work Order Amount</h4>
                        <div id="sparkline1" class="m-b-sm"></div>
                        <div class="row">

                            <div class="col-xs-3 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Making Charge</small>
                                <h4 id="id_total_making_charge_amount" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-3 p-l-10 p-r-10" style="border-left: 1px solid rgba(0,0,0,.15);border-right: 1px solid rgba(0,0,0,.15)">
                                <small class="stats-label c-brown">Label Charge</small>
                                <h4 id="id_total_label_charge_amount" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-3 p-l-10 p-r-10" style="border-right: 1px solid rgba(0,0,0,.15)">
                                <small class="stats-label c-brown">Material Charge</small>
                                <h4 id="id_total_material_charge_amount" class ='c-brown'>0.00</h4>
                            </div>

                            <div class="col-xs-3 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Packing Charge</small>
                                <h4 id="id_total_packing_charge_amount" class ='c-brown'>0.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="border-right: 1px solid rgba(0,0,0,.15);border-left: 1px solid rgba(0,0,0,.15)">
                        <h1 id="id_total_work_orders_created" class="m-b-xs c-bluegray">0.00</h1>
                        <h4 class='c-bluegray'>Work Order Count</h4>
                        <div id="sparkline2" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-6 p-l-10 p-r-10" style="border-right: 1px solid rgba(0,0,0,.15)">
                                <small class="stats-label c-brown">Completed Work</small>
                                <h4 id="id_total_completed_works" class ='c-brown'>0.00</h4>
                            </div>

                            <div class="col-xs-6 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Pending Work</small>
                                <h4 id="id_total_pending_works" class ='c-brown'>0.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h1 id="id_this_period_checkout_final_profit_loss" class="m-b-xs c-bluegray">0.00</h1>
                        <h4 class='c-bluegray'>Checkout Profit/Loss</h4>
                        <div id="sparkline2" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-4 p-l-10 p-r-10" style="border-right: 1px solid rgba(0,0,0,.15)">
                                <small class="stats-label c-brown"> Profit</small>
                                <h4 id="id_this_period_checkout_profit_amount" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-4 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Loss</small>
                                <h4 id="id_this_period_checkout_loss_amount" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-4 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Making</small>
                                <h4 id="id_final_making_charge_profit_loss" class ='c-brown'>0.00</h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-padding">
            <div class="card-header">
                <h2>Vendor Report <small></small></h2>
            </div>

            <div class="card-body card-padding">
                <div class="row m-b-10">

                    <div class="col-sm-6" style="border-right: 1px solid rgba(0,0,0,.15)">
                        <h1 id="id_total_purchase_amount" class="m-b-xs c-bluegray">0.00</h1>
                        <h4 class='c-bluegray'>Purchase Amount</h4>
                        <div id="sparkline1" class="m-b-sm"></div>
                        <div class="row">

                            <div class="col-xs-6 p-l-10 p-r-10" style="border-right: 1px solid rgba(0,0,0,.15)">
                                <small class="stats-label c-brown">Paid</small>
                                <h4 id="id_total_purchase_paid_amount" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-6 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Balance</small>
                                <h4 id="id_total_purchase_balance_amount" class ='c-brown'>0.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h1 id="id_total_vendors_count" class="m-b-xs c-bluegray">0.00</h1>
                        <h4 class='c-bluegray'>Vendor Count</h4>
                        <div id="sparkline2" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-6 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Purchase Count</small>
                                <h4 id="id_total_purchases_count" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-6 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Packing Charge</small>
                                <h4 id="id_product_split_packing_charge" class ='c-brown'>0.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        


