{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Recent Students <small></small></h2>
    </div>

    <div class="card-body">
        {% if recent_customers %}
        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric">ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in recent_customers %}
                    <tr>
                        <td><a href="{% url 'customers:customer' pk=instance.pk %}">{{instance.auto_id}}</a></td>
                        <td>{{instance.name}}</td>
                        <td>{{instance.address}}</td>
                        <td>{{instance.phone}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="card-padding card-body">
                <p>No students found</p>
            </div>
        {% endif %}
    </div>
</div>