{% load static %}
<div class="card">
    
    <div class="card-body">
        <div class="col-md-4">
            <a href="{% url 'academics:admissions' %}">
                <div class="card c-dark palette-Blue-Grey bg">
                    <div class="card-header">
                        <h2>Admissions <small>Total number of Admissions</small></h2>
                         
                    </div>
                    <div class="card-body card-padding">
                        <h2 class="m-t-0 m-b-15 c-white">{{admissions_count}}</h2>                                
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'staffs:staffs' %}">
               <div class="card c-dark palette-Light-Blue bg  ">
                    <div class="card-header">
                        <h2>Staffs <small>Total number of staffs</small></h2>
                         
                    </div>
                    <div class="card-body card-padding">
                        <h2 class="m-t-0 m-b-15 c-white">{{staffs_count}}</h2>        
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>