{% extends "base.html" %}
{% load i18n %}
{% load users_template_tags %}
{% load tz %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>{{title}}</h2>
        </div>
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{instance.name}}</div>
            <ul class="ah-actions actions a-alt">
                <li>
                    <a title="Create Academics" href="{% url 'academics:create_department' %}">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                </li>
                <li>
                    <a title="Edit Academics" href="{% url 'academics:edit_department' pk=instance.pk %}">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                </li>
                <li>
                    <a title="Delete Academics" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_department' pk=instance.pk %}" class="action-button redirect">
                        <i class="zmdi zmdi-delete"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div id="c-grid" class="clearfix" data-columns="2">
            <div class="card">
                <div class="card-header">
                    <h2>Basic Info <small></small></h2>
                </div>
                <div class="card-body">
                    <div class="list-group lg-alt c-overflow">
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Department Name</div>
                                <small class="lgi-text">{{instance.name}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Course</div>
                                <small class="lgi-text">{{instance.course.name}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Course Code</div>
                                <small class="lgi-text">{{instance.course_code}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Fee</div>
                                <small class="lgi-text">{{instance.fee|default:"-"}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Admission Fee</div>
                                <small class="lgi-text">{{instance.admission_fee|default:"-"}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Special Fee</div>
                                <small class="lgi-text">{{instance.special_fee|default:"-"}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Library Fee</div>
                                <small class="lgi-text">{{instance.library_fee|default:"-"}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Created &amp; Updated <small></small></h2>
                </div>
                <div class="card-body">
                    <div class="list-group lg-alt c-overflow">
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Date Added</div>
                                <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Date Updated</div>
                                <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Created User</div>
                                <small class="lgi-text">{{instance.creator.username|get_user_name}}</small>
                            </div>
                        </div>
                        <div class="list-group-item media">
                            <div class="media-body">
                                <div class="lgi-heading">Last Updated User</div>
                                <small class="lgi-text">{{instance.updater.username|get_user_name}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
{% endblock %}