{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>{{title}}</h2>
        </div>
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            <div class="ah-search">
                <form method="get" action="{% url 'academics:departments' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>
            <ul class="ah-actions actions a-alt">
                <li>
                    <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                {% if instance %}
                <li>
                    <a title="Create Academics" href="{% url 'academics:create_department' %}">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                </li>
                <li>
                    <a title="View Academics" href="{% url 'academics:view_department' pk=instance.pk %}">
                        <i class="zmdi zmdi-eye"></i>
                    </a>
                </li>
                <li>
                    <a title="Delete Academics" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_department' pk=instance.pk %}" class="action-button redirect">
                        <i class="zmdi zmdi-delete"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="card">
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group fg-line ">
                                <label for="{{ form.course.id_for_label }}">
                                    {{ form.course.label }}
                                    {% if form.course.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.course.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.course.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {% if is_edit %}
                                <input id="{{ form.course.id_for_label }}" type="checkbox" class="checkbox check check_item" name="{{form.course.html_name}}">
                                {% else %}
                                {{ form.course }}
                                {% endif %}
                                {% if form.course.errors %}
                                <label class="error">{{ form.course.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.name.id_for_label }}">
                                    {{ form.name.label }}
                                    {% if form.name.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.name.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.name }}
                                {% if form.name.errors %}
                                <label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.course_code.id_for_label }}">
                                    {{ form.course_code.label }}
                                    {% if form.course_code.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.course_code.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.course_code.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.course_code }}
                                {% if form.course_code.errors %}
                                <label class="error">{{ form.course_code.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.fee.id_for_label }}">
                                    {{ form.fee.label }}
                                    {% if form.fee.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.fee.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.fee }}
                                {% if form.fee.errors %}
                                <label class="error">{{ form.fee.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group fg-line ">
                                <label for="{{ form.admission_fee.id_for_label }}">
                                    {{ form.admission_fee.label }}
                                    {% if form.admission_fee.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.admission_fee.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.admission_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.admission_fee }}
                                {% if form.admission_fee.errors %}
                                <label class="error">{{ form.admission_fee.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.special_fee.id_for_label }}">
                                    {{ form.special_fee.label }}
                                    {% if form.special_fee.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.special_fee.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.special_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.special_fee }}
                                {% if form.special_fee.errors %}
                                <label class="error">{{ form.special_fee.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.library_fee.id_for_label }}">
                                    {{ form.library_fee.label }}
                                    {% if form.library_fee.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.library_fee.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.library_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.library_fee }}
                                {% if form.library_fee.errors %}
                                <label class="error">{{ form.library_fee.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
<script type="text/javascript">
$(document).ready(function() {
    $('input[type=text]').focus(function() {
        $(this).select();
    });
});
</script>
{{ form.media }}
{% endblock %}