{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Create Admission" href="#">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Edit Batch" href="{% url 'academics:edit_admission' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Batch" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_admission' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Create Fee Payment" href="{% url 'finance:create_monthly_fee_payment' pk=instance.pk %}"><i class="zmdi zmdi-money"></i></a>
                    </li>
                    <li>
                        <a title="Create Transport Payment" href="{% url 'finance:create_transport_fee_payment' pk=instance.pk %}"><i class="zmdi zmdi-bus"></i></a>
                    </li>
                    <li>
                        <a title="Create Other Payment" href="{% url 'finance:create_other_fee_payment' pk=instance.pk %}"><i class="zmdi zmdi-group-work"></i></a>
                    </li>
                    <li>
                        <a title="Create Special Payment" href="{% url 'finance:create_special_fee_payment' pk=instance.pk %}"><i class="zmdi zmdi-money-box"></i></a>
                    </li>
                    <li>
                        <a title="Print Admission" href="{% url 'academics:print_admission' pk=instance.pk %}"><i class="zmdi zmdi-movie-alt"></i></a>
                    </li>
                </ul>
            </div>
            {% if admission %}
            <div class="container">
                <div class="card">
                    <div class="row">
                        <div class="card-header">
                            <h2>Student Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <div class="list-group lg-alt c-overflow">
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Reg:No</div>
                                        <small class="lgi-text">{{instance.register_no|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Admission:No</div>
                                        <small class="lgi-text">{{instance.admn_no|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Batch</div>
                                        <small class="lgi-text">{{instance.batch|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Name</div>
                                        <small class="lgi-text">{{instance.name|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Address</div>
                                        <small class="lgi-text">{{instance.address|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Phone</div>
                                        <small class="lgi-text">{{instance.phone|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Aadhar No</div>
                                        <small class="lgi-text">{{instance.aadhar_no|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Blood Group</div>
                                        <small class="lgi-text">{{instance.blood_group|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Watsapp No</div>
                                        <small class="lgi-text">{{instance.whatsapp_number|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Leave</div>
                                        <small class="lgi-text">{{instance.leave_type|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">DOB</div>
                                        <small class="lgi-text">{{instance.dob|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Age</div>
                                        <small class="lgi-text">{{instance.age|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Class</div>
                                        <small class="lgi-text">{{instance.department|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Gender</div>
                                        <small class="lgi-text">{{instance.get_gender_display|default:"-"}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="card-header">
                            <h2>Further Details <small></small></h2>
                        </div>
                        <div class="card-body">
                            <div class="list-group lg-alt c-overflow">
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Caste</div>
                                        <small class="lgi-text">{{instance.caste|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Religion</div>
                                        <small class="lgi-text">{{instance.religion|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Category</div>
                                        <small class="lgi-text">{{instance.category|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Joined Date</div>
                                        <small class="lgi-text">{{instance.date_joined|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Discount</div>
                                        <small class="lgi-text">{{instance.discount|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Transportation</div>
                                        <small class="lgi-text">{{instance.mode_of_transport|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Hosteler</div>
                                        <small class="lgi-text">{{instance.are_you_hosteler|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Hostel Name</div>
                                        <small class="lgi-text">{{instance.hostel_name|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Place</div>
                                        <small class="lgi-text">{{instance.place|default:"-"}}</small>
                                    </div>
                                </div>
                                <div class="list-group-item media col-sm-4">
                                    <div class="media-body">
                                        <div class="lgi-heading">Co_curricular</div>
                                        <small class="lgi-text">{{instance.co_curricular|default:"-"}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Father Details<small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Father Name</div>
                                    <small class="lgi-text">{{instance.father_name|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Phone</div>
                                    <small class="lgi-text">{{instance.phone|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Email</div>
                                    <small class="lgi-text">{{instance.father_email|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Occupation</div>
                                    <small class="lgi-text">{{instance.father_occupation|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">qualification</div>
                                    <small class="lgi-text">{{instance.father_qualification|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Annual Income</div>
                                    <small class="lgi-text">{{instance.father_annual_income|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Aadhar No</div>
                                    <small class="lgi-text">{{instance.father_aadhar_no|default:"-"}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Mother Details <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Mother Name</div>
                                    <small class="lgi-text">{{instance.mother_name|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Phone</div>
                                    <small class="lgi-text">{{instance.mother_phone|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Email</div>
                                    <small class="lgi-text">{{instance.mother_email|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Occupation</div>
                                    <small class="lgi-text">{{instance.mother_occupation|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">qualification</div>
                                    <small class="lgi-text">{{instance.mother_qualification|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Annual Income</div>
                                    <small class="lgi-text">{{instance.mother_annual_income|default:"-"}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Aadhar No</div>
                                    <small class="lgi-text">{{instance.mother_aadhar_no|default:"-"}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if clubs %}
                <div class="card">
                    <div class="card-header">
                        <h2>Active Club Details <small></small></h2>
                    </div>

                    <div class="card-body">
                        {% for club in clubs %}
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">{{club.club}}</div>
                                    <small class="lgi-text">Started on : {{club.club.issue_date}}</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}


                {% if features %}
                    <div class="card">
                        <div class="card col-md-6">
                            <div class="card-header">
                                <h2>Disability<small></small></h2>
                            </div>
                            <div class="card-body">
                                <div class="list-group lg-alt c-overflow">
                                    {% for feature in features %}
                                    <div class="list-group-item media col-sm-4">
                                        <div class="media-body">
                                            <small class="lgi-text">{{ feature.name }}</small>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if facilities %}
                        <div class="card col-md-6">
                            <div class="card-header">
                                <h2>Facility<small></small></h2>
                            </div>
                            <div class="card-body">
                                <div class="list-group lg-alt c-overflow">
                                    {% for facility in facilities %}
                                    <div class="list-group-item media col-sm-4">
                                        <div class="media-body">
                                            <small class="lgi-text">{{ facility.name }}</small>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                {% endif %}

                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text">{{instance.creator.username|get_user_name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media col-sm-4">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text">{{instance.updater.username|get_user_name}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if fee %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Fee Details <small></small></h2>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Fee Category</th>
                                    <th>Month</th>
                                    <th>Date</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in fee_payments %}
                                <tr class="check_items_row">

                                    <td>{{forloop.counter}}</td>
                                    <td class="student">{{instance.fee_category|default:"-"}}</td>
                                    <td>{{instance.month|default:"-"}}</td>
                                    <td>{{instance.date}}</td>
                                    <td>{{instance.paid}}</td>
                                    <td>{{instance.balance}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}
