{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content">
        <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                {% if division_pk %}
                    <div class="ah-search">
                        <form method="get" action="{% url 'academics:admissions_by_batch' pk=current_batch.pk  division_pk=division_pk %}" class="ahs-input">
                            <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                            <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                            <input type="submit" class="hidden" />
                        </form>
                    </div>
                {% else %}
                    <div class="ah-search">
                        <form method="get" action="{% url 'academics:admissions_by_class' pk=current_batch.pk class_pk=class_pk %}" class="ahs-input">
                            <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                            <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                            <input type="submit" class="hidden" />
                        </form>
                    </div>
                {% endif %}

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Filter" class="filter_button" href="">
                            <i class="zmdi zmdi-filter-list"></i>
                        </a>
                    </li>
                </ul>
            </div>

    <div class="card">
        {% if division_pk %}
            <div class="card-padding">          
                {% if instances %}
                
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th style="width:20px;"></th>
                                <th data-column-id="id" data-type="numeric" style="padding-left: 0;padding-right: 0;">Roll No</th>
                                <th>Admn No</th>
                                <th>Name</th>
                                <th>Student Phone</th>
                                <th>Father's Phone</th>
                                <th>Paid</th>
                                <th>Balance</th>
                                <th data-column-id="action" class="three">Action</th>
                                {% if current_role == "administrator" %}
                                    <th></th>
                                {% endif %}                               
                            </tr>
                        </thead>
                        <tbody>
                            {% load el_pagination_tags %}
                            {% paginate 21 instances %}
                            {% for instance in instances %}
                            <tr class="check_items_row">
                                <td style="width:20px;">
                                    <div class="form-check form-check-flat m-t-5">
                                        <label class="form-check-label">
                                            <input class="form-check-input check check-item" type="checkbox" value="{{instance.pk}}" name="delete_item" />
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.seat_id|default:"-"}}</a>
                                </td>
                                <td>
                                    <a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.admn_no|default:""}}{{instance.former_student.admn_no|default:""}}</a>
                                </td>
                                <td class="student"><a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.name|default:""}}</a></td>
                                <td>{{instance.std_phone|default:""}}</td>
                                <td>{{instance.phone|default:""}}</td>
                                <td>{{instance.paid}}</td>
                                <td>{{instance.balance}}</td>
                                <td class="action three">
                                    <a href="{% url 'academics:admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                    
                                    
                                    <a href="{% url 'academics:edit_admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    
                                    
                                    <a data-id="{{ instance.pk }}" href="{% url 'academics:delete_admission' pk=instance.pk %}" data-text="Are you sure want to delete this item. All associated data may be removed." data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                                </td>         
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>            
                <!--pagination -->
                <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                    {% get_pages %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pagination">
                                {% show_pages %}
                            </div>
                        </div>
                        <div class="col-sm-6 infoBar">
                            <div class="infos">
                                Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                    </div>
                </div>   
                
                <!--pagination-->
                
                {% else %}
                    {% include 'includes/not_found.html' %}
                {% endif %}            
            </div>    
        {% else %}
            <div class="card-padding">          
                {% if instances %}
                
                 <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th style="width:20px;"></th>
                                {% if class_pk %}
                                    <th data-column-id="id" data-type="numeric" style="padding-left: 0;padding-right: 0;">Admn No.</th>
                                {% else%}
                                    <th data-column-id="id" data-type="numeric" style="padding-left: 0;padding-right: 0;">Admn No.</th>
                                {% endif %}
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Class</th>
                                <th>Division</th>
                                <th>Fee</th>
                                <th>Paid</th>
                                <th>Balance</th>
                                <th data-column-id="action" class="three">Action</th>
                                {% if current_role == "administrator" %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% load el_pagination_tags %}
                            {% paginate 21 instances %}
                            {% for instance in instances %}
                            <tr class="check_items_row">
                                <td style="width:20px;">
                                    <div class="form-check form-check-flat m-t-5">
                                        <label class="form-check-label">
                                            <input class="form-check-input check check-item" type="checkbox" value="{{instance.pk}}" name="delete_item" />
                                        </label>
                                    </div>
                                </td>
                                {% if class_pk %}
                                <td>
                                    <a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.admn_no|default:""}}{{instance.former_student.admn_no|default:""}}</a>
                                </td>
                                {% else %}
                                 <td>
                                    <a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.admn_no|default:""}}{{instance.former_student.admn_no|default:""}}</a>
                                </td>
                                {% endif %}
                                <td class="student"><a href="{% url 'academics:admission' pk=instance.pk %}">{{instance.name|default:""}}</a></td>
                                <td>{{instance.phone|default:""}}</td>
                                <td>{{instance.department|default:""}}</td>
                                <td>{{instance.sub_division.name|default:""}}</td>
                                <td>{{instance.fee}}</td>
                                <td>{{instance.paid}}</td>
                                <td>{{instance.balance}}</td>
                                <td class="action three">
                                    <a href="{% url 'academics:admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                    
                                    
                                    <a href="{% url 'academics:edit_admission' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    
                                    
                                    <a data-id="{{ instance.pk }}" href="{% url 'academics:delete_admission' pk=instance.pk %}" data-text="Are you sure want to delete this item. All associated data may be removed." data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                                </td>
                                  
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>            
                <!--pagination -->
                <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                    {% get_pages %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pagination">
                                {% show_pages %}
                            </div>
                        </div>
                        <div class="col-sm-6 infoBar">
                            <div class="infos">
                                Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                    </div>
                </div>   

                <!--pagination-->
                
                {% else %}
                    {% include 'includes/not_found.html' %}
                {% endif %}            
            </div>   
        {% endif %}     
    </div> 
    </div>   
</section>

{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="{% url 'academics:admissions' %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i>Back</span>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label style="display: block;">Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>
                <div class="form-group fg-line">
                    <label style="display: block;">College</label>
                    <select name="institute" id="institute" class="selecty">
                        <option value="">Nothing Selected</option>
                        {% for institute in institutes %}
                            <option value="{{institute.id}}">{{institute.name}}</option>
                        {% endfor %}
                    </select>
                </div>
               <!--  <div class="form-group fg-line">
                    <label style="display: block;">Squad Area</label>
                    <select name="squadarea" id="squadarea" class="selecty">
                        <option value="">Nothing Selected</option>
                        {% for squadarea in squadareas %}
                            <option value="{{squadarea.id}}">{{squadarea.name}}</option>
                        {% endfor %}
                    </select>
                </div> -->
                <!--  <div class="form-group fg-line">
                    <label style="display: block;">Place</label>
                    <select name="place" id="place" class="selecty">
                        <option value="">Nothing Selected</option>
                        {% for place in places %}
                            <option value="{{place.id}}">{{place.name}}</option>
                        {% endfor %}
                    </select>
                </div> -->
                {% if not division_pk %}
                    {% if not class_pk %}
                    <div class="form-group fg-line">
                        <label style="display: block;">Class</label>
                        <select name="department" id="id_department" class="selectordie">
                            <option value="">Nothing Selected</option>
                            {% for department in departments %}
                                <option value="{{department.id}}">{{department.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group fg-line">
                        <label style="display: block;">Division</label>
                        <select name="sub_division" id="id_sub_division" class="selectordie">
                            <option value="">Nothing Selected</option>
                        </select>
                    </div>
                    {% else %}
                        <div class="form-group fg-line">
                        <label style="display: block;">Division</label>
                        <select name="sub_division" id="id_sub_division" class="selectordie">
                            <option value="">Nothing Selected</option>
                            {% for division in sub_divisions %}
                            <option value="{{division.pk}}">{{division.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                {% endif %}
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}
{% block static %}
    {% load static %}
     <script type="text/javascript">
        $(document).on('change', '#id_department', function(){
            var department = $('#id_department').val();
            if (department != ''){
                showZones(department);
            }
        });

        function showZones(department){              
            var url = "{% url 'academics:get_divisions' %}" + "?pk=" + department;
            
            $.getJSON(url, function(models) {
                var options = '<option value="">---------</option>';
                for (var i = 0; i < models.length; i++) {
                    options += '<option value="' + models[i].pk + '">' + models[i].fields['name'] + '</option>';
                }
                $('#id_sub_division').html(options);
                $('#id_sub_division').selectOrDie('update');

            }).fail(function() {
               alert("Divisions not loaded. Please refresh page again."); 
            });
        }
        $(document).ready(function(){
            $('input[type=text]').focus(function () { 
                $(this).select();
            });
        });
    </script>
    <style>
        .btn.login-button{
            font-size: 12px !important;
        }
        @media all and (max-width: 480px){
            .btn.login-button{
                font-size: 10px !important;
            }
            #content{
                overflow-x: scroll;
            }
            
        }
        .student {
            text-transform: capitalize;
        }
         .modal .modal-dialog .modal-content .modal-header {
        padding: 0 26px; 
        }
        .modal .modal-dialog .modal-content .modal-body {
            padding: 15px 26px;
        }
        .modal .modal-dialog .modal-content .modal-header {
            padding: 0 10px 0 0;
        }
        .modal .modal-dialog {
            margin-top: calc(135px + 30px);
        } 
        .login-button {
            font-size: 12px;
        }
        .btn::before {
            background-color: rgba(0,0,0,.12);
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 2px;
            -webkit-transition-duration: .3s;
            -o-transition-duration: .3s;
            transition-duration: .3s;
            -webkit-transition-property: opacity;
            -o-transition-property: opacity;
            transition-property: opacity;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
        }
        .card-padding {
            padding: 0.88rem 0.81rem 1.88rem;
        }
    </style>
{% endblock %}

