{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}
{% load academics_template_tags %}
{% block content %}
	<section id="content" class="content-wrapper container">
		<div class="action-header clearfix mb-3">
	        <div class="ah-label mdc-text-grey-900">{{title}}</div>

	        <div class="ah-search">
	            <form method="get" action="">
	                <input name="q" placeholder="Start typing..." class="ahs-input" type="text">

	                <i class="ah-search-close mdi mdi-arrow-left" data-ma-action="ah-search-close"></i>
	                <input class="hidden" type="submit">
	            </form>
	        </div>

	        <ul class="ah-actions actions a-alt">

	        </ul>
    	</div>
         <div class="m-b-30 mt-25 pr-3">
         	<!-- {% if current_role == "parent" %}
         		<a href="{% url 'students:view_special_note' pk=instance.pk %}" title=" View Special Note"><button type="button" title=" View Special Note" class="btn-sm btn-warning btn btn1"><i class="mdi mdi-label"></i><b class="hidden-xs">View Note</b></button></a>
            	<a href="{% url 'students:create_parent_instruction' pk=instance.pk %}" title="Create Parent Instruction"><button type="button" title="Create Parent Instruction" class="btn-warning btn btn1 btn-sm"><i class="mdi mdi-label"></i><b class="hidden-xs">Instruction</b></button></a>
            {% endif %} -->
               <!--  <a  title="Parent Instructions" href="{% url 'students:view_parent_instruction' pk=instance.pk %}"><button type="button"  class="btn-info btn btn1 btn-sm" title="Parent Instructions"><i class="mdi mdi-currency-usd "></i><b class="hidden-xs">Instructions</b></button></a>
			{% if not current_role == "parent" %}
	            {% if not instance.user %}
	                {% if current_role == "administrator" %}
	                    
	                        <a title="Create Parent User" href="{% url 'users:create_parent_user' pk=instance.pk %}">
	                            <button type="button"  class="btn-success btn btn1 btn-sm"><i class="mdi mdi-account"></i>
	                        </i><b class="hidden-xs">User</b></button>
	                    
	                {% endif %}
	                {% else %}
	               
	                    <a title="Revoke Parent User" class="action-button redirect" data-title="Are you sure?" href="{% url 'users:revoke_access_parent' pk=instance.pk %}"">
	                            <button type="button"  class="btn-success btn btn1 btn-sm"><i class="mdi mdi-refresh"></i>
	                        </i><b class="hidden-xs">Revoke</b></button>
	                
	            {% endif %} -->
	          <!--   <a title="Edit Admission" href="{% url 'students:edit_admission' pk=instance.pk %}"><button type="button"  class="btn-primary btn btn1 btn-sm"><i class="mdi mdi-pencil"></i><b class="hidden-xs">Edit</b></button></a>
            	<a href="{% url 'students:admission_details' pk=instance.pk %}" title="More Details"><button type="button" title="More Details" class="btn-sm btn-warning btn btn1"><i class="mdi mdi-package"></i><b class="hidden-xs">More</b></button></a> -->
	           <!--  <a title="Scoresheet" href="{% url 'exams:list_results_by_admission'  pk=instance.pk %}"><button type="button"  class="btn-sm btn-info btn btn1" title="Scoresheet"><i class="mdi mdi-book"></i><b class="hidden-xs">Scoresheet</b></button></a> -->
<!--                 <a title="Create Special Note" href="{% url 'students:create_special_note' pk=instance.pk %}"><button type="button"  class="btn-sm btn-info btn btn1" title="Create Special Note"><i class="mdi  mdi-comment-multiple-outline"></i><b class="hidden-xs">Create Note</b></button></a>
                <a title="PTA History" href="{% url 'academics:pta_history_by_student' pk=instance.pk %}"><button type="button" title="PTA History" class="btn-danger btn btn1""><i class="mdi mdi-airballoon"></i><b class="hidden-xs"> History</b></button></a>
            	<a href="{% url 'students:view_special_note' pk=instance.pk %}" title=" View Special Note"><button type="button" title=" View Special Note" class="btn-sm btn-warning btn btn1"><i class="mdi mdi-label"></i><b class="hidden-xs">View Note</b></button></a>
	            <a title="Create Fee Payment" href="{% url 'finance:create_fee_payment' pk=instance.pk %}"><button type="button"  class="btn-sm btn-primary btn btn1"><i class="mdi mdi-currency-inr"></i></i><b class="hidden-xs">Fee Payment</b></button></a>
            	<a data-id="{{instance.pk}}" title="Delete Admission" href="{% url 'students:delete_admission' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button redirect"><button type="button"  class="btn-danger btn btn1 btn-sm"><i class="mdi mdi-delete"></i><b class="hidden-xs">Delete</b></button></a>
       			<a title="Print Admission" href="{% url 'students:print_admission'  pk=instance.pk %}"><button type="button"  class="btn-sm btn-info btn btn1" title="Print Admission"><i class="mdi mdi-printer"></i><b class="hidden-xs">Print</b></button></a>
       			<a title="Print Fee Receipt" href="{% url 'finance:print_fee_slip'  pk=instance.pk %}" title="Print Fee Reciept"><button type="button"  class="btn-sm btn-info btn btn1" title="Print Admission"><i class="mdi mdi-printer"></i><b class="hidden-xs">Print Fee Reciept</b></button></a>
       			<a title="Create Student Fee" href="{% url 'students:create_student_fee_by_student' pk=instance.pk %}"><button type="button"  class="btn-sm btn-primary btn btn1"><i class="mdi mdi-currency-gbp"></i></i><b class="hidden-xs">Student Special Fee</b></button></a>
       			<a title="Create Special Fee Payment" href="{% url 'finance:create_special_fee_payment' pk=instance.pk %}"><button type="button"  class="btn-sm btn-primary btn btn1"><i class="mdi mdi-currency-usd"></i></i><b class="hidden-xs">Special Fee Payment</b></button></a>
       			<a data-id="{{instance.pk}}" title="Rollout Admission" href="{% url 'students:roll_out_admission' pk=instance.pk %}" data-text="Are you sure to roolout this admission?" data-title="Are you sure?" class="action-button redirect"><button type="button"  class="btn-danger btn btn1 btn-sm"><i class="mdi mdi-close"></i><b class="hidden-xs">Roll Out</b></button></a>
        {% endif %}
        </div>
      -->
			<div class="card">
			<section id="top">
				<section class="wrapper">
					<section class="top">
					<div class="photo">
						{% if instance.photo %}
							<span><img src="{{instance.photo.url}}" alt="{{instance.name}}"/></span>
						{% else %}
						<span>Photo</span>
						{% endif %}
					</div>
						<div class="left">
	                    		<table class="table">
									<tr>
										<th class="border-right-0 border-left-0"><b>Reg No.</b></th>
										<th class="border-right-0 border-left-0"><b>Ad No.</b></th>
										<th class="border-right-0 border-left-0"><b>Smart No.</b></th>
									</tr>
									<tr>
										<td class="p-2">{{instance.register_no|default:""}}</td>
										<td class="p-2">{{instance.admn_no|default:""}}</td>
									</tr>
								</table>

							<!-- <div class="register">
								<div class="resp">
									<h2>Reg No.</h2>
									<span>{{instance.register_no|default:""}}</span>
									<br class="clear" />
								</div>
								<div class=resp>
									<h2>Ad No.</h2>
									<span>{{instance.admn_no|default:""}}</span>
									<br class="clear" />
								</div>
								<div class=resp>
									<h2>Smart No.</h2>
									<span>{{instance.smart_no|default:""}}</span>
									<br class="clear" />
								</div>
								<br class="clear" /> 
							</div> --><!-- (#top > .wrapper > .top > div.left > div.register) -->
							
							<div class="content">
								<p><strong style="margin-right: 20px; width:50%; ">Name of Student </strong> <small style="display: inline-block;">:</small>{{instance.name}}</p>
								<p><strong style="margin-right: 20px;width:50%; ">Address </strong> <small style="display: inline-block;">:</small> {{instance.address}}</p>
								<p><strong style="margin-right: 20px; width:50%; ">Gender </strong> <small style="display: inline-block;">:</small><small style="text-transform: uppercase;font-size: 10pt;"> {{instance.gender}}</small></p>
								<p><strong style="margin-right: 20px;width:50%; ">Phone No </strong> <small style="display: inline-block;">:</small> {{instance.phone}}</p>
							</div><!-- (#top > .wrapper > .top > div.left > div.content) -->
						</div><!-- (#top > .wrapper > .top > div.left) -->
						<div class="content">
							<p><span><strong style="margin-right: 20px; width:50%;">Name of Father</strong> <small style="display: inline-block;">:</small> {{instance.father_name|default:""}}</span></p>
							<p> <span><strong style="margin-right: 20px; width:50%;">Father's Occupation</strong> <small style="display: inline-block;">:</small>  {{instance.father_occupation|default:""}}</span></p>
							<p><span><strong style="margin-right: 20px; width:50%;">Name of Mother</strong> <small style="display: inline-block;">:</small> {{instance.mother_name|default:""}}</span></p>
							<p><span><strong style="margin-right: 20px; width:50%;">Mother's Occupation</strong> <small style="display: inline-block;">:</small>  {{instance.mother_occupation|default:""}}</span></p>

							<p><strong style="margin-right: 20px; width:50%;">Date of Admission</strong> <small style="display: inline-block;">:</small> {{instance.date_joined|default:"---"}}</p>
							<p><strong style="margin-right: 20px; width:50%;">Way to Home</strong> <small style="display: inline-block;">:</small> {{instance.place}}</p>

						</div><!-- (#top > .wrapper > .bottom > div) -->
						<br class="clear" />					
					</section><!-- (#top > .wrapper > .top) -->
					<section class="bottom">
						
						<section id="tables">
				<section class="">
					{% if fee_payments %}
					<section class="fee-details">
						<h2>Fee details</h2>
						 <div class="table-responsive">
                    		<table class="table">
							<tr>
								<th>April</th>
								<th>May</th>
								<th>June</th>
								<th>July</th>
								<th>August</th>
								<th>September</th>
							</tr>
							<tr>
								<td>{{instance.pk|get_monthly_fee:"april"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"may"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"june"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"july"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"august"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"september"|default:"0"}}</td>
							</tr>
							<tr>
								<th>October</th>
								<th>November</th>
								<th>December</th>
								<th>January</th>
								<th>February</th>
								<th>March</th>
							</tr>
							<tr>
								<td>{{instance.pk|get_monthly_fee:"october"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"november"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"december"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"january"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"february"|default:"0"}}</td>
								<td>{{instance.pk|get_monthly_fee:"march"|default:"0"}}</td>
							</tr>
						</table>
						</div>
					</section><!-- (#tables .wrapper .fee-details) -->
					{% endif %}
					{% if other_fee_payments %}
					<section class="fee-details">
						<h2>Other Fee details</h2>
						 <div class="table-responsive">
                    		<table class="table">
							<tr>
	                                <th>Fee Category</th>
	                                <th>Amount</th>
	                                <th>Paid</th>
	                                <th class="last">Balance</th>
	                            </tr>
							{% for fee in other_fee_payments %}
	                            <tr class="check_items_row">
	                                <td class="student">{{fee.fee_category.name}}</td>
	                                <td>{{fee.amount|default:"-"}}</td>
	                                <td>{{fee.paid}}</td>
	                                <td class="last">{{fee.balance}}</td>
	                            </tr>
	                            {% endfor %}
						</table>
						</div>
					</section><!-- (#tables .wrapper .fee-details) -->
					{% endif %}
					
					{% if vacation_results %}
					<section class="vacation-test">
						<h2>Performance in Vacation Test</h2>
						 <div class="table-responsive">
                    		<table class="table">
							<tr>
								<th>Subject</th>
								<th>Mal-I</th>
								<th>Mal-II</th>
								<th>Eng</th>
								<th>Hindi</th>
								<th>Maths</th>
								<th>S.S</th>
								<th>Geo.</th>
								<th>Phy.</th>
								<th>Che.</th>
								<th>Bio.</th>
								<th>ICT</th>
							</tr>
							<tr>
								<td>Mark</td>
								<td>{{instance.pk|get_exam_result_vacation:"malayalam_1"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"malayalam_2"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"english"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"hindi"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"maths"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"ss"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"geo"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"physics"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"chemistry"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"biology"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_vacation:"ict"|default:"-"}}</td>
							</tr>
							<tr>
								<td>Grade</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"malayalam_1"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"malayalam_2"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"english"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"hindi"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"maths"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"ss"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"geo"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"physics"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"chemistry"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"biology"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_vacation_grade:"ict"|default:""}}</td>
							</tr>
						</table>
						</div>
						<div>
							<span class="left">Opinion of Parent</span>
							<span class="right">Signature of Parent</span>
							<br class="clear" />
						</div>
					</section><!-- (#tables .wrapper .vacation-test) -->
					{% endif %}
					{% if first_term_results %}
					<section class="first-evaluation">
						<h2>First Terminal Evaluation</h2>
						 <div class="table-responsive">
                    		<table id="data-table-basic" class="table table-striped table-vmiddle">
							<tr>
								<th>Subject</th>
								<th>Mal-I</th>
								<th>Mal-II</th>
								<th>Eng</th>
								<th>Hindi</th>
								<th>Maths</th>
								<th>S.S</th>
								<th>Geo.</th>
								<th>Phy.</th>
								<th>Che.</th>
								<th>Bio.</th>
								<th>ICT</th>
							</tr>
							<tr>
								<td>Mark</td>
								<td>{{instance.pk|get_exam_result_first:"malayalam_1"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"malayalam_2"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"english"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"hindi"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"maths"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"ss"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"geo"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"physics"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"chemistry"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"biology"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_first:"ict"|default:"-"}}</td>
							</tr>
							<tr>
								<td>Grade</td>
								<td>{{instance.pk|get_exam_result_first_grade:"malayalam_1"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"malayalam_2"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"english"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"hindi"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"maths"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"ss"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"geo"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"physics"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"chemistry"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"biology"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_first_grade:"ict"|default:""}}</td>
							</tr>
						</table>
						</div>
						<div>
							<span class="left">Opinion of Parent</span>
							<span class="right">Signature of Parent</span>
							<br class="clear" />
						</div>
					</section><!-- (#tables .wrapper .first-evaluation) -->
					{% endif %}
					{% if second_term_results %}
					<section class="second-evaluation">
						<h2>Second Terminal Evaluation</h2>
						 <div class="table-responsive">
                    		<table id="data-table-basic" class="table table-striped table-vmiddle">
							<tr>
								<th>Subject</th>
								<th>Mal-I</th>
								<th>Mal-II</th>
								<th>Eng</th>
								<th>Hindi</th>
								<th>Maths</th>
								<th>S.S</th>
								<th>Geo.</th>
								<th>Phy.</th>
								<th>Che.</th>
								<th>Bio.</th>
								<th>ICT</th>
							</tr>
							<tr>
								<td>Mark</td>
								<td>{{instance.pk|get_exam_result_second:"malayalam_1"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"malayalam_2"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"english"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"hindi"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"maths"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"ss"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"geo"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"physics"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"chemistry"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"biology"|default:"-"}}</td>
								<td>{{instance.pk|get_exam_result_second:"ict"|default:"-"}}</td>
							</tr>
							<tr>
								<td>Grade</td>
								<td>{{instance.pk|get_exam_result_second_grade:"malayalam_1"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"malayalam_2"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"english"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"hindi"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"maths"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"ss"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"geo"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"physics"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"chemistry"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"biology"|default:""}}</td>
								<td>{{instance.pk|get_exam_result_second_grade:"ict"|default:""}}</td>
							</tr>
						</table>
						<div>
						</div>
							<span class="left">Opinion of Parent</span>
							<span class="right">Signature of Parent</span>
							<br class="clear" />
						</div>
					</section><!-- (#tables .wrapper .second-evaluation) -->
					{% endif %}
				</section><!-- (#tables .wrapper) -->			
			</section><!-- (#tables) -->
						</div><!-- (#top > .wrapper > .bottom > div) -->
					</section><!-- (#top > .wrapper > .bottom) -->
				</section><!-- (#top > .wrapper) -->
			</section><!-- (#top) -->
			
		</div>	
	</section>

{% endblock %}
{% block static %}
	{% load static %}	
	<style>
		* {
			margin: 0;
			padding: 0;
			border: 0;
			vertical-align: baseline;
			background: transparent;
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			outline: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		ol, ul {
			list-style: none;
		}
		blockquote {
			quotes: none;
		}
		blockquote:before, blockquote:after {
			content: '';
			content: none;
		}
		del {
			text-decoration: line-through;
		}
		header, section, article, aside, nav, footer, address {
			display: block;
		}
		body {
			font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
			font-size: 17px;
			color: #333;
			overflow-x: hidden;
			min-width: 320px;
		}
		input,textarea,select{
			font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
		}
		br.clear{
			clear: both;
		}
		.left{
			float: left;
		}
		.right{
			float: right;
		}
		.thumb{
			display: block;
		}
		.thumb img{
			display: block;
			width:100%;
		}
		a:hover,[type="submit"]:hover{
			filter: alpha(opacity = 85);
			-moz-opacity: 0.85;
			-khtml-opacity: 0.85;
			opacity: 0.85;
		}
		.wrapper {
			width: 90%;
			margin: 0 auto;
			max-width:1200px;
		}
		#top {
		    padding: 40px 0 20px;
		}
		#top .top{
		}
		#top .top div.left{
			width: 100%;
		}
		#top .top div.left div.register{
			margin-bottom: 5%;
		}
		#top .top div.left div.register div{
			float: left;
			width: 33.33%;
		}
		#top .top div.left div.register div h2{
			font-size: 13pt;
			float: left;
			margin-bottom: 0;
			line-height:25px;
			margin-right: 5px;
		}
		#top .top div.left div.register div span{
			float: left;
			border: 1px solid #BDBDBD;
			width: 100px;
		    height: 25px;   
		    -webkit-box-sizing: border-box;
		     -moz-box-sizing: border-box;
		     box-sizing: border-box; 
		     text-align:center;
		}
		#top .top div.left div.content{
		}
		#top .top div.left div.content p{
			margin-top: 3%;
		}
		#top div.content p strong{
		    margin-right: 10px;
		    display: inline-block;
		    width: 25%;
		    margin-right: 10%
		}
		#top div.content small{
		    font-size: 12pt;
		    margin-right: 10%
		}
		#top .top div.left div.content p span{
			width: 50%;
			display: inline-block;
		}
		#top .top div.photo{
			min-height:160px;
			min-width: 160px;
		}
		#top .top div.photo span{
			border:1px solid #BDBDBD;
			display: block;
			line-height:160px;
			text-align: center;
			margin: 0 auto;
			width: 20%;
		}
		#top .top div.photo span img{
			display:block;
			width:100%;
		}
		#top .bottom{

		}
		#top .bottom div{

		}
		#top .bottom div.content{

		}
		#top .bottom div.content p span{
			width: 50%;
			display: inline-block;
		}
		#tables{
			margin-top: 5%;
		}
		#tables .fee-details{
			text-transform: uppercase;

		}
		#tables .fee-details h2{
			text-align: center;
			font-weight: bold;
			margin-bottom: 2%;
			font-size: 14pt;
		}
		#tables .fee-details table{
			border:1px solid #BDBDBD;
			border-collapse: collapse;
			width: 100%;
		}
		#tables .fee-details table tr{
		}
		#tables .fee-details table tr th{
			border:1px solid #BDBDBD;
			border-collapse: collapse;
			padding: 2%;
			width: 16.66%;
			font-size: 11pt;
    		text-align: center;
		}
		#tables .fee-details table tr td{
			border:1px solid #BDBDBD;
			border-collapse: collapse;
			padding: 2%;
			width: 16.66%;
			text-align: center;
		}
		#tables .vacation-test{
			margin: 2% 0;
		}
		#tables .vacation-test h2{
			text-align: center;
			font-weight: bold;
			margin-bottom: 2%;	
		}
		#tables .vacation-test table{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			width: 100%;
		}
		#tables .vacation-test table tr{

		}
		#tables .vacation-test table tr th{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			padding: 2%;
			width: 8.33%;
		}
		#tables .vacation-test table tr td{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			padding: 2%;
			width: 8.33%;
		}
		#tables .vacation-test div{
			border: 1px solid #BDBDBD;
			padding: 2%;
			border-top: none;
		}
		#tables .vacation-test div span.right{
			margin-top: 10%;

		}
		#tables .first-evaluation{
			margin-bottom: 5%;
		}
		#tables .first-evaluation h2{
			text-align: center;
			font-weight: bold;
			margin-bottom: 2%;	
			margin-top: 2%;
			font-size: 1.2rem;
		}
		#tables .first-evaluation table{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			width: 100%;
		}
		#tables .first-evaluation table tr{

		}
		#tables .first-evaluation table tr th{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			width: 9.33%;
			font-size:1rem;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		#tables .first-evaluation table tr td{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			padding: 1%;
			width: 8.33%;
		}
		#tables .first-evaluation div{
			border: 1px solid #BDBDBD;
			padding: 1%;
			border-top: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		#tables .first-evaluation div span.right{
			margin-top: 10%;

		}
		#tables .second-evaluation{
			margin: 2% 0;
		}
		#tables .second-evaluation h2{
			text-align: center;
			font-weight: bold;
			margin-bottom: 2%;	
		}
		#tables .second-evaluation table{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			width: 100%;
		}
		#tables .second-evaluation table tr{

		}
		#tables .second-evaluation table tr th{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			padding: 2%;
			width: 8.33%;
		}
		#tables .second-evaluation table tr td{
			border: 1px solid #BDBDBD;
			border-collapse: collapse;
			padding: 2%;
			width: 8.33%;
		}
		#tables .second-evaluation div{
			border: 1px solid #BDBDBD;
			padding: 2%;
			border-top: none;
		}
		#tables .second-evaluation div span.right{
			margin-top: 10%;

		}
		table td, th {
			border: 1px solid #000;
			padding: 10px;
		}

		@media all and (max-width: 1280px){
		}
		@media all and (max-width: 980px){
			#top .top div.photo{
				min-height:140px;
				min-width: 140px;
			}
			#top .top div.photo span{
				line-height:140px;
				width: 50%;
			}
		}
		@media all and (max-width: 768px){
			#top .top div.photo{
				min-height:100px;
				min-width: 100px;
			}
			#top .top div.photo span{
				line-height:100px;
				width: 40%;
			}
		}
		@media all and (max-width: 640px){
		}
		@media all and (max-width: 480px){
			.resp{
				width:70%;
			}
			#top .top div.photo{
				min-height:80px;
				min-width: 80px;
			}
			#top .top div.photo span{
				line-height:80px;
				width: 40%;
			}
		}
		@media all and (max-width: 360px){
				
		}
		@media all and (max-width: 320px){
		}
	</style>
{% endblock %}