{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load static %}
{% load tz %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>Student Details</h2>
        </div>
        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        {% if instance.photo %}
                            <img class="img-responsive" src="{{instance.photo.url}}" alt="image">
                        {% else %}
                            <img class="" src="{% static 'img/user.png' %}">
                        {% endif %}
                    </div>
                    <div class="pmo-stat">
                        <h2 class="m-0 c-white">{{instance.register_no|default:"-"}}</h2>
                    </div>
                </div>
                <div class="pmo-block pmo-contact hidden-xs">
                    <h2>Info</h2>
                    <ul>
                        <li><i class="zmdi zmdi-face"></i>{{instance.name|default:"-"}}</li>
                        <li><i class="zmdi zmdi-album"></i>{{instance.batch|default:"-"}}</li>
                        <li><i class="zmdi zmdi-phone"></i>{{instance.phone|default:"-"}}</li>
                        <li><i class="zmdi zmdi-email"></i>{{instance.email|default:"-"}}</li>
                        <li><i class="zmdi zmdi-male-female"></i>{{instance.get_gender_display|default:"-"}}</li>
                        <li><i class="zmdi zmdi-gamepad"></i>{{instance.sub_division|default:"-"}}</li>
                    </ul>
                </div>
            </div>

            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified" style="width:100%; margin-bottom: 1%;">
                    <li class="active waves-effect" style = "border-right:2px solid #2196F3;"><a href="{% url 'academics:admission_full_view' pk=instance.pk %}">Details</a></li>
                    <li class="active waves-effect"><a href="{% url 'academics:admission_fee_view' pk=instance.pk %}">Fee Details</a></li>
                </ul>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Admission Number</dt>
                                <dd>{{instance.admn_no|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Joined Date</dt>
                                <dd>{{instance.date_joined|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Address</dt>
                                <dd>{{instance.address|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Transportation</dt>
                                <dd>{{instance.mode_of_transport|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Hosteler</dt>
                                <dd>{{instance.are_you_hosteler|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Co_curricular</dt>
                                <dd>{{instance.co_curricular|default:"-"}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>


                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-phone m-r-5"></i>Parents Info</h2>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Father Name</dt>
                                <dd>{{instance.father_name|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email Address</dt>
                                <dd>{{instance.father_email|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Phone</dt>
                                <dd>{{instance.phone|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Occupation</dt>
                                <dd>{{instance.father_occupation|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Mother Name</dt>
                                <dd>{{instance.mother_name|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email Address</dt>
                                <dd>{{instance.mother_email|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Phone</dt>
                                <dd>{{instance.mother_phone|default:"-"}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Occupation</dt>
                                <dd>{{instance.mother_occupation|default:"-"}}</dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}
