{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
    <section id="content">
        <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'academics:attendances' pk=sub_division.pk %}" class="ahs-input">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Filter" class="filter_button" href="">
                            <i class="zmdi zmdi-filter-list"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Create Academic Year" href="">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                   
                </ul>
            </div>
	            
	    </div>
        <div class="row m-b-10" style="margin-top: 40px;">  
            <div class="col-lg-3 col-md-4 col-sm-6 m-b-15">
                <a href="{% url 'academics:attendances' pk=sub_division.pk %}?date={{date_string|date:'m/d/Y'}}&present=True">
                    <div class="color-widget">
                        <h4>Present Students</h4>
                        <small>{{present_students}}</small>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 m-b-15">
                <a href="{% url 'academics:attendances' pk=sub_division.pk %}?date={{date_string|date:'m/d/Y'}}&present=False">
                    <div class="color-widget two">
                        <h4>Absent Students</h4>
                        <small>{{absent_students}}</small>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 m-b-15">
                <a href="{% url 'academics:attendances' pk=sub_division.pk %}?date={{date_string|date:'m/d/Y'}}&present=False&genuene=True">
                    <div class="color-widget">
                        <h4>Genuine Absent Students</h4>
                        <small>{{genuene_absent_students}}</small>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 m-b-15">
                <a href="{% url 'academics:attendances' pk=sub_division.pk %}?date={{date_string|date:'m/d/Y'}}&present=False&genuene=False">
                    <div class="color-widget two">
                        <h4>Unauthorized Absent Students</h4>
                        <small>{{unauthorized_absent_students}}</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="row m-b-30">  
            <div class="col-lg-3 col-md-4 col-sm-6 m-b-15">
                <a href="{% url 'academics:attendances' pk=sub_division.pk %}?date={{date_string|date:'m/d/Y'}}&present=True&behaviours=yes">
                    <div class="color-widget two">
                        <h4>Behaviours Students</h4>
                        <small>{{behaviour_students_count}}</small>
                    </div>
                </a>
            </div>
        </div>

        <!-- {% if tasks %}
        <div class="card p30 m-b-30">
            <h3 class="tac m-b-30">Tasks</h3>
            <div class="row">  
            {% for task in tasks %}
                <div class="col-lg-3 col-md-4 col-sm-6 m-b-15">
                    <a href="{% url 'tasks:submit_task' pk=task.pk %}">
                        <div class="color-widget two">
                            <h4>{{task.task_name}}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>  
        </div>
        {% endif %} -->
      


        <div class="card m-b-30">
			
			{% if instances %}
            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th>Admission</th>
                            <th>Is Present</th>
                            <th>Is Genuine</th>
                            <th>Reason</th>
                            <th>Behaviour</th>
                            <th>Phone No</th>
                            <th>Continueous Absent</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% load el_pagination_tags %}
						{% paginate 50 instances %}
                    	{% for instance in instances %}
                        <tr class="check_items_row">                             
                            <td>{{instance.admission}}</td>
                            <td>{{instance.is_present|yesno:"Yes,No"}}</td>  
                            <td>{{instance.is_genuene|yesno:"Yes,No"}}</td>  
                            <td>{{instance.reason|default:"-"}}</td>  
                            <td>{{instance.behaviour|default:"-"}}</td>  
                            <td>{{instance.admission.phone}}</td> 
                            <td>{{instance.absent_days_count}}</td>
                            <td>
                                <a href="{% url 'academics:edit_attendance' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                <a data-id="{{instance.pk}}" href="{% url 'academics:delete_attendance' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                              
                            </td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        
            
   <!--          pagination  -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
            	{% get_pages %}
            	<div class="row">
            		<div class="col-sm-6">
            			<div class="pagination">
            				{% show_pages %}
            			</div>
            		</div>
            		<div class="col-sm-6 infoBar">
            			<div class="infos">
            				Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
            			</div>
            		</div>
            	</div>
            </div>   

            {% elif instances_today %}
            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th style="width:20px;"></th>
                            <th data-column-id="id" data-type="numeric">ID</th>
                            <th>Admission</th>
                            <th>Date</th>
                            <th>Weekday</th>
                            <th>Division</th>
                            <th>Is Present</th>
                            <th>Phone No</th>
                            <th>Continueous Absent</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 50 instances_today %}
                        {% for instance in instances_today %}
                        <tr class="check_items_row">
                            <td style="width:20px;">
                                <div class="checkbox lgi-checkbox m-t-5">
                                    <label>
                                        <input class="check check_item" type="checkbox" value="{{instance.pk}}" name="delete_item">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </td>
                            <td>{{instance.auto_id}}</td>                                
                            <td>{{instance.admission }}</td>
                            <td>{{instance.date}}</td>
                            <td>{{instance.weekday}}</td>
                            <td>{{instance.sub_division}}</td>
                            <td>{{instance.is_present|yesno:"Yes,No"}}</td>  
                            <td>{{instance.admission.phone}}</td>   
                            <td>{{instance.absent_days_count}}</td> 
                            <td>
                                <a href="{% url 'academics:edit_attendance' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                <a data-id="{{instance.pk}}" href="{% url 'academics:delete_attendance' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            
            
            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                {% get_pages %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% show_pages %}
                        </div>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">
                            Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>   
            <!--pagination-->
            {% else %}
            	{% include 'includes/not_found.html' %}
            {% endif %}            
        </div>
       <section id="content" class="content-wrapper">
        <div class="container">
            <div id="calendar" class="card"></div>
        </div>
    </section>
    </section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
	 <form method="get" action="{% url 'academics:attendances' pk=sub_division.pk %}">
	 	<div class="card">
			<div class="card-header">
		        <h2>Filter <small></small></h2>
		        <span class="back-button-poupup palette-Cyan bg btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
		    </div>
		    
			<div class="card-body card-padding">
			 	<div class="form-group fg-line">
                    <label>Date </label>
                    <input type="text" class="form-control datepicker" placeholder="Date" name="date">
                </div>
		        <div class="form-group fg-line">
                    <label>Is Present</label>
                    <select name="present" id="present" class="selectordie form-control selectpicker">
                        <option value="">Nothing Selected</option>
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
		        <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
		    </div>
		 </div>
	 </form>
</div>
{% endblock %}

{% block static %}
	{% load static %}
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/fullcalendar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" />
     <script type="text/javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                dayClick: function(date, jsEvent, view) {
                    var redirect_url = "{% url 'academics:attendances' pk=instance.pk%}?date=" + date.format('MM/DD/YYYY');
                    window.location.href = redirect_url;
                    
                }
            })
        });
    </script>
    <style>
        .color-widget {
            background: -webkit-linear-gradient(-45deg, #091204, #128a04);
            background: -o-linear-gradient(-45deg, #091204, #128a04);
            background: -moz-linear-gradient(-45deg, #091204, #128a04);
            background: linear-gradient(-45deg, #091204, #128a04);
            width: 100%;
            min-height: 80px;
            border-radius: 4px;
            -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 15px;
            color: #fff;
            position: relative;
        }
        .color-widget.two {
            background: -webkit-linear-gradient(-45deg, #091204, #F2002F);
            background: -o-linear-gradient(-45deg, #091204, #F2002F);
            background: -moz-linear-gradient(-45deg, #091204, #F2002F);
            background: linear-gradient(-45deg, #091204, #F2002F);
        }
        .color-widget h4 {
            font-size: 15px;
            font-weight: 500;
            color: #fff;
        }
        .color-widget small {
            font-size: 23px;
            font-weight: 500;
            position: absolute;
            bottom: 4px;
            right: 15px;
            color: #fff;
        }
        .m-b-30{
            margin-bottom: 30px;
        }
        .p30{
            padding:30px;
        }
        .table td {
            padding: 0.9375rem;
            text-align: center;
        }
        .table thead th{
            padding-top: 4%;
            text-align: center;
        }
        .tac{
            text-align: center;
        }
    </style>
{% endblock %}
