{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>                
            </div>
            <div>      
        <form action="{{url}}" class="ajax redirect" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-padding add_item_container admission_batch_formset table-responsive ">         
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Admission</th>
                                    <th>Class</th>
                                    <th>Division</th>
                                    <th>New Class & Division</th>
                                </tr>   
                            </thead>
                            <tbody>
                                {% for admission in admission_batch_formset.forms %}
                                    <tr class="check_items_row form_set_row">                                   
                                        <td class="admission">
                                            <div style="display: none;">
                                                {{admission.admission_pk}}
                                                <span>
                                                    {{admission.admission_name}}
                                                </span>
                                            </div>
                                            <span class="admission">
                                                <input type="text" class="form-control" disabled value="">
                                            </span>
                                        </td>
                                      
                                        <td class="class_name">
                                            <div style="display: none;">
                                                {{admission.class_name}}
                                            </div>
                                            <span class="class_name">                 
                                                <input type="text" class="form-control" disabled value="">
                                            </span>
                                        </td>
                                        <td class="division_name">
                                            <div style="display: none;">
                                                {{admission.division_name}}
                                            </div>
                                            <span class="division_name">                 
                                                <input type="text" class="form-control" disabled value="">
                                            </span>
                                        </td>
                                        <td class="sub_division">
                                            <span class="sub_division">                 
                                                {{admission.sub_division}}
                                            </span>
                                            <div class="" style="display: none;">                 
                                                {{admission.new_sub_division}}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ admission_batch_formset.management_form }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-25">
            <button type="submit" class="btn btn-info waves-effect">Submit</button>
        </div> 
    </form>                    
</div>
{% endblock %}

{% block static %}
	{% load static %}
    
    <script>

        $(document).ready(function(){
        	$('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });

            $('.form_set_row').each(function () {
                var $this = $(this);
                var admission = $this.find('td.admission div span input').val();
                var class_name = $this.find('td.class_name div input').val();
                var division_name = $this.find('td.division_name div input').val();

                $this.find('td.admission span input').val(admission);
                $this.find('td.class_name span input').val(class_name);
                $this.find('td.division_name span input').val(division_name)
            });
        });
        $('td.sub_division select').on('change',function () {
            $('.form_set_row').each(function () {
                var $this = $(this);
                var val = $this.find('td.sub_division select').val();

                $this.find('td.sub_division div input').val(val);
            });
        });
    </script>
    <style>
        
        .lgi-checkbox{
            margin-top:8px;
            margin-bottom:0
        }
        .m-b-30{
            margin-bottom: 30px;
        }
        td span.admission.one input {
            border: 1px solid #d0cdcd;
        }
        textarea {
            height: 39px;
            width: 185px;
            border: 1px solid #d0cdcd;
        }
    </style>
    {{ admission_batch_formset.media }}
{% endblock %}
