{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
    <section id="content">
        <div class="container m-b-30">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Create Club" href="{% url 'academics:create_club' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Edit Club" href="{% url 'academics:edit_club' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Club" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_club' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Name</div>
                                    <small class="lgi-text">{{instance.name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Registration Number</div>
                                    <small class="lgi-text">{{instance.register_no|default:"-"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Currently Active Members</div>
                                    <small class="lgi-text">{{instance.get_count}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created Date</div>
                                    <small class="lgi-text">{{instance.issue_date}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="#">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="#">{{instance.updater.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="c-grid" class="clearfix" data-columns="2">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <h2>Add Student To The Club<small></small></h2>
                            </div>
                            <div class="card-body card-padding" style="padding-bottom:0;">
                                <form action="">
                                    <label for="division_selector">Select Division of Student</label>
                                    <select name="division_selector" class="selectpicker form-control" id="division_selector">
                                        <option value="">---------</option>
                                        {% for division in divisions %}
                                            <option value="{{division.pk}}">{{division.name}}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{% url 'academics:add_club_member' pk=instance.pk %}">
                                    {% csrf_token %}
                                <div class="">
                                    <div class="card-body card-padding">
                                        <div class="form-group fg-line">
                                            <label for="{{ form.student.id_for_label }}">
                                                {{ form.student.label }}
                                                {% if form.student.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}

                                                {% if form.student.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            {{ form.student }}

                                            {% if form.student.errors %}
                                                <label class="error">{{ form.student.errors.as_text }}</label>
                                            {% endif %}
                                        </div>
                                        <div class="m-t-20">
                                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            {% if club_members %}
        <div class="container">
            <div class="c-header">
                <h2 style="color: #4c4c4c;">{{title}} MEMBERS LIST</h2>
            </div>

            <div class="card">
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                                <th style="width:20px;"></th>
                                <th>Admission Number</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Division</th>
                                <th>Phone Number</th>
                                <th data-column-id="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% load el_pagination_tags %}
                            {% paginate 21 club_members %}
                            {% for instance in club_members %}
                            <tr class="check_items_row">
                                <td style="width:20px;">
                                    <div class="checkbox lgi-checkbox m-t-5">
                                        <label>
                                            <input class="check check_item" type="checkbox" value="{{instance.pk}}" name="delete_item">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td><a href="{% url 'academics:admission' pk=instance.student.pk %}">{{ instance.student.admn_no }}</a></td>
                                <td><a href="{% url 'academics:admission' pk=instance.student.pk %}">{{ instance.student }}</a></td>
                                <td>{{ instance.student.department }}</td>
                                <td>{{ instance.student.sub_division }}</td>
                                <td>{{ instance.student.whatsapp_number }}</td>
                                <td>
                                    <a data-id="{{instance.pk}}" href="{% url 'academics:delete_club_member' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-primary btn-icon btn-icon-mini btn-round waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete btn-lih"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!--pagination -->
                <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                    {% get_pages %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pagination">
                                {% show_pages %}
                            </div>
                        </div>
                        <div class="col-sm-6 infoBar">
                            <div class="infos">
                                Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            {% endif %}



    </section>


{% endblock %}

{% block static %}
    {% load static %}
    <script type="text/javascript">
        function get_students_data(element) {
            var id_division = element.val();
            console.log("reached")
            if ( id_division != "") {
                var url = "{% url 'academics:get_students_data' %}"
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: 'json',
                    data: {
                        pk: id_division,
                    },
                    success: function(data) {
                        var status = data['status'];
                        if (status == "true") {
                            var students = data['students']
                            var options = '<option value="">---------</option>', i, maxlength = students.length;

                            for (i = 0; i < maxlength; i++) {
                                options += `<option value="${students[i]['id']}">${students[i]['name']} - ${students[i]['admission_no']}</<option>`
                            }
                        } else {
                            var message = data['message']
                            var options = `<option value="">${message}</option>`
                        }
                        $("#id_student").html(options).selectpicker('refresh');
                    },
                    error: function(data) {
                        console.log("error");
                    }
                });
            }
        }
        $('#division_selector').on('change', function() {
            var $this = $(this);
            get_students_data($this);
        });
    </script>
{{ form.media }}
{% endblock %}
