{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'academics:admissions' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div>
	            <form enctype="multipart/form-data" method="post" action="{{url}}">
	                {% csrf_token %}
	                {% csrf_token %}
	                <div class="row">
		                <div class="col-md-6">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Student Details</h4>
		                        	<div class="form-group fg-line specific">
			                            <label for="{{ form.register_no.id_for_label }}">
			                            	{{ form.register_no.label }}
			                            	{% if form.register_no.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.register_no.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.register_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.register_no }}
			                            
			                            {% if form.register_no.errors %}
			                            	<label class="error">{{ form.register_no.errors.as_text }}</label>
			                            {% endif %}
			                        </div>	 
		                        	<div class="form-group fg-line ">
			                            <label for="{{ form.is_former_student.id_for_label }}">
			                            	{{ form.is_former_student.label }}
			                            	{% if form.is_former_student.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.is_former_student.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.is_former_student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.is_former_student }}
			                            
			                            {% if form.is_former_student.errors %}
			                            	<label class="error">{{ form.is_former_student.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line former">
			                            <label for="{{ form.former_student.id_for_label }}">
			                            	{{ form.former_student.label }}
			                            	{% if form.former_student.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.former_student.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.former_student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.former_student }}
			                            
			                            {% if form.former_student.errors %}
			                            	<label class="error">{{ form.former_student.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                    	
			                        <div class="form-group fg-line specific">
			                            <label for="{{ form.admn_no.id_for_label }}">
			                            	{{ form.admn_no.label }}
			                            	{% if form.admn_no.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.admn_no.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.admn_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.admn_no }}
			                            
			                            {% if form.admn_no.errors %}
			                            	<label class="error">{{ form.admn_no.errors.as_text }}</label>
			                            {% endif %}
			                        </div>	                         
			                        <div class="form-group fg-line specific">
			                            <label for="{{ form.name.id_for_label }}">
			                            	{{ form.name.label }}
			                            	{% if form.name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.name }}
			                            
			                            {% if form.name.errors %}
			                            	<label class="error">{{ form.name.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        
			                       
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.address.id_for_label }}">
			                            	{{ form.address.label }}
			                            	{% if form.address.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.address.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.address.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.address.html_name}}">
			                            {% else %}
			                            	{{ form.address }}
			                            {% endif %}
			                            
			                            {% if form.address.errors %}
			                            	<label class="error">{{ form.address.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.std_phone.id_for_label }}">
			                            	{{ form.std_phone.label }}
			                            	{% if form.std_phone.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.std_phone.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.std_phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.std_phone.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.std_phone.html_name}}">
			                            {% else %}
			                            	{{ form.std_phone }}
			                            {% endif %}
			                            
			                            {% if form.std_phone.errors %}
			                            	<label class="error">{{ form.std_phone.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.whatsapp_number.id_for_label }}">
			                            	{{ form.whatsapp_number.label }}
			                            	{% if form.whatsapp_number.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.whatsapp_number.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.whatsapp_number.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.whatsapp_number.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.whatsapp_number.html_name}}">
			                            {% else %}
			                            	{{ form.whatsapp_number }}
			                            {% endif %}
			                            
			                            {% if form.whatsapp_number.errors %}
			                            	<label class="error">{{ form.whatsapp_number.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
				                    <div class="form-group specific">
	                                    <label for="{{ form.dob.id_for_label }}">
	                                        {{ form.dob.label }}
	                                        {% if form.dob.field.required %}
	                                            <small class="star">*</small>
	                                        {% endif %}
	                                    </label>

	                                    <input id="{{ form.dob.id_for_label }}" type="text"
	                                           class="required form-control date-picker"
	                                           name="form.dob.html_name }}" placeholder="Date of birth"
	                                           value="{{ form.dob.value|date:'m-d-Y' }}">
	                                    <i class="form-group__bar"></i>
	                                    {% if form.dob.errors %}
	                                        <label class="error">{{ form.dob.errors.as_text }}</label>
	                                    {% endif %}
	                                </div>
			                        <div class="form-group specific">
	                                    <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
	                                    {{ form.age }}
	                                    <i class="form-group__bar"></i>
	                                    {% if form.age.errors %}
	                                        <label class="error">{{ form.age.errors.as_text }}</label>
	                                    {% endif %}
                                	</div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.aadhar_no.id_for_label }}">
			                            	{{ form.aadhar_no.label }}
			                            	{% if form.aadhar_no.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.aadhar_no.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.aadhar_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.aadhar_no.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.aadhar_no.html_name}}">
			                            {% else %}
			                            	{{ form.aadhar_no }}
			                            {% endif %}
			                            
			                            {% if form.aadhar_no.errors %}
			                            	<label class="error">{{ form.aadhar_no.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.blood_group.id_for_label }}">
			                            	{{ form.blood_group.label }}
			                            	{% if form.blood_group.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.blood_group.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.blood_group.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.blood_group.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.blood_group.html_name}}">
			                            {% else %}
			                            	{{ form.blood_group }}
			                            {% endif %}
			                            
			                            {% if form.blood_group.errors %}
			                            	<label class="error">{{ form.blood_group.errors.as_text }}</label>
			                            {% endif %}
			                        </div>

			                        <div class="form-group specific">
	                                    <label for="{{ form.date_joined.id_for_label }}">
	                                        {{ form.date_joined.label }}
	                                        {% if form.date_joined.field.required %}
	                                            <small class="star">*</small>
	                                        {% endif %}
	                                    </label>

	                                    <input id="{{ form.date_joined.id_for_label }}" type="text"
	                                           class="required form-control date-picker"
	                                           name="{{ form.date_joined.html_name }}" placeholder="Application Date"
	                                           value="{{ form.date_joined.value|date:'m-d-Y' }}">
	                                    <i class="form-group__bar"></i>
	                                    {% if form.date_joined.errors %}
	                                        <label class="error">{{ form.date_joined.errors.as_text }}</label>
	                                    {% endif %}
                                	</div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.gender.id_for_label }}">
			                            	{{ form.gender.label }}
			                            	{% if form.gender.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.gender.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.gender.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.gender.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.gender.html_name}}">
			                            {% else %}
			                            	{{ form.gender }}
			                            {% endif %}
			                            
			                            {% if form.gender.errors %}
			                            	<label class="error">{{ form.gender.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
                                	<div class="form-group fg-line m-b-20">
			                            <label for="{{ form.photo.id_for_label }}">
			                            	{{ form.photo.label }}
			                            	{% if form.photo.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.photo.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.photo.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.photo.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.photo.html_name}}">
			                            {% else %}
			                            	{{ form.photo }}
			                            {% endif %}
			                            
			                            {% if form.photo.errors %}
			                            	<label class="error">{{ form.photo.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                    </div>
		                    </div>
		                </div>
		                
		                <div class="col-md-6 specific">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Further Details</h4>
			                    	<div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.co_curricular.id_for_label }}">
			                            	{{ form.co_curricular.label }}
			                            	{% if form.co_curricular.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.co_curricular.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.co_curricular.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.co_curricular.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.co_curricular.html_name}}">
			                            {% else %}
			                            	{{ form.co_curricular }}
			                            {% endif %}
			                            
			                            {% if form.co_curricular.errors %}
			                            	<label class="error">{{ form.co_curricular.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.discount.id_for_label }}">
			                            	{{ form.discount.label }}
			                            	{% if form.discount.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.discount.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.discount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.discount.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.discount.html_name}}">
			                            {% else %}
			                            	{{ form.discount }}
			                            {% endif %}
			                            
			                            {% if form.discount.errors %}
			                            	<label class="error">{{ form.discount.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
				                    
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.caste.id_for_label }}">
			                            	{{ form.caste.label }}
			                            	{% if form.caste.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.caste.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.caste.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.caste.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.caste.html_name}}">
			                            {% else %}
			                            	{{ form.caste }}
			                            {% endif %}
			                            
			                            {% if form.caste.errors %}
			                            	<label class="error">{{ form.caste.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.religion.id_for_label }}">
			                            	{{ form.religion.label }}
			                            	{% if form.religion.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.religion.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.religion.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.religion.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.religion.html_name}}">
			                            {% else %}
			                            	{{ form.religion }}
			                            {% endif %}
			                            
			                            {% if form.religion.errors %}
			                            	<label class="error">{{ form.religion.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.category.id_for_label }}">
			                            	{{ form.category.label }}
			                            	{% if form.category.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.category.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.category.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.category.html_name}}">
			                            {% else %}
			                            	{{ form.category }}
			                            {% endif %}
			                            
			                            {% if form.category.errors %}
			                            	<label class="error">{{ form.category.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.mode_of_transport.id_for_label }}">
			                            	{{ form.mode_of_transport.label }}
			                            	{% if form.mode_of_transport.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mode_of_transport.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mode_of_transport.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.mode_of_transport.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.mode_of_transport.html_name}}">
			                            {% else %}
			                            	{{ form.mode_of_transport }}
			                            {% endif %}
			                            
			                            {% if form.mode_of_transport.errors %}
			                            	<label class="error">{{ form.mode_of_transport.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.are_you_hosteler.id_for_label }}">
			                            	{{ form.are_you_hosteler.label }}
			                            	{% if form.are_you_hosteler.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.are_you_hosteler.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.are_you_hosteler.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.are_you_hosteler.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.are_you_hosteler.html_name}}">
			                            {% else %}
			                            	{{ form.are_you_hosteler }}
			                            {% endif %}
			                            
			                            {% if form.are_you_hosteler.errors %}
			                            	<label class="error">{{ form.are_you_hosteler.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 hostel">
			                            <label for="{{ form.hostel_name.id_for_label }}">
			                            	{{ form.hostel_name.label }}
			                            	{% if form.hostel_name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.hostel_name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.hostel_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.hostel_name.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.hostel_name.html_name}}">
			                            {% else %}
			                            	{{ form.hostel_name }}
			                            {% endif %}
			                            
			                            {% if form.hostel_name.errors %}
			                            	<label class="error">{{ form.hostel_name.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
                                    <div class="form-group fg-line m-b-20 hostel">
			                            <label for="{{ form.place.id_for_label }}">
			                            	{{ form.place.label }}
			                            	{% if form.place.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.place.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.place.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.place.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.place.html_name}}">
			                            {% else %}
			                            	{{ form.place }}
			                            {% endif %}
			                            
			                            {% if form.place.errors %}
			                            	<label class="error">{{ form.place.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                    </div>
		                    </div>
		                </div>

		                
						{% if features %}
                        <div class="col-md-6 specific">
                        	<div class="card">
                        		<div class="card-body card-padding">
                        			<div class="toggle-switch check_all_box w-100">
		                                <input class="list1" type="checkbox">
		                                <label class="ts-helper" for="ts1">&nbsp;</label>
		                                <label for="ts1" class="ts-label m-l-10">
		                                    <span>Disabilities</span>
		                                </label>

		                                <div class="row m-t-20">
		                                    {% for feature in features %}
			                                    <div class="col-md-6">
			                                    	<div class="toggle-switch m-b-20">
				                                        <input type="checkbox" id="ts1" {% if feature.pk in instance.disabilities.all %}checked="checked"{% endif %} name="feature" value="{{ feature.pk }}" />
				                                        <label class="ts-helper" for="ts1">&nbsp;</label>
				                                        <label for="ts1" class="ts-label m-l-10">
				                                            <span>{{ feature }}</span>
				                                        </label>                                
				                                    </div>
			                                    </div>
		                                    {% endfor %}
		                                </div>
		                            </div>
                        		</div>
                            </div>
                        </div>
                        {% endif %}

                        
		                <div class="col-md-6 specific">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Father Details</h4>                   
			                        <div class="form-group fg-line">
			                            <label for="{{ form.father_name.id_for_label }}">
			                            	{{ form.father_name.label }}
			                            	{% if form.father_name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.father_name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.father_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.father_name }}
			                            
			                            {% if form.father_name.errors %}
			                            	<label class="error">{{ form.father_name.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.father_email.id_for_label }}">
			                            	{{ form.father_email.label }}
			                            	{% if form.father_email.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.father_email.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.father_email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {% if is_edit %}
			                            	<input id="{{ form.father_email.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.father_email.html_name}}" placeholder="Enter end date" value="{{ form.father_email.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.father_email }}
			                            {% endif %}
			                            
			                            {% if form.father_email.errors %}
			                            	<label class="error">{{ form.father_email.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.phone.id_for_label }}">
			                            	{{ form.phone.label }}
			                            	{% if form.phone.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.phone.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.phone.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.phone.html_name}}" placeholder="Enter end date" value="{{ form.phone.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.phone }}
			                            {% endif %}
			                            
			                            {% if form.phone.errors %}
			                            	<label class="error">{{ form.phone.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line">
			                            <label for="{{ form.father_qualification.id_for_label }}">
			                            	{{ form.father_qualification.label }}
			                            	{% if form.father_qualification.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.father_qualification.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.father_qualification.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.father_qualification.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.father_qualification.html_name}}" placeholder="Enter end date" value="{{ form.father_qualification.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.father_qualification }}
			                            {% endif %}
			                            
			                            {% if form.father_qualification.errors %}
			                            	<label class="error">{{ form.father_qualification.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.father_annual_income.id_for_label }}">
			                            	{{ form.father_annual_income.label }}
			                            	{% if form.father_annual_income.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.father_annual_income.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.father_annual_income.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.father_annual_income.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.father_annual_income.html_name}}" placeholder="Enter end date" value="{{ form.father_annual_income.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.father_annual_income }}
			                            {% endif %}
			                            
			                            {% if form.father_annual_income.errors %}
			                            	<label class="error">{{ form.father_annual_income.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line">
			                            <label for="{{ form.father_aadhar_no.id_for_label }}">
			                            	{{ form.father_aadhar_no.label }}
			                            	{% if form.father_aadhar_no.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.father_aadhar_no.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.father_aadhar_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.father_aadhar_no.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.father_aadhar_no.html_name}}" placeholder="Enter end date" value="{{ form.father_aadhar_no.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.father_aadhar_no }}
			                            {% endif %}
			                            
			                            {% if form.father_aadhar_no.errors %}
			                            	<label class="error">{{ form.father_aadhar_no.errors.as_text }}</label>
			                            {% endif %}
			                        </div>	      	                  
			                        
			                        <div class="form-group fg-line m-b-20">
			                            <label for="{{ form.father_occupation.id_for_label }}">
			                            	{{ form.father_occupation.label }}
			                            	{% if form.father_occupation.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.father_occupation.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.father_occupation.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.father_occupation.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.father_occupation.html_name}}">
			                            {% else %}
			                            	{{ form.father_occupation }}
			                            {% endif %}
			                            
			                            {% if form.father_occupation.errors %}
			                            	<label class="error">{{ form.father_occupation.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                    </div>
		                    </div>
		                </div>
		                <div class="col-md-6 specific">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Mother Details</h4> 
			                        <div class="form-group fg-line">
			                            <label for="{{ form.mother_name.id_for_label }}">
			                            	{{ form.mother_name.label }}
			                            	{% if form.mother_name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mother_name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mother_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.mother_name }}
			                            
			                            {% if form.mother_name.errors %}
			                            	<label class="error">{{ form.mother_name.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.mother_email.id_for_label }}">
			                            	{{ form.mother_email.label }}
			                            	{% if form.mother_email.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mother_email.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mother_email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {% if is_edit %}
			                            	<input id="{{ form.mother_email.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.mother_email.html_name}}" placeholder="Enter end date" value="{{ form.mother_email.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.mother_email }}
			                            {% endif %}
			                            
			                            {% if form.mother_email.errors %}
			                            	<label class="error">{{ form.mother_email.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.mother_phone.id_for_label }}">
			                            	{{ form.mother_phone.label }}
			                            	{% if form.mother_phone.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mother_phone.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mother_phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.mother_phone.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.mother_phone.html_name}}" placeholder="Enter end date" value="{{ form.mother_phone.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.mother_phone }}
			                            {% endif %}
			                            
			                            {% if form.mother_phone.errors %}
			                            	<label class="error">{{ form.mother_phone.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line">
			                            <label for="{{ form.mother_qualification.id_for_label }}">
			                            	{{ form.mother_qualification.label }}
			                            	{% if form.mother_qualification.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mother_qualification.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mother_qualification.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.mother_qualification.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.mother_qualification.html_name}}" placeholder="Enter end date" value="{{ form.mother_qualification.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.mother_qualification }}
			                            {% endif %}
			                            
			                            {% if form.mother_qualification.errors %}
			                            	<label class="error">{{ form.mother_qualification.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line">
			                            <label for="{{ form.mother_annual_income.id_for_label }}">
			                            	{{ form.mother_annual_income.label }}
			                            	{% if form.mother_annual_income.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mother_annual_income.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mother_annual_income.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.mother_annual_income.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.mother_annual_income.html_name}}" placeholder="Enter end date" value="{{ form.mother_annual_income.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.mother_annual_income }}
			                            {% endif %}
			                            
			                            {% if form.mother_annual_income.errors %}
			                            	<label class="error">{{ form.mother_annual_income.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line">
			                            <label for="{{ form.mother_aadhar_no.id_for_label }}">
			                            	{{ form.mother_aadhar_no.label }}
			                            	{% if form.mother_aadhar_no.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mother_aadhar_no.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mother_aadhar_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.mother_aadhar_no.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.mother_aadhar_no.html_name}}" placeholder="Enter end date" value="{{ form.mother_aadhar_no.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.mother_aadhar_no }}
			                            {% endif %}
			                            
			                            {% if form.mother_aadhar_no.errors %}
			                            	<label class="error">{{ form.mother_aadhar_no.errors.as_text }}</label>
			                            {% endif %}
			                        </div>	      	                  
			                        <div class="form-group fg-line m-b-20">
			                            <label for="{{ form.mother_occupation.id_for_label }}">
			                            	{{ form.mother_occupation.label }}
			                            	{% if form.mother_occupation.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.mother_occupation.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.mother_occupation.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.mother_occupation.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.mother_occupation.html_name}}">
			                            {% else %}
			                            	{{ form.mother_occupation }}
			                            {% endif %}
			                            
			                            {% if form.mother_occupation.errors %}
			                            	<label class="error">{{ form.mother_occupation.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                    </div>
		                    </div>
		                </div>
		                <div class="col-md-6 specific">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Guardian Details</h4> 
			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.guardian_name.id_for_label }}">
			                            	{{ form.guardian_name.label }}
			                            	{% if form.guardian_name.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.guardian_name.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.guardian_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {{ form.guardian_name }}
			                            
			                            {% if form.guardian_name.errors %}
			                            	<label class="error">{{ form.guardian_name.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.guardian_email.id_for_label }}">
			                            	{{ form.guardian_email.label }}
			                            	{% if form.guardian_email.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.guardian_email.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.guardian_email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            {% if is_edit %}
			                            	<input id="{{ form.guardian_email.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.guardian_email.html_name}}" placeholder="Enter end date" value="{{ form.guardian_email.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.guardian_email }}
			                            {% endif %}
			                            
			                            {% if form.guardian_email.errors %}
			                            	<label class="error">{{ form.guardian_email.errors.as_text }}</label>
			                            {% endif %}
			                        </div>			                        
			                        <div class="form-group fg-line">
			                            <label for="{{ form.guardian_phone.id_for_label }}">
			                            	{{ form.guardian_phone.label }}
			                            	{% if form.guardian_phone.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.guardian_phone.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.guardian_phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.guardian_phone.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.guardian_phone.html_name}}" placeholder="Enter end date" value="{{ form.guardian_phone.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.guardian_phone }}
			                            {% endif %}
			                            
			                            {% if form.guardian_phone.errors %}
			                            	<label class="error">{{ form.guardian_phone.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line">
			                            <label for="{{ form.guardian_occupation.id_for_label }}">
			                            	{{ form.guardian_occupation.label }}
			                            	{% if form.guardian_occupation.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.guardian_occupation.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.guardian_occupation.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.guardian_occupation.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.guardian_occupation.html_name}}" placeholder="Enter end date" value="{{ form.guardian_occupation.value|date:'m/d/Y' }}">
			                            {% else %}
			                            	{{ form.guardian_occupation }}
			                            {% endif %}
			                            
			                            {% if form.guardian_occupation.errors %}
			                            	<label class="error">{{ form.guardian_occupation.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                    </div>
		                    </div>
		                </div>

		                 {% if facilities %}
                        <div class="col-md-6 specific">
                        	<div class="card">
                        		<div class="card-body card-padding">
                        			<div class="toggle-switch check_all_box w-100">
		                                <input class="list1" type="checkbox">
		                                <label class="ts-helper" for="ts1">&nbsp;</label>
		                                <label for="ts1" class="ts-label m-l-10">
		                                    <span>Facilities</span>
		                                </label>

		                                <div class="row m-t-20">

		                                    {% for facility in facilities %}
			                                    <div class="col-md-6">
			                                    	<div class="toggle-switch m-b-20">
				                                        <input type="checkbox" id="ts1" {% if facility.pk in instance.facilities.all %}checked="checked"{% endif %} name="facility" value="{{ facility.pk }}" />
				                                        <label class="ts-helper" for="ts1">&nbsp;</label>
				                                        <label for="ts1" class="ts-label m-l-10">
				                                            <span>{{ facility }}</span>
				                                        </label>                                
				                                    </div>
			                                    </div>
		                                    {% endfor %}
		                                </div>
		                            </div>
                        		</div>
                            </div>
                        </div>
                        {% endif %}

                        
		                <div class="col-md-6 specific">
		                	<div class="card">		                		
			                    <div class="card-body card-padding">
			                    	<h4 class="card-title m-b-30">Data Uploads</h4>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.upload.id_for_label }}">
			                            	Upload Community certificate
			                            	{% if form.upload.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.upload.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.upload.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.upload.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.upload.html_name}}">
			                            {% else %}
			                            	{{ form.upload }}
			                            {% endif %}
			                            
			                            {% if form.upload.errors %}
			                            	<label class="error">{{ form.upload.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.upload_tc.id_for_label }}">
			                            	Upload TC
			                            	{% if form.upload_tc.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.upload_tc.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.upload_tc.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.upload_tc.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.upload_tc.html_name}}">
			                            {% else %}
			                            	{{ form.upload_tc }}
			                            {% endif %}
			                            
			                            {% if form.upload_tc.errors %}
			                            	<label class="error">{{ form.upload_tc.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.upload_aadhar_card.id_for_label }}">
			                            	Upload Aadhar Card
			                            	{% if form.upload_aadhar_card.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.upload_aadhar_card.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.upload_aadhar_card.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.upload_aadhar_card.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.upload_aadhar_card.html_name}}">
			                            {% else %}
			                            	{{ form.upload_aadhar_card }}
			                            {% endif %}
			                            
			                            {% if form.upload_aadhar_card.errors %}
			                            	<label class="error">{{ form.upload_aadhar_card.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                        <div class="form-group fg-line m-b-20 specific">
			                            <label for="{{ form.upload_curricular_activity.id_for_label }}">
			                            	Upload Co-Curricular Cirtificate 
			                            	{% if form.upload_curricular_activity.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.upload_curricular_activity.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.upload_curricular_activity.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
			                                {% endif %}
			                            </label>
			                            
			                            {% if is_edit %}
			                            	<input id="{{ form.upload_curricular_activity.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.upload_curricular_activity.html_name}}">
			                            {% else %}
			                            	{{ form.upload_curricular_activity }}
			                            {% endif %}
			                            
			                            {% if form.upload_curricular_activity.errors %}
			                            	<label class="error">{{ form.upload_curricular_activity.errors.as_text }}</label>
			                            {% endif %}
			                        </div>
			                    </div>
		                    </div>
		                </div>
	                </div>


                    <div class="col-md-12">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
    
{% endblock %}

{% block static %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('.hostel').hide();
	        $(".former").hide();
        });
	    $(document).on('change','#id_is_former_student',function(){
	        var $this = $(this);
	        if ($this.is(':checked')){
	            $(".specific").hide();
	            $(".former").show();
	        }else{
	            $(".specific").show();
	            $(".former").hide();
	        }
	    });
	    
        function change_category(selector){
    		var value = $(selector).val();
    		if(value == 'yes'){
    			$('.hostel').show();
    		}
    		else {
    			$('.hostel').hide();
    		}
    	}
    	$('#id_are_you_hosteler').change(function(){
    		change_category(this);
    	});
	    
	</script>
	{{ form.media }}	
{% endblock %}