{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'academics:periods' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                </ul>
            </div>

                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
							
            				<div class="card">
	                    		<div class="card-body card-padding">                            	
	                                <div class="form-group fg-line">
		                                <label for="{{ form.weekday.id_for_label }}">
		                                	{{ form.weekday.label }}
		                                	{% if form.weekday.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.weekday.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.weekday.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.weekday }}

		                                {% if form.weekday.errors %}
		                                	<label class="error">{{ form.weekday.errors.as_text }}</label>
		                                {% endif %}
		                            </div>

		                            <div class="form-group fg-line">
		                                <label for="{{ form.from_time.id_for_label }}">
		                                	{{ form.from_time.label }}
		                                	{% if form.from_time.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.from_time.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.from_time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.from_time }}

		                                {% if form.from_time.errors %}
		                                	<label class="error">{{ form.from_time.errors.as_text }}</label>
		                                {% endif %}
		                            </div>

		                            <div class="form-group fg-line">
		                                <label for="{{ form.to_time.id_for_label }}">
		                                	{{ form.to_time.label }}
		                                	{% if form.to_time.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}

								        	{% if form.to_time.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.to_time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
		                                </label>
		                                {{ form.to_time }}

		                                {% if form.to_time.errors %}
		                                	<label class="error">{{ form.to_time.errors.as_text }}</label>
		                                {% endif %}
		                            </div>			
	                                <br>
	                            </div>
	                         </div>

                         <div class="m-t-20">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                     </div>
            	</div>
            </form>
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('input[type=text]').focus(function () {
	        $(this).select();
	    		});
		  });
	</script>
{% endblock %}