{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'academics:time_tables' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                    <li>
                        <a title="Create Time Table" href="{% url 'academics:list_weekday_to_time_table' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="View Time Table" href="{% url 'academics:time_table' pk=instance.pk %}">
                            <i class="zmdi zmdi-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Time Table" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_time_table' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="card">
                <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-sm-6">                            	
                                <div class="form-group fg-line">
	                                <label for="{{ form.sub_division.id_for_label }}">
	                                	{{ form.sub_division.label }}
	                                	{% if form.sub_division.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.sub_division.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.sub_division.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.sub_division }}

	                                {% if form.sub_division.errors %}
	                                	<label class="error">{{ form.sub_division.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

	                            <div class="form-group fg-line">
	                                <label for="{{ form.class_subject.id_for_label }}">
	                                	{{ form.class_subject.label }}
	                                	{% if form.class_subject.field.required %}
							        		<small class="star">*</small>
							        	{% endif %}

							        	{% if form.class_subject.help_text %}
							        		<span data-original-title="Field Info" title="" data-content="{{ form.class_subject.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                    {% endif %}
	                                </label>
	                                {{ form.class_subject }}

	                                {% if form.class_subject.errors %}
	                                	<label class="error">{{ form.class_subject.errors.as_text }}</label>
	                                {% endif %}
	                            </div>

                            </div>
								
                                <br>
                            </div>
                         </div>

                         <div class="m-t-20">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                     </div>
                 </form>
            </div>

        </div>
    </section>
    {{form.media}}
{% endblock %}

{% block static %}
	{% load static %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('input[type=text]').focus(function () {
	        $(this).select();
	    		});
		  });
	</script>
{% endblock %}