{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            <div class="ah-search">
                <form method="get" action="{% url 'academics:semesters' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>
        </div>
        <div id="c-grid" class="clearfix" data-columns="2">
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body card-padding">
                        <div class="form-group fg-line">
                            <label for="{{ form.academic_year.id_for_label }}">
                                {{ form.academic_year.label }}
                                {% if form.academic_year.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.academic_year.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.academic_year.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.academic_year }}
                            {% if form.academic_year.errors %}
                            <label class="error">{{ form.academic_year.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.division.id_for_label }}">
                                {{ form.division.label }}
                                {% if form.division.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.division.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.division.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.division }}
                            {% if form.division.errors %}
                            <label class="error">{{ form.division.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.semester.id_for_label }}">
                                {{ form.semester.label }}
                                {% if form.semester.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.semester.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.semester.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.semester }}
                            {% if form.semester.errors %}
                            <label class="error">{{ form.semester.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.from_date.id_for_label }}">
                                {{ form.from_date.label }}
                                {% if form.from_date.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.from_date.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.from_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.from_date }}
                            {% if form.from_date.errors %}
                            <label class="error">{{ form.from_date.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.to_date.id_for_label }}">
                                {{ form.to_date.label }}
                                {% if form.to_date.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.to_date.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.to_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                {% endif %}
                            </label>
                            {{ form.to_date }}
                            {% if form.to_date.errors %}
                            <label class="error">{{ form.to_date.errors.as_text }}</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
<script>
$('#id_division').on('change', function() {
    var $this = $(this);
    console.log("get_id......................");
    get_division_data($this);
});

function get_division_data(element) {
    console.log("......................");
    var id_division = element.val();
    console.log(id_division)


    if (id_division != "" || id_division != null || id_division != undefined) {
        var url = "{% url 'academics:get_semester_countdetails' %}"
        console.log(status)
        console.log("url ok..................")
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: {
                id_division: id_division,
            },
            success: function(data) {
                var status = data['status'];

                console.log(status)
                if (status == "true") {
                    var i, count;
                    count = data['count'];
                    console.log(count);
                    for (i = 1; i <= 8; i++) {
                        if (i > count) {
                            $(`#id_semester option[value="${i}"]`).hide();
                        } else {
                            $(`#id_semester option[value="${i}"]`).show();
                        }
                    }
                    $('#id_semester').selectpicker('refresh');
                }
            },
            error: function(data) {

            }
        });
    }
}
</script>
{{form.media}}
{% endblock %}
