{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>{{title}}</h2>
        </div>
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            <div class="ah-search">
                <form method="get" action="{% url 'academics:class_subjects' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>
            <ul class="ah-actions actions a-alt">
                <li>
                    <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                {% if instance %}
                <li>
                    <a title="Create Academics" href="{% url 'academics:create_class_subject' %}">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                </li>
                <li>
                    <a title="View Academics" href="{% url 'academics:class_subject' pk=instance.pk %}">
                        <i class="zmdi zmdi-eye"></i>
                    </a>
                </li>
                <li>
                    <a title="Delete Academics" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_department' pk=instance.pk %}" class="action-button redirect">
                        <i class="zmdi zmdi-delete"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="card">
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <label for="{{ form.division.id_for_label }}">
                                    {{ form.division.label }}
                                    {% if form.division.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.division.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.division.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.division }}
                                {% if form.division.errors %}
                                <label class="error">{{ form.division.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.batch.id_for_label }}">
                                    {{ form.batch.label }}
                                    {% if form.batch.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.batch.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.batch.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.batch }}
                                {% if form.batch.errors %}
                                <label class="error">{{ form.batch.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.semester.id_for_label }}">
                                    {{ form.semester.label }}
                                    {% if form.semester.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.semester.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.get_semester_display.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.semester }}
                                {% if form.semester.errors %}
                                <label class="error">{{ form.semester.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.subject.id_for_label }}">
                                    {{ form.subject.label }}
                                    {% if form.subject.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.subject.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.subject.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.subject }}
                                {% if form.subject.errors %}
                                <label class="error">{{ form.subject.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.no_of_period.id_for_label }}">
                                    {{ form.no_of_period.label }}
                                    {% if form.no_of_period.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.no_of_period.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.no_of_period.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.no_of_period }}
                                {% if form.no_of_period.errors %}
                                <label class="error">{{ form.no_of_period.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
<script type="text/javascript">
$('#id_batch').on('change', function() {
    var $this = $(this);
    get_semester_data($this);
});

function get_semester_data(element) {
    var id_batch = element.val();
    var id_division = $('#id_division').val();

    if (id_division != "" || id_division != null || id_division != undefined) {
        var url = "{% url 'academics:get_countsemester_details' %}"
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: {
                id_division: id_division,
                id_batch: id_batch,
            },
            success: function(data) {
                var status = data['status'];
                if (status == "true") {
                    var i, semester_data;
                    semester_data = data['semester_data'];
                    sem_pk = data['sem_pk'];
                    sem_num = data['sem_num'];

                    var options = '<option value="">---------</option>';
                    var i, maxlength = sem_num.length;

                    for (i = 0; i < maxlength; i++) {
                        options += `<option value="${sem_pk[i]}">semester - ${sem_num[i]}</<option>`
                    }
                    $("#id_semester").html(options)
                } else {
                    var message = data['message'];
                    $("#id_semester").html(`<option value="">${message}</option>`)
                }
                $("#id_semester").selectpicker('refresh')
            },
            error: function(data) {

            }
        });
    }
}

$('#id_semester').on('change', function() {
    var $this = $(this);
    get_subject_data($this);
});

function get_subject_data(element) {
    var id_semester = element.val();
    var id_division = $('#id_division').val();
    var id_batch = $('#id_batch').val();

    if (id_semester != "" && id_division != "") {
        var url = "{% url 'academics:get_period_subject_details' %}"

        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: {
                semester: id_semester,
                division: id_division,
                batch: id_batch
            },
            success: function(data) {
                var status = data['status'];
                if (status == "true") {
                    var subjects = data['subjects']
                    var options = '<option value="">---------</option>', i, maxlength = subjects.length;

                    for (i = 0; i < maxlength; i++) {
                        options += `<option value="${subjects[i]['id']}">${subjects[i]['name']} - ${subjects[i]['code']}</<option>`
                    }

                } else {
                    var message = data['message']
                    var options = `<option value="">${message}</option>`
                }
                $("#id_subject").html(options)
                $("#id_subject").selectpicker('refresh')
            },
            error: function(data) {

            }
        });
    }
}
</script>
{{ form.media }}
{% endblock %}
