{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            <div class="ah-search">
                <form method="get" action="{% url 'academics:list_of_divisions_and_sem' %}">
                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                    <input type="submit" class="hidden" />
                </form>
            </div>
        </div>
        <div id="c-grid" class="clearfix" data-columns="2">
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body card-padding">
                        <div class="form-group fg-line">
                            <label for="{{ form.sub_division.id_for_label }}">
                                {{ form.sub_division.label }}
                                {% if form.sub_division.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.sub_division.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.sub_division.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                            </label>
                            {{ form.sub_division }}
                            {% if form.sub_division.errors %}
                            <label class="error">{{ form.sub_division.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.semester.id_for_label }}">
                                {{ form.semester.label }}
                                {% if form.semester.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.semester.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.semester.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.semester }}
                                {% if form.semester.errors %}
                                <label class="error">{{ form.semester.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.name.id_for_label }}">
                                {{ form.name.label }}
                                {% if form.name.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.name.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                            </label>
                            {{ form.name }}
                            {% if form.name.errors %}
                            <label class="error">{{ form.name.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.subject_code.id_for_label }}">
                                {{ form.subject_code.label }}
                                {% if form.subject_code.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.subject_code.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.subject_code.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                            </label>
                            {{ form.subject_code }}
                            {% if form.subject_code.errors %}
                            <label class="error">{{ form.subject_code.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group fg-line">
                            <label for="{{ form.subject_type.id_for_label }}">
                                {{ form.subject_type.label }}
                                {% if form.subject_type.field.required %}
                                <small class="star">*</small>
                                {% endif %}
                                {% if form.subject_type.help_text %}
                                <span data-original-title="Field Info" title="" data-content="{{ form.subject_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                            </label>
                            {{ form.subject_type }}
                            {% if form.subject_type.errors %}
                            <label class="error">{{ form.subject_type.errors.as_text }}</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
<script type="text/javascript" src="{% static 'js/moment-precise-range.js' %}"></script>
<script type="text/javascript">
$('#id_sub_division').on('change keyup', function() {
    var $this = $(this);
    get_division_data($this);

});

function get_division_data(element) {
    var id_division = element.val();


    if (id_division != "" && id_division != null && id_division != undefined) {
        var url = "{% url 'academics:get_semester_countdetails' %}"
        $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            data: {
                id_division: id_division,
            },
            success: function(data) {
                var status = data['status'];
                if (status == "true") {
                    var i, count;
                    count = data['count'];
                    for (i = 1; i <= 8; i++) {
                        if (i > count) {
                            $(`#id_semester option[value="${i}"]`).hide();
                        } else {
                            $(`#id_semester option[value="${i}"]`).show();
                        }
                    }
                    $('#id_semester').selectpicker('refresh');
                }
            },
            error: function(data) {

            }
        });
    }
}
function Duration() {
    var start_date = $("#id_start_date").val();
    var end_date = $("#id_end_date").val();
    var duration = 0;
    if (start_date !== "" && start_date !== null && end_date !== "" && end_date !== null) {
        var moment_start_date = moment(start_date, 'MM/DD/YYYY');
        var moment_end_date = moment(end_date, 'MM/DD/YYYY');
        var diff_time = moment.preciseDiff(moment_end_date, moment_start_date, true);
        var days = diff_time['days'];
        duration = diff_time['months'];
        if (days > 0) {
            duration += 1
        }
        $('#id_duration').val(duration);
    }
}

$(document).ready(function() {
    $('input[type=text]').focus(function() {
        $(this).select();
    });
    $('input[type=text]').mouseup(function(e) { // fix for chrome and safari
        e.preventDefault();
    });
    $('input[type=text]').select(function() {
        $('.log').append(' Handler for .select() called. ');
    });
    $('#id_semester').selectpicker('refresh');

    $(document).on('change, focusout', '#id_start_date, #id_end_date', function() {
        Duration();
    })
});
</script>
{{ form.media }}
{% endblock %}
