{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'main:batches' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>                
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
	            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
	                	{% csrf_token %}
                	<div class="card">
	                    <div class="card-body card-padding">	                       
	                        <div class="form-group fg-line">
	                            <label for="{{ form.name.id_for_label }}">
	                            	{{ form.name.label }}
	                            	{% if form.name.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.name.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            {{ form.name }}
	                            
	                            {% if form.name.errors %}
	                            	<label class="error">{{ form.name.errors.as_text }}</label>
	                            {% endif %}
	                        </div>
	                        
	                        <div class="form-group fg-line">
	                            <label for="{{ form.start_date.id_for_label }}">
	                            	{{ form.start_date.label }}
	                            	{% if form.start_date.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.start_date.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.start_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            {% if is_edit %}
	                            	<input id="{{ form.start_date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.start_date.html_name}}" placeholder="Enter end date" value="{{ form.start_date.value|date:'m/d/Y' }}">
	                            {% else %}
	                            	{{ form.start_date }}
	                            {% endif %}
	                            
	                            {% if form.start_date.errors %}
	                            	<label class="error">{{ form.start_date.errors.as_text }}</label>
	                            {% endif %}
	                        </div>
	                        
	                        <div class="form-group fg-line">
	                            <label for="{{ form.end_date.id_for_label }}">
	                            	{{ form.end_date.label }}
	                            	{% if form.end_date.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.end_date.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.end_date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            
	                            {% if is_edit %}
	                            	<input id="{{ form.end_date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.end_date.html_name}}" placeholder="Enter end date" value="{{ form.end_date.value|date:'m/d/Y' }}">
	                            {% else %}
	                            	{{ form.end_date }}
	                            {% endif %}
	                            
	                            {% if form.end_date.errors %}
	                            	<label class="error">{{ form.end_date.errors.as_text }}</label>
	                            {% endif %}
	                        </div>	                  
	                        
	                        <div class="form-group fg-line m-b-0">
	                            <label for="{{ form.is_active.id_for_label }}">
	                            	{{ form.is_active.label }}
	                            	{% if form.is_active.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.is_active.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.is_active.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            
	                            {% if is_edit %}
	                            	<input id="{{ form.is_active.id_for_label }}" type="checkbox" class="checkbox check check_item"  name="{{form.is_active.html_name}}">
	                            {% else %}
	                            	{{ form.is_active }}
	                            {% endif %}
	                            
	                            {% if form.is_active.errors %}
	                            	<label class="error">{{ form.is_active.errors.as_text }}</label>
	                            {% endif %}
	                        </div>
	                    </div>
                    </div>
                    <div class="m-t-20">
	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
	                </div>
	            </form>   
            </div>
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/moment-precise-range.js' %}"></script>
	<script>
		function Duration(){
        	var start_date = $("#id_start_date").val();
        	var end_date = $("#id_end_date").val();
        	var duration = 0;
        	if (start_date !== "" && start_date !== null && end_date !== "" && end_date !== null ){
        		var moment_start_date = moment(start_date,'MM/DD/YYYY');
        		var moment_end_date = moment(end_date,'MM/DD/YYYY');
        		var diff_time = moment.preciseDiff(moment_end_date,moment_start_date,true);
        		var days = diff_time['days'];
        		duration = diff_time['months'];
        		if (days > 0){
        			duration += 1
        		}
        		$('#id_duration').val(duration);
        	}
        }

        $(document).ready(function(){
            $('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });

            $(document).on('change, focusout', '#id_start_date, #id_end_date', function(){
            	Duration();
            })
        });
    </script>
{% endblock %}