{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'academics:departments' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>

	        <form action="{{url}}" class="ajax redirect" method="post">
	        {% csrf_token %}
	            <div class="col-md-12">
	                <div class="card">
	                    <div class="card-body card-padding add_item_container period_formset table-responsive ">
	                        <table id="data-table-basic" class="table table-striped table-vmiddle">
	                            <thead>
	                                <tr>
	                                    <th>Weekday</th>
	                                    <th>From Time</th>
	                                    <th>To Time</th>
	                                    <th class="one"></th>
	                                </tr>   
	                            </thead>
	                            <tbody>
	                                {% for period in period_formset.forms %}
	                                    <tr class="check_items_row form_set_row">                                          
	                                        <td>
	                                            {{period.id}}
	                                            <span class="weekday">                 
	                                                {{ period.weekday }} 
	                                            </span>
	                                        </td>
	                                        <td>
	                                            <span class="from_time one">                 
	                                                {{period.from_time}}
	                                            </span>
	                                        </td>
	                                        <td>
	                                            <span class="to_time one">                 
	                                                {{period.to_time}}
	                                            </span>
	                                        </td>
	                                        <td class="one">{% if period.instance.pk %}{{ period.DELETE }}{% endif %}</td>
	                                    </tr>
	                                {% endfor %}
	                            </tbody>
	                        </table>
	                        {{ period_formset.management_form }}
	                    </div>
	                </div>
	            </div>

	            <div class="m-t-20">
	                <button type="submit" class="btn btn-info waves-effect">Submit</button>
	            </div>
	    	</form>
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('input[type=text]').focus(function () {
	        $(this).select();
	    		});
			$('.period_formset table tr.form_set_row').formset({
                prefix: '{{ period_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                    row.find('.sale_item select').val(null).trigger('change');
                    row.find('.select2-selection').click();
                    row.find('.selectpicker').selectpicker();
                }
            });
		  });
	</script>
{% endblock %}