{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">

			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'academics:courses' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">

            <div class="card">
                <div class="card-body card-padding">
	            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                	{% csrf_token %}
                    <div class="row">
	                        <div class="form-group fg-line" style="margin-bottom: 45px;">
	                            <label for="{{ form.name.id_for_label }}">
	                            	{{ form.name.label }}
	                            	{% if form.name.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}

						        	{% if form.name.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
	                                {% endif %}
	                            </label>
	                            {{ form.name }}

	                            {% if form.name.errors %}
	                            	<label class="error">{{ form.name.errors.as_text }}</label>
	                            {% endif %}
	                        </div>
                            <div class="table-responsive card-body add_item_container department_formset">
                                <table id="data-table-basic" class="table table-striped table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th data-column-id="product">Departments</th>
                                            <th class="one"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in department_formset.forms %}
                                        <tr class="form_set_row">
                                            <td >
                                                {{ item.id }}
                                                <span class="department p-relative">
                                                    {{ item.name }}
                                                </span>
                                            </td>

                                            <td class="one">{% if form.instance.pk %}{{ item.DELETE }}{% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {{ department_formset.management_form }}
                        </div>
                        <div class="m-t-20">
    	                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
    	                </div>
    	            </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}

	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type=text]').focus(function () {
               $(this).select();
            });

            $('.department_formset table tr.form_set_row').formset({
                prefix: '{{ department_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                    row.find('.department_select').selectpicker();
                    // row.find('.department select').val(null).trigger('change');
                    // row.find('.select2-selection').click();
                }
            });
          });
    </script>
{% endblock %}
