{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'academics:time_tables' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>

            <form action="{{url}}" class="ajax redirect" method="post">
                {% csrf_token %}
                
                <div class="card m-b-30">                
                    <div class="card-body card-padding table-responsive">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Division</th>
                                    {% for period in periods %}
                                    <th>Period {{forloop.counter}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <input type="hidden" value={{weekday}} name="weekday" />
                                {% for sub_division in sub_divisions %}    
                                <input type="hidden" value={{sub_division.pk}} name="division{{forloop.counter}}" />                    
                                <tr class="check_items_row">  
                                    <td>{{sub_division}}</td>                              
                                    {% for period in periods %}
                                    <td style="position: relative; overflow: visible;">
                                        <input type="hidden" value={{period.pk}} name="period-{{forloop.parentloop.counter}}-{{forloop.counter}}" />
                                        <select name="faculty-{{forloop.parentloop.counter}}-{{forloop.counter}}" id="faculty" class="selectordie faculty">
                                            <option value="">.......</option>
                                            {% for faculty in faculties %}
                                            <option value="{{faculty.pk}}">{{faculty}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    {% endfor %}                              
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
    </form>
</section>
<!-- content-wrapper ends -->
{{form.media}}
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}