{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content">
    <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'academics:list_of_divisions_and_sem' %}" class="ahs-input">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>



    {% if divisions %}
        <div class="card m-b-30">
            <div class="card-padding">
                <div class="row m-b-30">
                    {% for division in divisions %}
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b-15">
                            <div class="class-card">
                                <div class="top-panel">
                                    <h6>{{division.name}}</h6>
                                </div>
                                <div class="bottom-panel">
                                    <ul class="list-unstyled {{division.semester_no}}">
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=1 %}">I</a></li>
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=2 %}">II</a></li>
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=3 %}">III</a></li>
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=4 %}">IV</a></li>
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=5 %}">V</a></li>
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=6 %}">VI</a></li>
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=7 %}">VII</a></li>
                                        <li><a href="{% url 'academics:subjects' pk=division.pk sem=8 %}">VIII</a></li>
                                    </ul>
                                    <br class="clear">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</section>

{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="{% url 'academics:admissions' %}">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i>Back</span>
            </div>

            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>

                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}

{% block static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/moment-precise-range.js' %}"></script>
    <script>
        $(document).ready(function(){
            for(i=3;i<=8;i++){
                $(`.bottom-panel ul.2 li:nth-child(${i})`).hide()
                if(i >= 5){
                    $(`.bottom-panel ul.4 li:nth-child(${i})`).hide();
                    if(i >= 7){
                        $(`.bottom-panel ul.6 li:nth-child(${i})`).hide()
                    }
                }
            }
        });
    </script>

    <style>
        .m-b-30 {
            margin-bottom : 30px;
        }
        .class-card {
            background: -webkit-linear-gradient(-45deg, #177BA0, #0BA360);
            background: -o-linear-gradient(-45deg, #177BA0, #0BA360);
            background: -moz-linear-gradient(-45deg, #177BA0, #0BA360);
            background: linear-gradient(-45deg, #177BA0, #0BA360);
            color: #fff;
            border-radius: 4px;
            webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            box-shadow: 3px 3px 10px rgba(0,0,0,.3);
        }
        .class-card .top-panel{
            padding:10px;
        }
        .class-card .top-panel h6 {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
        }
        .class-card a{
            color: #fff;
        }
        .class-card .bottom-panel ul {
            float: left;
            width: 100%;
            margin-bottom: 0;
            margin: 0 auto;
        }
        .class-card .bottom-panel ul li{
            float: left;
            width: 33.33%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border:1px solid #fff;
            text-align: center;
            border-left : none;
            border-radius: 4px;
        }
        .class-card .bottom-panel ul li a{
            display: block;
            width: 100%;
            padding: 20px 0;
            font-size: 18px;
            font-weight: bold;
        }

        br.clear {
            clear: both;
            line-height: 0;
        }
    </style>
{% endblock %}
