{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900 weekday" style="color:#fff;">{{title}}</div>
        <div class="ah-search">
            <form method="get" action="">
                <input name="q" placeholder="Start typing..." class="ahs-input" type="text">

                <i class="ah-search-close mdi mdi-arrow-left" data-ma-action="ah-search-close"></i>
                <input class="hidden" type="submit">
            </form>
        </div>
        
    </div>

    <div class="row"> 
        <div class="col-lg-2 col-md-3 col-sm-6 m-b-15">
            <a href="{% url 'academics:list_section_to_time_table' weekday='monday' %}">
                <div class="color-widget six">
                    <h4>Monday</h4>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 m-b-15">
            <a href="{% url 'academics:list_section_to_time_table' weekday='tuesday' %}">
                <div class="color-widget six">
                    <h4>Tuesday</h4>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 m-b-15">
            <a href="{% url 'academics:list_section_to_time_table' weekday='wednesday' %}">
                <div class="color-widget six">
                    <h4>Wednesday</h4>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 m-b-15">
            <a href="{% url 'academics:list_section_to_time_table' weekday='thursday' %}">
                <div class="color-widget six">
                    <h4>Thursday</h4>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 m-b-15">
            <a href="{% url 'academics:list_section_to_time_table' weekday='friday' %}">
                <div class="color-widget six">
                    <h4>Friday</h4>
                </div>
            </a>
        </div>
    </div>
   
</section>
{% endblock %}


{% block static %}
    {% load static %}
    <style>
        .color-widget {
            min-height: 60px;
        }
        .color-widget h4{
            text-align: center;
            color : #555;
        }
    </style>
  
    <style>
        .weekday{
            text-transform: uppercase;
        }
        .table td {
            padding-bottom: 20px;
            padding-top: 5px;
            font-size: 13px;
        }
    </style>
{% endblock %}