{% load static %}
{% load i18n %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>

    <link rel="stylesheet"
          href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}">
    <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
</head>
<body>
<section id="content" class="content-wrapper">
    <section id="fee-receipt">
        <section class="wrapper">
            <div>
                <!-- <div class="top left" style="width: 80%;margin-left:  auto;">
                    <h3 style="margin-bottom: 0">{{ colleges.name }}</h3>
                    <h4 style="margin-top: 5px;margin-bottom: 7px;">{{ colleges.address }}</h4>
                    <h4 style="margin-top: 5px;margin-bottom: 7px;">Phone- {{ colleges.phone }}</h4>                    
                </div> -->
                
                {% if instance.photo %}
                    <div class="right" style="width: 20%;margin: 64px auto 0;">
                        <img class="img-responsive" style="border: 1px solid #000;
    padding: 6px;
    box-sizing: border-box;" src="{{ instance.photo.url }}" alt="{{ instance.name }}"/>
                    </div>
                {% else %}
                    <div class="right" style="width: 20%;margin-top: 35px ;">
                        <span class="photo">Photo</span>
                    </div>
                {% endif %}

                <br class="clear">
            </div>

            <section class="tables" style="margin-top: 20px;">
                <table style="width: 100%">
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;"> Name , Age 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.name|default:"-" }}
                            - {{ instance.age|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Admn No  
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.auto_id|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Phone Number 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.phone|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">DOB 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.dob|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Blood Group 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.blood_group|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Address 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.address|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Aadhar No
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.aadhar_no|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Gender 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;">{{ instance.gender|default:"-" }}
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Mother 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;">{{ instance.mother_name|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Father Annual Income
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;">{{ instance.father_annual_income|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Father Phone
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;">{{ instance.phone|default:"-" }}
                        </td>
                    </tr>

                </table>
            </section>

            <section>
                <h3 class="sub-title">Father Details</h3>

                <table style="width: 100%">
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Name
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.father_name|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Email  
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.father_email|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Phone Number 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.phone|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Occupation 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.father_occupation|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Qualification
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.father_qualification|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;"> Annual Income 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.father_annual_income|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Aadhar No
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.father_aadhar_no|default:"-" }}
                        </td>
                    </tr>
                </table>
            </section>

            <section>
                <h3 class="sub-title">Mother Details</h3>

                <table style="width: 100%">
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Name
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.mother_name|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Email  
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.mother_email|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Phone Number 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.mother_phone|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Occupation 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.mother_occupation|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Qualification
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.mother_qualification|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;"> Annual Income 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.mother_annual_income|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Aadhar No
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.mother_aadhar_no|default:"-" }}
                        </td>
                    </tr>
                </table>
            </section>

            <section>
                <h3 class="sub-title">Guardian Details</h3>

                <table style="width: 100%">
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Name
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.guardian_name|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Email  
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.guardian_email|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Phone Number 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.guardian_phone|default:"-" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="text-align: left;padding-left:50px;">Occupation 
                        </td>
                        <td class="title" style="text-align: left;padding-left:50px;" >{{ instance.guardian_occupation|default:"-" }}
                        </td>
                    </tr>
                </table>
            </section>
        </section><!--(#fee-receipt>.wrapper)-->
    </section><!--(#fee-receipt)-->

</section>
</body>
</html>
<script type="text/javascript">
    $('li').click(function () {
        var $this = $(this);
        console.log(this)
        var id = $this.data('id');
        console.log(id)
        feeCalculate()
    })

    function feeCalculate() {

    }
</script>
<style>
    br.clear {
        clear: both;
    }

    .left {
        float: left;
    }

    strong {
        font-weight: normal;
    }

    .right {
        /*float: right;*/
    }

    .thumb {
        display: block;
    }

    .thumb img {
        display: block;
        width: 100%;
    }

    table.two {
        table-layout: fixed;
        word-wrap: break-word;
    }

    p.extra {
        font-size: 9pt;
        display: inline-block;
        background: #000;
        margin-left: 150px;
        color: #fff;
        padding: 4px 10px;
        margin-top: 0;
    }

    table.three th, table.three td {
        width: 33.33%;
        font-size: 10pt;
    }

    table.three tr.three {
        height: 50px;
    }

    a:hover, [type="submit"]:hover {
        filter: alpha(opacity=85);
        -moz-opacity: 0.85;
        -khtml-opacity: 0.85;
        opacity: 0.85;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
    }

    #fee-receipt {
        color: #000;
        /*height: 297mm;*/
        font-size: 15pt;
        border: 3px solid #006064;
    }

    #fee-receipt div.top {
        text-align: center;
        padding: 40px 0px;
    }

    h3.sub-title {
        text-align: center;
        font-size: 11pt;
        margin-top: 0;
    }

    #fee-receipt div.top h3 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: Noto Sans Malayalam, Roboto, sans-serif;
        font-size: 18pt;
    }

    #fee-receipt div.top h4 {
        font-size: 11pt;
    }

    #fee-receipt div.top span {
        width: 50%;
        font-weight: bold;
        float: left;
    }

    #fee-receipt div.top span.no {
        text-align: left;
        font-size: 9pt;
        margin-top: 15px !important;
    }

    #fee-receipt div.top span.fee {
        color: #006064;
        text-transform: uppercase;
        padding: 10px 0px;
        font-weight: bold;
        font-size: 12pt;
    }

    #fee-receipt div.top span.fee h3 {

    }

    #fee-receipt div.top span.date {
        text-align: right;
        font-size: 9pt;
        margin-top: 15px !important;
    }

    #fee-receipt div.bottom {
        padding: 20px 0px;

    }

    #fee-receipt div.bottom p.one {
        width: 49%;
        display: inline-block;
        font-weight: bold;
        font-family: Noto Sans Malayalam, Roboto, sans-serif;
        font-size: 9pt;

    }

    #fee-receipt div.bottom div p {
        font-size: 11pt;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 10px 0px 25px;
        font-size: 12pt;
        margin-bottom: 10px;
    }

    table tr th {
        font-weight: bold;
    }

    table tr th, table tr td.serial {
        width: 7%;
    }

    table.two tr th, table.two tr td {
        font-size: 8pt;
    }

    table tr th, table tr td.title {
        width: 40%;
        font-size: 13pt;
    }

    table tr th, table tr td {
        border: 1px solid #006064;
        border-collapse: collapse;
        padding: 7px 0px;
        text-align: center;
        font-size: 11pt;
    }

    table tr th.pd, table tr td.pd {
        width: 35%;
        font-size: 10pt;
    }

    p.two {
        display: inline-block;
        width: 49%;
        font-size: 11pt;
    }

    p.two span {
        border: 2px solid #006064;
        height: 25px;
        width: 80px;
        display: inline-block;
        padding: 2px 0;
        font-size: 8pt;
        text-align: center;
    }

    span.photo {
        border: 1px solid #BDBDBD;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 150px;
    }

    p.one {
        width: 47%;
        font-family: Noto Sans Malayalam, Roboto, sans-serif;

    }

    #fee-receipt div.top span.fee {
        font-family: Noto Sans Malayalam, Roboto, sans-serif;

    }

    #fee-receipt div.bottom table {
        width: 50%;
    }

    #fee-receipt {
        font-size: 8pt;
        font-family: Noto Sans Malayalam, Roboto, sans-serif;

    }

    #fee-receipt div.top {
        padding: 20px 0px;
    }

    #fee-receipt div.top span {
        width: 50%;
    }

    #fee-receipt div.top span.fee {
        width: 33.33%;
        float: left;
    }

    #fee-receipt div.bottom {
        padding: 10px 0px;
    }

    #fee-receipt div.bottom table {
        margin: 10px 0px;
        width: 100%;
    }

    #fee-receipt div.bottom table tr th, #fee-receipt div.bottom table tr td {
        padding: 5px 15px;
    }

    #fee-receipt div.bottom table tr th.pd, #fee-receipt div.bottom table tr td.pd {
        padding: 5px 30px;
    }

    #fee-receipt div.bottom p.two span {
        height: 12px;
        width: 40px;
    }

    body {
        width: 210mm;
        height: 297mm;
        margin: 0 auto;
    }

    i.zmdi.zmdi-phone {
        border: 1px solid #006064;
        border-radius: 50%;
        padding: 3px 4px;
        font-size: 11px;
    }

    h3.marriage {
        display: inline-block;
        border: 2px solid #000;
        padding: 14px 10px;
        border-bottom-width: 4px;
        border-radius: 11px;
    }

    @media print {
        #fee-receipt {
            border: none;
        }
    }
</style>
{% block static %}
    {% load static %}
    <script type="text/javascript">
        // window.print();
    </script>
    {{ form.media }}
{% endblock %}