{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <ul class="ah-actions actions a-alt">
                        <li>
                            <a title="Create Disability" href="{% url 'academics:create_semester' %}">
                                <i class="zmdi zmdi-plus"></i>
                            </a>
                        </li>

                        <li>
                            <a title="Edit Disability" href="{% url 'academics:edit_semester' pk=instance.pk %}">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                        </li>

                        <li>
                            <a title="Delete Disability" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_semester' pk=instance.pk %}" class="action-button redirect">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>

                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Semester</div>
                                    <small class="lgi-text">{{instance.semester}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Division</div>
                                    <small class="lgi-text">{{instance.division}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Academic Year</div>
                                    <small class="lgi-text">{{instance.academic_year}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">From Date</div>
                                    <small class="lgi-text">{{instance.from_date}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">To Date</div>
                                    <small class="lgi-text">{{instance.to_date}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


             </div>

        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}
