{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<section id="content">
        <div class="container">
             <div class="c-header">
            	<h2>{{title}}</h2>
            </div>
            {% if instances %}
                        <div class="action-header palette-theme {{current_theme}} bg clearfix">
                            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
                        </div>

                        <div class="row p-l-0 p-r-0 department-cards">

                                <div class="col-md-4">
                                    
                                       <div class="card list-card">
                                            <div style="height: 60px;" class="card-header p-15">
                                                <span class="f-16">{{instance.name}}</span>
                                                <div class="pull-right">
                                                   
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="card-body card-padding p-l-20 p-r-20">
                                                <div class="widgets row palette-White text">
                                                    {% for instance in instances %}
                                                    <a href="{% url 'academics:show_calendar_attendances' pk=instance.pk %}" class="class-cards">
                                                        <div class="col-xs-4 m-b-10 p-l-10 p-r-10">
                                                            <div class="widget p-t-5 p-b-5 text-center {% cycle 'one' 'two' 'three' %}">
                                                                <h5 class="palette-White text">{{instance.name}}</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    {% endfor %}
                                                </div>

                                               
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}
    </section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
	 <form method="get" action="">
	 	<div class="card">
			<div class="card-header">
		        <h2>Filter <small></small></h2>
		        <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
		    </div>

			<div class="card-body card-padding">
			 	<div class="form-group fg-line">
		            <label>Query</label>
		            <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
		        </div>

		         <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
		    </div>
		 </div>
	 </form>
</div>
{% endblock %}

{% block static %}
	{% load static %}
    <style type="text/css">
        a {
            color: #fff;
            display: block;
        }
        .widget {
            background: linear-gradient(to right, #ff6a00, #ee0979) !important;
        }
        .widget:nth-child(2n) {
            background: linear-gradient(to right, #ff6a00, #ee0979) !important;
        }

    </style>
{% endblock %}
