{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

{% load static %}

{% block content %}
<section id="content" class="content-wrapper">
    <div class="action-header clearfix mb-3">
        <div class="ah-label mdc-text-grey-900">{{title}}</div>

        <div class="ah-search">
            <form method="get" action="">
                <input name="q" placeholder="Start typing..." class="ahs-input" type="text">

                <i class="ah-search-close mdi mdi-arrow-left" data-ma-action="ah-search-close"></i>
                <input class="hidden" type="submit">
            </form>
        </div>

        <ul class="ah-actions actions a-alt">
            <li>
                <a title="Search" href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </li>
<!-- 
            <li>
                <a title="Filter" class="filter_button" href="">
                    <i class="mdi mdi-filter-variant"></i>
                </a>
            </li>

            <li>
                <a title="Create" href="{% url 'students:create_student_batch' %}">
                    <i class="mdi mdi-plus"></i>
                </a>
            </li>
            
            <li>
                <a title="Select All" class="check_all" href="">
                    <i class="mdi mdi-select-all"></i>
                </a>
            </li>
             
            <li>
                <a title="Delete selected items" data-id="" href="{% url 'students:delete_selected_student_batches' %}" data-text="{{confirm_delete_selected_message}}" data-title="Are you sure?" class="action-button reload selected-items-button">
                    <i class="mdi mdi-delete"></i>
                </a>
            </li> -->
            
            
        </ul>
        
    </div>
    <div class="m-b-30 mt-25">
        <a href=""><button type="button" title="Filter" class="filter_button btn-success btn btn1 "><i class="mdi mdi-filter-variant"></i>Filter</button></a>
        <a href="{% url 'students:create_student_batch' %}"><button type="button" title="Create" class="btn-warning btn btn1"><i class="mdi mdi-plus"></i>New</button></a>
        <a href="" class="check_all"><button type="button" title="Select All" class="btn-primary btn btn1"><i class="mdi mdi-select-all"></i>Select</button></a>
        <a title="Delete selected items" data-id="" href="{% url 'students:delete_selected_student_batches' %}" data-text="{{confirm_delete_selected_message}}" data-title="Are you sure?" class="action-button reload selected-items-button"><button type="button" title="Select All" class="btn-danger btn btn1"><i class="mdi mdi-delete"></i>Delete</button></a>
    </div>
    <div class="card">
        <div class="card-padding">
			
			{% if instances %}
			
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                        	<th style="width:20px;"></th>
                            <th data-column-id="id" data-type="numeric">Sr No.</th>
                            <th>Batch</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Is admission active</th>
                            <th data-column-id="action" class="three">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% load el_pagination_tags %}
						{% paginate 21 instances %}
                    	{% for instance in instances %}
                        <tr class="check_items_row">
                        	<td style="width:20px;">
                                <div class="form-check form-check-flat m-t-5">
                                    <label class="form-check-label">
                                        <input class="form-check-input check check-item" type="checkbox" value="{{instance.pk}}" name="delete_item" />
                                    </label>
                                </div>
                            </td>
                            <td>
                            	<a href="{% url 'students:view_student_batch' pk=instance.pk %}"">{{instance.auto_id}}</a>
                            </td>
                            <td>{{instance.name}}</td>
                            <td>{{instance.from_date}}</td>
                            <td>{{instance.to_date}}</td>
                            <td>{{instance.is_admission_active}}</td>
                            <td class="three">
                            	<a href="{% url 'students:view_student_batch' pk=instance.pk %}" class="mdc-text-teal mr-2"><i class="icon-eye"></i></a>
                            	<a href="{% url 'students:edit_student_batch' pk=instance.pk %}" class="mdc-text-amber mr-2"><i class="icon-pencil"></i></a>
                            	<a data-id="{{instance.pk}}" href="{% url 'students:delete_student_batch' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove mdc-text-red"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
            	{% get_pages %}
            	<div class="row">
            		<div class="col-sm-6">
            			<div class="pagination">
            				{% show_pages %}
            			</div>
            		</div>
            		<div class="col-sm-6 infoBar">
            			<div class="infos">
            				Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
            			</div>
            		</div>
            	</div>
            </div>   
            <!--pagination-->
            
            {% else %}
            	{% include 'includes/not_found.html' %}
            {% endif %}            
        </div>
        
    </div>
</section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
     <form method="get" action="">
        <div class="card">
            <div class="card-header">
                <h2>Filter <small></small></h2>
                <span class="back-button-poupup palette-Cyan bg btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i>Back</span>
            </div>
            
            <div class="card-body card-padding">
                <div class="form-group fg-line">
                    <label>Query</label>
                    <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
                </div>
                
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </div>
         </div>
     </form>
</div>
{% endblock %}
