{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'academics:sub_divisions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>
            <div id="c-grid" class="clearfix" data-columns="2">
                <form class="ajax reset {% if redirect %} redirect {% endif %}" method="post" action="{{url}}">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body card-padding">

                            <div class="form-group fg-line">
                                <label for="{{ form.department.id_for_label }}">
                                    {{ form.department.label }}
                                    {% if form.department.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.department.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.department.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.department }}

                                {% if form.department.errors %}
                                    <label class="error">{{ form.department.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line">
                                <label for="{{ form.name.id_for_label }}">
                                    {{ form.name.label }}
                                    {% if form.name.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.name.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.name }}

                                {% if form.name.errors %}
                                    <label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.course_code.id_for_label }}">
                                    {{ form.course_code.label }}
                                    {% if form.course_code.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.course_code.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.course_code.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.course_code }}

                                {% if form.course_code.errors %}
                                    <label class="error">{{ form.course_code.errors.as_text }}</label>
                                {% endif %}
                            </div>
                             <div class="form-group fg-line">
                                <label for="{{ form.semester_no.id_for_label }}">
                                    {{ form.semester_no.label }}
                                    {% if form.semester_no.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.semester_no.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.semester_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.semester_no }}

                                {% if form.semester_no.errors %}
                                    <label class="error">{{ form.semester_no.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.fee.id_for_label }}">
                                    {{ form.fee.label }}
                                    {% if form.fee.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.fee.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.fee }}

                                {% if form.fee.errors %}
                                    <label class="error">{{ form.fee.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.admission_fee.id_for_label }}">
                                    {{ form.admission_fee.label }}
                                    {% if form.admission_fee.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.admission_fee.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.admission_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.admission_fee }}

                                {% if form.admission_fee.errors %}
                                    <label class="error">{{ form.admission_fee.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.special_fee.id_for_label }}">
                                    {{ form.special_fee.label }}
                                    {% if form.special_fee.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.special_fee.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.special_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.special_fee }}

                                {% if form.special_fee.errors %}
                                    <label class="error">{{ form.special_fee.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.library_fee.id_for_label }}">
                                    {{ form.library_fee.label }}
                                    {% if form.library_fee.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.library_fee.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.library_fee.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                    {% endif %}
                                </label>
                                {{ form.library_fee }}

                                {% if form.library_fee.errors %}
                                    <label class="error">{{ form.library_fee.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/moment-precise-range.js' %}"></script>
    <script>
        function Duration(){
            var start_date = $("#id_start_date").val();
            var end_date = $("#id_end_date").val();
            var duration = 0;
            if (start_date !== "" && start_date !== null && end_date !== "" && end_date !== null ){
                var moment_start_date = moment(start_date,'MM/DD/YYYY');
                var moment_end_date = moment(end_date,'MM/DD/YYYY');
                var diff_time = moment.preciseDiff(moment_end_date,moment_start_date,true);
                var days = diff_time['days'];
                duration = diff_time['months'];
                if (days > 0){
                    duration += 1
                }
                $('#id_duration').val(duration);
            }
        }

        $(document).ready(function(){
            $('input[type=text]').focus(function () {
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });

            $(document).on('change, focusout', '#id_start_date, #id_end_date', function(){
                Duration();
            })
        });
    </script>
    {{ form.media }}
{% endblock %}
