{% extends "base.html" %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
<section id="content">
    <div class="container">
             <div class="c-header">
                <h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
            </div>
    <form action="{{url}}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="padding: 6% 4% 6% 6%;">
                    <div class="card-body">
                        {% for field in form %}
                        <div class="form-group row">
                            <label for="{{field.id_for_label}}" class="col-sm-3 col-form-label">{{field.label}}</label>
                            <div class="col-sm-9">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                <label class="form-group" style="color: #d11;" class="error">{{ field.errors.as_text }}</label>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group" style="padding-left: 20px;">
                        <a href="{% static 'files/upload_students.xlsx' %}" style="font-size: 14px;">Download Template</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                 <div class="card" style="padding: 6% 4% 6% 6%;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h4 style="margin-bottom: 20px;">Instructions</h4>
                        </div>
                        <div class="ibox-content p-md">
                            <div class="form-group">
                                <ul style="margin-bottom: 0;">
                                    <li style="margin-bottom: 10px;color: #3c4ba0">Date of birth and Date joining should be in the format of dd/mm/yyyy (Example : 25/04/2018)</li>
                                    <li style="margin-bottom: 10px;color: #3c4ba0;">Gender should have male or female or other (Example : male)</li>
                                    <li style="margin-bottom: 10px;color: #3c4ba0;">Mode of transport should have college bus or private bus or others (Example : private bus)</li>
                                    <li style="margin-bottom: 10px;color: #3c4ba0;">Category should have general or obc or oec or sc/st (Example : general)</li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-success mr-2">Submit</button>
        </div>
    </form>
</div>
</section>
<!-- content-wrapper ends -->
{% endblock %}