{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <ul class="ah-actions actions a-alt">

                        <li>
                            <a class="p-r-0" title="Create Attendance" data-toggle="modal" href="#test-module">
                                <i class="zmdi zmdi-accounts-add"></i>
                            </a>
                        </li>

                        <li>
                            <a class="p-r-0" title="View Attendance" data-toggle="modal" href="#test-module">
                                <i class="zmdi zmdi-account-box-mail"></i>
                            </a>
                        </li>

                        <li>
                            <a class="p-r-0" title="Class Transfer" data-toggle="modal" href="#test-module">
                                <i class="zmdi zmdi-swap-vertical"></i>
                            </a>
                        </li>

                        <li>
                            <a title="Create Division" href="{% url 'academics:create_sub_division' %}">
                                <i class="zmdi zmdi-plus"></i>
                            </a>
                        </li>

                        <li>
                            <a title="Edit Division" href="{% url 'academics:edit_sub_division' pk=instance.pk %}">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                        </li>

                        <li>
                            <a title="Delete Batch" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'academics:delete_sub_division' pk=instance.pk %}" class="action-button redirect">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>

                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Name</div>
                                    <small class="lgi-text">{{instance.name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Course</div>
                                    <small class="lgi-text">{{instance.department.course.name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Department</div>
                                    <small class="lgi-text">{{instance.department}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Course Code</div>
                                    <small class="lgi-text">{{instance.course_code}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">No of Semester</div>
                                    <small class="lgi-text">{{instance.get_semester_no_display}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Fee</div>
                                    <small class="lgi-text">{{instance.fee}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Special Fee</div>
                                    <small class="lgi-text">{{instance.admission_fee}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Library Fee</div>
                                    <small class="lgi-text">{{instance.library_fee}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Special Fee</div>
                                    <small class="lgi-text">{{instance.special_fee}}</small>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text">{{instance.creator.username|get_user_name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text">{{instance.updater.username|get_user_name}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             </div>

        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}
