{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>

			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                    <li>
                        <a title="Create Staff Salary" href="">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="View Staff Salary" href="">
                            <i class="zmdi zmdi-eye"></i>
                        </a>
                    </li>                    
                    {% endif %}
                </ul>
            </div>

            <form class="ajax reset redirect skip_empty_row not_allowed_without_formset " method="post" action="{{url}}">
            	{% csrf_token %}
                    <div class="row">                       

                        <div class="col-md-12">
                            <div class="card salary-item-card">
                                <div class="table-responsive card-body add_item_container sale_item_formset">
                                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th data-column-id="barcode">Barcode</th>
                                                <th data-column-id="product">Product</th>
                                                <th data-column-id="qty">Quantitiy</th>
                                                <th data-column-id="product">Stock</th>
                                                <th data-column-id="product">Cost</th>
                                                <th data-column-id="product">Price</th>
                                                <th data-column-id="qty">Discount</th>
                                                <th data-column-id="qty">Sub Total</th>
                                                <th class="one"></th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in sale_item_formset.forms %} 
                                            <tr class="form_set_row">
                                                <td>
                                                    <span class="sale_item_barcode">
                                                        <input type="text" placeholder="Barcode" class="form-control">
                                                    </span>
                                                </td>              
                                                <td style="width:30%;" >
                                                    {{ item.id }}
                                                    <span class="sale_item_product">                  
                                                        {{ item.product }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="sale_item_qty">
                                                        {{ item.qty }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="sale_item_stock">
                                                            <input type="text" placeholder="Stock" class="form-control" disabled>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="sale_item_cost">
                                                        <input type="text" placeholder="Cost" class="form-control" disabled>
                                                    </span>
                                                </td>  
                                                <td>
                                                    <span class="sale_item_price">
                                                        {{ item.price }}
                                                    </span>
                                                </td>                                           
                                                <td>
                                                    <span class="sale_item_discount">
                                                        {{ item.discount_amount }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="sale_item_sub_total">
                                                       <input type="text" class="form-control" placeholder="Sub Total" value="0" disabled="disabled" /> 
                                                    </span>
                                                </td>                                               
                                                <td class="one">{% if item.instance.pk %}{{ item.DELETE }}{% endif %}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ sale_item_formset.management_form }}
                                </div> 
                            </div>

                            <div class="col-md-6">
                                <div class="card">                              
                                    <div class="card-body card-padding">                                                          
                                        <div class="form-group fg-line">
                                            <label for="{{ form.sale_id.id_for_label }}">
                                                {{ form.sale_id.label }}
                                                {% if form.sale_id.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}

                                                {% if form.sale_id.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.sale_id.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            {{ form.sale_id }}

                                            {% if form.sale_id.errors %}
                                                <label class="error">{{ form.sale_id.errors.as_text }}</label>
                                            {% endif %}
                                        </div>
                                        <div class="form-group fg-line">
                                            <label for="{{ form.student.id_for_label }}">
                                                {{ form.student.label }}
                                                {% if form.student.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}

                                                {% if form.student.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.student.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            {{ form.student }}

                                            {% if form.student.errors %}
                                                <label class="error">{{ form.student.errors.as_text }}</label>
                                            {% endif %}
                                        </div>
                                        <div class="form-group fg-line">
                                            <label for="{{ form.date.id_for_label }}">
                                                {{ form.date.label }}
                                                {% if form.date.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}

                                                {% if form.date.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            {{ form.date }}

                                            {% if form.date.errors %}
                                                <label class="error">{{ form.date.errors.as_text }}</label>
                                            {% endif %}
                                        </div>
                                        <div class="form-group fg-line">
                                            <label for="{{ form.discount.id_for_label }}">
                                                {{ form.discount.label }}
                                                {% if form.discount.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}

                                                {% if form.discount.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.discount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            {{ form.discount }}

                                            {% if form.discount.errors %}
                                                <label class="error">{{ form.discount.errors.as_text }}</label>
                                            {% endif %}
                                        </div>
                                        
                                        <div class="form-group fg-line">
                                            <label for="{{ form.total.id_for_label }}">
                                                Total
                                                {% if form.total.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}

                                                {% if form.total.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.total.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            <input type="text" placeholder="Total" class="discount form-control number valid" required="" id="id_total">

                                            {% if form.total.errors %}
                                                <label class="error">{{ form.total.errors.as_text }}</label>
                                            {% endif %}
                                        </div>                                      
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="card">                              
                                <div class="card-body card-padding">
                                    <h4 class="card-title m-b-30">Transactions Details</h4>
                                    <div class="form-group fg-line">
                                        <label for="{{ payment_form.transaction_mode.id_for_label }}">
                                            {{ payment_form.transaction_mode.label }}
                                            {% if payment_form.transaction_mode.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.transaction_mode.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.transaction_mode }}

                                        {% if payment_form.transaction_mode.errors %}
                                            <label class="error">{{ payment_form.transaction_mode.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    
                                    
                                    <div class="form-group fg-line bank_item" style="display:none;">
                                        <label for="{{ payment_form.payment_mode.id_for_label }}">
                                            {{ payment_form.payment_mode.label }}
                                            {% if payment_form.payment_mode.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.payment_mode.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.payment_mode }}

                                        {% if payment_form.payment_mode.errors %}
                                            <label class="error">{{ payment_form.payment_mode.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group fg-line bank_item cheque_item" style="display:none;">
                                        <label for="{{ payment_form.cheque_details.id_for_label }}">
                                            {{ payment_form.cheque_details.label }}
                                            {% if payment_form.cheque_details.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.cheque_details.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.cheque_details }}

                                        {% if payment_form.cheque_details.errors %}
                                            <label class="error">{{ payment_form.cheque_details.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group fg-line bank_item cheque_item" style="display:none;">
                                        <div class="">
                                            <label class="checkbox__label"
                                            for="{{ payment_form.is_cheque_withdrawed.id_for_label }}">{{ payment_form.is_cheque_withdrawed.label }}</label>
                                            {{ payment_form.is_cheque_withdrawed }}
                                        </div>
                                    </div>
                                    <div class="form-group fg-line card_item" style="display:none;">
                                        <label for="{{ payment_form.card_details.id_for_label }}">
                                            {{ payment_form.card_details.label }}
                                            {% if payment_form.card_details.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.card_details.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.card_details }}

                                        {% if payment_form.card_details.errors %}
                                            <label class="error">{{ payment_form.card_details.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group fg-line bank_item cheque_item" style="display:none;">
                                        <label for="{{ payment_form.payment_to.id_for_label }}">
                                            {{ payment_form.payment_to.label }}
                                            {% if payment_form.payment_to.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.payment_to.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.payment_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.payment_to }}

                                        {% if payment_form.payment_to.errors %}
                                            <label class="error">{{ payment_form.payment_to.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group fg-line cash_item cash_ac">
                                        <label for="{{ payment_form.cash_account.id_for_label }}">
                                            {{ payment_form.cash_account.label }}
                                            {% if payment_form.cash_account.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.cash_account.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.cash_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.cash_account }}

                                        {% if payment_form.cash_account.errors %}
                                            <label class="error">{{ payment_form.cash_account.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group fg-line bank_item bank_ac" style="display:none;">
                                        <label for="{{ payment_form.bank_account.id_for_label }}">
                                            {{ payment_form.bank_account.label }}
                                            {% if payment_form.bank_account.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.bank_account.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.bank_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.bank_account }}

                                        {% if payment_form.bank_account.errors %}
                                            <label class="error">{{ payment_form.bank_account.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group fg-line">
                                        <label for="{{ payment_form.date.id_for_label }}">
                                            {{ payment_form.date.label }}
                                            {% if payment_form.date.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.date.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.date }}

                                        {% if payment_form.date.errors %}
                                            <label class="error">{{ payment_form.date.errors.as_text }}</label>
                                        {% endif %}
                                    </div>     
                                    <div class="form-group fg-line">
                                        <label for="{{ payment_form.amount.id_for_label }}">
                                            {{ payment_form.amount.label }}
                                            {% if payment_form.amount.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.amount.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.amount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.amount }}

                                        {% if payment_form.amount.errors %}
                                            <label class="error">{{ payment_form.amount.errors.as_text }}</label>
                                        {% endif %}
                                    </div>  
                                    <div class="form-group fg-line">
                                        <label for="{{ payment_form.paid.id_for_label }}">
                                            {{ payment_form.paid.label }}
                                            {% if payment_form.paid.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.paid.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.paid.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.paid }}

                                        {% if payment_form.paid.errors %}
                                            <label class="error">{{ payment_form.paid.errors.as_text }}</label>
                                        {% endif %}
                                    </div> 
                                    <div class="form-group fg-line">
                                        <label for="{{ payment_form.balance.id_for_label }}">
                                            {{ payment_form.balance.label }}
                                            {% if payment_form.balance.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}

                                            {% if payment_form.balance.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ payment_form.balance.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        {{ payment_form.balance }}

                                        {% if payment_form.balance.errors %}
                                            <label class="error">{{ payment_form.balance.errors.as_text }}</label>
                                        {% endif %}
                                    </div>                               
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                    <div>
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
            </form>
        </div>
    </section>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You cannot enter negative value</h4>
            </div>
            <div class="modal-body">
                <p>Please enter a positive value.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        
        </div>
    </div>
    
    {% endblock %}
    {% block static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $(document).ready(function(){
                $('.sale_item_formset table tr.form_set_row').formset({
                    prefix: '{{ sale_item_formset.prefix }}',
                    formCssClass: 'dynamic-formset1',
                });
                $('input[type=text]').focus(function () { 
                    $(this).select();
                });
                $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                    e.preventDefault();
                });
                $('input[type=text]').select(function () {
                    $('.log').append(' Handler for .select() called. ');
                });
    
            });
    $('.sale_item_product select').on('change' , function(){
        var $this = $(this);
        get_product_data($this);
    })


    function get_product_data(element){
        var url = "{% url 'store_product:get_stock' %}"
        var product_id = element.val();
        var $parent = element.parents('tr.form_set_row');
        if (product_id != undefined || product_id != null || product_id != ""){
            $.ajax({
                type : "GET",
                url : url,
                dataType : 'json',
                data : {
                    id : product_id,
                },
                success : function(data){
                    var status = data['status'];
                    if(status=='true'){
                        var code = data['code'];
                        var stock = data['stock'];
                        var cost = data['cost'];
                        var price = data['price'];

                        $parent.find(".sale_item_barcode input").val(code);
                        $parent.find(".sale_item_stock input").val(stock);
                        $parent.find(".sale_item_cost input").val(cost);
                        $parent.find(".sale_item_price input").val(price);
                    }
                },
                error : function(data){

                }
            })     
    }
    
        $('.sale_item_discount input').on('keyup change' , function (){
                var discount_val = $parent.find(".sale_item_discount input").val();
                discount = parseInt(discount_val)

        })
        $('.sale_item_qty input').on('keyup change' , function (){
            var qty = $parent.find(".sale_item_qty input").val();
            x = qty
            qty = parseInt(x);
            var price = $parent.find(".sale_item_price input").val();
            var price = parseInt(price)
            if (x == "" || x == null || x == undefined ){
                var subtotal = 0
                $parent.find('.sale_item_sub_total input').val(subtotal)
            }
            else if(qty < 0){
                $('#myModal').modal('show');
            }
            else{
                var subtotal = (qty*price)
                $parent.find('.sale_item_sub_total input').val(subtotal)

            }
            $('.sale_item_discount input').on('keyup change' , function (){
                var discount_val = $parent.find(".sale_item_discount input").val();
                discount = parseInt(discount_val)
                var subtotal = (price * qty) - discount
                $parent.find('.sale_item_sub_total input').val(subtotal)
                if ( discount_val == "" || discount_val == null || discount_val == undefined){
                    var subtotal = price * qty
                    $parent.find('.sale_item_sub_total input').val(subtotal)
                }
                else if ( discount < 0){
                    $('#myModal').modal('show');
                    var subtotal = (price * qty)
                    $parent.find('.sale_item_sub_total input').val(subtotal)
                }
                if(discount_val == "" || discount_val == null || discount_val == undefined || x == "" || x == null || x == undefined){
                    $parent.find('.sale_item_sub_total input').val(0)
                }
            })
        })
        }

        $(document).on('change keyup', '.sale_item_discount input,.sale_item_qty input', function(){
            var all_total = 0;
            $('.form_set_row').each(function () {
                var tot = parseFloat($(this).find('.sale_item_sub_total input').val());
                if (!tot){
                    tot = 0;
                }
                all_total += tot;
                $("#id_total").val(all_total);
            });
        });

        $(document).on('change keyup', '.sale_item_discount input', function(){
            var all_discount = 0;
            $('.form_set_row').each(function () {
                var tot = parseFloat($(this).find('.sale_item_discount input').val());
                if (!tot){
                    tot = 0;
                }
                all_discount += tot;
                $("#id_discount").val(all_discount);
            });
        });

    $(document).ready(function(){
        $('#id_transaction_mode').on('change', function() {
        if ( this.value == 'cash'){
            $(".bank_item").hide();
            $(".cash_item").show();
        }
        else{
            $(".bank_item").show();
            $(".cash_item").hide();
            $(".card_item").hide();

            $('#id_payment_to').on('change', function() {
                if ( this.value == 'cash_account'){ 
                    $(".cash_ac").show();
                    $(".bank_ac").hide();
                }
                else if ( this.value == 'bank_account'){
                    $(".cash_ac").hide();
                    $(".bank_ac").show();
                }
                else{
                    $(".cash_ac").show();
                    $(".bank_ac").show();
                }
            });
            $('#id_payment_mode').on('change', function() {
                if ( this.value == 'cheque_payment'){
                    $(".cheque_item").show();
                    $(".card_item").hide();
                    $('#id_payment_to').on('change', function() {
                        if ( this.value == 'cash_account'){ 
                            $(".cash_ac").show();
                            $(".bank_ac").hide();
                        }
                        else if ( this.value == 'bank_account'){
                            $(".cash_ac").hide();
                            $(".bank_ac").show();
                        }
                        else{
                            $(".cash_ac").show();
                            $(".bank_ac").show();
                        }
                    });
                }
                else if(this.value == 'internet_banking'){
                    $(".cheque_item").hide();
                    $(".card_item").hide();
                }
                else{
                    $(".cheque_item").hide();
                    $(".card_item").show();

                }
            });
        }
        });
    });
    </script>
    {{form.media}}
    {% endblock %}