{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.customer}} - {{instance.total}}</div>


                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_create_sale' in user_instance.permissionlist %}
                    <li>
                        <a title="Create Sale" target="_blank" href="{% url 'store_product:create_sale' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_modify_sale' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Sale" target="_blank" href="{% url 'store_product:edit_sale' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_delete_sale' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Sale" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'store_product:delete_sale' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
            
            {% if sale_items %}
            <div class="card">
            	<div class="card-header">
                    <h2>Items <small></small></h2>
                </div>
                <div class="card-body">
	                <div class="table-responsive">
	                    <table id="data-table-basic" class="table table-striped table-vmiddle">
	                        <thead>
	                            <tr>
	                                <th>Product</th>
	                                <th>Qty</th>
	                                <th>Cost</th>
	                                <th>Price</th>
	                                <th>Discount</th>
	                                <th>Subtotal</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        	{% for i in sale_items %}
	                            <tr>
	                                <td>{{i.product}}</td>
	                                <td>{{i.qty}}</td>
	                                <td>{{i.cost}}</td>
	                                <td>{{i.price}}</td>
	                                <td>{{i.discount_amount}}</td>
	                                <td>{{i.subtotal}}</td>
	                            </tr>
	                            {% endfor %}
	                        </tbody>
	                    </table>
	                </div>
                </div>
            </div>
            {% endif %}

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">ID</div>
                                    <small class="lgi-text">{{instance.a_id}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Customer</div>
                                    <small class="lgi-text"><a href="">{{instance.student}}</a></small>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Payment Details <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Subtotal</div>
                                    <small class="lgi-text">{{instance.sub_total_amount}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Total</div>
                                    <small class="lgi-text">{{instance.total}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Total Discount Amount</div>
                                    <small class="lgi-text">{{instance.discount}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment Received</div>
                                    <small class="lgi-text">{{instance.paid}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Balance</div>
                                    <small class="lgi-text">{{instance.balance}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for transaction in transactions %}
                <div class="card">
                    <div class="card-header">
                        <h2>Transaction Details<small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Transaction Mode</div>
                                    <small class="lgi-text">{{transaction.get_transaction_mode_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% if transaction.payment_mode %}
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment Mode</div>
                                    <small class="lgi-text">{{transaction.get_payment_mode_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.cheque_details %}
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Cheque Details</div>
                                    <small class="lgi-text">{{transaction.cheque_details|default:"-"}}</small>
                                </div>
                            </div>

                            {% endif %}
                            {% if transaction.cheque_details %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Is Cheque Withdrawed</div>
                                    <small class="lgi-text">{{transaction.is_cheque_withdrawed|yesno:"Yes,No"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.card_details %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Card Details</div>
                                    <small class="lgi-text">{{transaction.card_details|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.payment_to and transaction.transaction_mode == "bank" %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment to</div>
                                    <small class="lgi-text">{{transaction.get_payment_to_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.bank_account %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Bank Account</div>
                                    {% if request.user.is_superuser or 'can_view_bank_account' in user_transaction.permissionlist %}
                                        <b class="info"><a href="{% url 'finance:bank_account' pk=transaction.bank_account.pk %}">{{transaction.bank_account.name|default:"-"}}</a></b>
                                    {% else %}
                                    <small class="lgi-text">{{transaction.bank_account.name|default:"-"}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.cash_account %}
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Cash Account</div>
                                    {% if request.user.is_superuser or 'can_view_cash_account' in user_transaction.permissionlist %}
                                        <b class="info"><a href="{% url 'finance:cash_account' pk=transaction.cash_account.pk %}">{{transaction.cash_account.name|default:"-"}}</a></b>
                                    {% else %}
                                    <small class="lgi-text">{{transaction.cash_account.name|default:"-"}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updater.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>                    
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}