{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>{{title}}</h2>
        </div>
        <div class="card">
            <form class="" enctype="multipart/form-data" method="post" action="{{url}}">
                {% csrf_token %}
                {% if invalid_promo_code %}
                <div role="alert" class="alert alert-danger">Invalid Promo Code. Please try another or leave it blank.</div>
                {% endif %}
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <label for="{{ form.name.id_for_label }}">
                                    {{ form.name.label }}
                                    {% if form.name.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.name.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.name }}
                                {% if form.name.errors %}
                                <label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.phone.id_for_label }}">
                                    {{ form.phone.label }}
                                    {% if form.phone.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.phone.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.phone }}
                                {% if form.phone.errors %}
                                <label class="error">{{ form.phone.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.office_number.id_for_label }}">
                                    {{ form.office_number.label }}
                                    {% if form.office_number.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.office_number.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.office_number.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.office_number }}
                                {% if form.office_number.errors %}
                                <label class="error">{{ form.office_number.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.website.id_for_label }}">
                                    {{ form.website.label }}
                                    {% if form.website.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.website.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.website.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.website }}
                                {% if form.website.errors %}
                                <label class="error">{{ form.website.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.email.id_for_label }}">
                                    {{ form.email.label }}
                                    {% if form.email.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.email.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                <label class="error">{{ form.email.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.address.id_for_label }}">
                                    {{ form.address.label }}
                                    {% if form.address.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.address.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.address }}
                                {% if form.address.errors %}
                                <label class="error">{{ form.address.errors.as_text }}</label>
                                {% endif %}
                            </div>
                           
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <label for="{{ form.affiliation.id_for_label }}">
                                    {{ form.affiliation.label }}
                                    {% if form.affiliation.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.affiliation.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.affiliation.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.affiliation }}
                                {% if form.affiliation.errors %}
                                <label class="error">{{ form.affiliation.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.founder_name.id_for_label }}">
                                    {{ form.founder_name.label }}
                                    {% if form.founder_name.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.founder_name.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.founder_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.founder_name }}
                                {% if form.founder_name.errors %}
                                <label class="error">{{ form.founder_name.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.institution_code.id_for_label }}">
                                    {{ form.institution_code.label }}
                                    {% if form.institution_code.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.institution_code.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.institution_code.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.institution_code }}
                                {% if form.institution_code.errors %}
                                <label class="error">{{ form.institution_code.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.institution_type.id_for_label }}">
                                    {{ form.institution_type.label }}
                                    {% if form.institution_type.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.institution_type.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.institution_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.institution_type }}
                                {% if form.institution_type.errors %}
                                <label class="error">{{ form.institution_type.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.print_type.id_for_label }}">
                                    {{ form.print_type.label }}
                                    {% if form.print_type.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.print_type.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.print_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                {{ form.print_type }}
                                {% if form.print_type.errors %}
                                <label class="error">{{ form.print_type.errors.as_text }}</label>
                                {% endif %}
                            </div>
                                    <div class="form-group fg-line">
    <label for="{{ form.theme.id_for_label }}">
        {{ form.theme.label }}
        {% if form.theme.field.required %}
        <small class="star">*</small>
        {% endif %}
        {% if form.theme.help_text %}
        <span data-original-title="Field Info" title="" data-content="{{ form.theme.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
            {% endif %}
    </label>
    {{ form.theme }}
    {% if form.theme.errors %}
    <label class="error">{{ form.theme.errors.as_text }}</label>
    {% endif %}
</div>
<div class="form-group fg-line m-b-0">
                                <label for="{{ form.logo.id_for_label }}">
                                    {{ form.logo.label }}
                                    {% if form.logo.field.required %}
                                    <small class="star">*</small>
                                    {% endif %}
                                    {% if form.logo.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.logo.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                </label>
                                <br />
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-primary btn-file m-r-10">
                                        <span class="fileinput-new">Select file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="logo">
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                </div>
                                {% if form.logo.errors %}
                                <label class="error">{{ form.logo.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
<script src="{% static 'vendors/fileinput/fileinput.min.js' %}"></script>
{% endblock %}
