{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2 class="m-t-15">{{title}}</h2>
        </div>
        <div class="card">
            <div class="card-body card-padding">
                <div role="tabpanel">
                    <ul role="tablist" data-tab-color="green" class="tab-nav" style="width: 100%; border-right: none; margin-bottom: 1%;">
                        <li class="active college"><a data-toggle="tab" role="tab" aria-controls="home11" href="#college" aria-expanded="false">College</a></li>
                        <li class="profile"><a data-toggle="tab" role="tab" aria-controls="profile11" href="#profile" aria-expanded="false">Profile</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="college" class="tab-pane active" role="tabpanel">
                            <form enctype="multipart/form-data" method="post" action="{% url 'users:update_college' %}">
                                {% csrf_token %}
                                <div class="card-body card-padding">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.name.id_for_label }}">
                                                    {{ college_form.name.label }}
                                                    {% if college_form.name.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.name.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.name }}
                                                {% if college_form.name.errors %}
                                                <label class="error">{{ college_form.name.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.phone.id_for_label }}">
                                                    {{ college_form.phone.label }}
                                                    {% if college_form.phone.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.phone.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.phone }}
                                                {% if college_form.phone.errors %}
                                                <label class="error">{{ college_form.phone.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.website.id_for_label }}">
                                                    {{ college_form.website.label }}
                                                    {% if college_form.website.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.website.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.website }}
                                                {% if college_form.website.errors %}
                                                <label class="error">{{ college_form.website.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.email.id_for_label }}">
                                                    {{ college_form.email.label }}
                                                    {% if college_form.email.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.email.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.email }}
                                                {% if college_form.email.errors %}
                                                <label class="error">{{ college_form.email.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.address.id_for_label }}">
                                                    {{ college_form.address.label }}
                                                    {% if college_form.address.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.address.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.address }}
                                                {% if college_form.address.errors %}
                                                <label class="error">{{ college_form.address.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.theme.id_for_label }}">
                                                    {{ college_form.theme.label }}
                                                    {% if college_form.theme.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.theme.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.theme.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.theme }}
                                                {% if college_form.theme.errors %}
                                                <label class="error">{{ college_form.theme.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line m-b-0">
                                                <label for="{{ college_form.bill_print_type.id_for_label }}">
                                                    {{ college_form.bill_print_type.label }}
                                                    {% if college_form.bill_print_type.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.bill_print_type.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.bill_print_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.bill_print_type }}
                                                {% if college_form.bill_print_type.errors %}
                                                <label class="error">{{ college_form.bill_print_type.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.affiliation.id_for_label }}">
                                                    {{ college_form.affiliation.label }}
                                                    {% if college_form.affiliation.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.affiliation.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.affiliation.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.affiliation }}
                                                {% if college_form.affiliation.errors %}
                                                <label class="error">{{ college_form.affiliation.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.founder_name.id_for_label }}">
                                                    {{ college_form.founder_name.label }}
                                                    {% if college_form.founder_name.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.founder_name.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.founder_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.founder_name }}
                                                {% if college_form.founder_name.errors %}
                                                <label class="error">{{ college_form.founder_name.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.institution_code.id_for_label }}">
                                                    {{ college_form.institution_code.label }}
                                                    {% if college_form.institution_code.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.institution_code.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.institution_code.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.institution_code }}
                                                {% if college_form.institution_code.errors %}
                                                <label class="error">{{ college_form.institution_code.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ college_form.institution_type.id_for_label }}">
                                                    {{ college_form.institution_type.label }}
                                                    {% if college_form.institution_type.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.institution_type.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.institution_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ college_form.institution_type }}
                                                {% if college_form.institution_type.errors %}
                                                <label class="error">{{ college_form.institution_type.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line m-b-0">
                                                <label for="{{ college_form.logo.id_for_label }}">
                                                    {{ college_form.logo.label }}
                                                    {% if college_form.logo.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if college_form.logo.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ college_form.logo.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                <br />
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <span class="btn btn-primary btn-file m-r-10">
                                                        <span class="fileinput-new">Select file</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" name="logo">
                                                    </span>
                                                    <span class="fileinput-filename"></span>
                                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                                </div>
                                                {% if college_form.logo.errors %}
                                                <label class="error">{{ college_form.logo.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-20">
                                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="profile" class="tab-pane" role="tabpanel">
                            <form class="ajax redirect" method="post" action="{% url 'users:update_profile' %}">
                                {% csrf_token %}
                                <div class="card-body card-padding">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group fg-line">
                                                <label for="{{ profile_form.first_name.id_for_label }}">
                                                    {{ profile_form.first_name.label }}
                                                    {% if profile_form.first_name.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.first_name.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.first_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.first_name }}
                                                {% if profile_form.first_name.errors %}
                                                <label class="error">{{ profile_form.first_name.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ profile_form.last_name.id_for_label }}">
                                                    {{ profile_form.last_name.label }}
                                                    {% if profile_form.last_name.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.last_name.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.last_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.last_name }}
                                                {% if profile_form.last_name.errors %}
                                                <label class="error">{{ profile_form.last_name.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ profile_form.address.id_for_label }}">
                                                    {{ profile_form.address.label }}
                                                    {% if profile_form.address.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.address.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.address }}
                                                {% if profile_form.address.errors %}
                                                <label class="error">{{ profile_form.address.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line m-b-0">
                                                <label for="{{ profile_form.city.id_for_label }}">
                                                    {{ profile_form.city.label }}
                                                    {% if profile_form.city.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.city.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.city.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.city }}
                                                {% if profile_form.city.errors %}
                                                <label class="error">{{ profile_form.city.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group fg-line">
                                                <label for="{{ profile_form.state.id_for_label }}">
                                                    {{ profile_form.state.label }}
                                                    {% if profile_form.state.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.state.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.state.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.state }}
                                                {% if profile_form.state.errors %}
                                                <label class="error">{{ profile_form.state.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ profile_form.country.id_for_label }}">
                                                    {{ profile_form.country.label }}
                                                    {% if profile_form.country.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.country.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.country.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.country }}
                                                {% if profile_form.country.errors %}
                                                <label class="error">{{ profile_form.country.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ profile_form.pin.id_for_label }}">
                                                    {{ profile_form.pin.label }}
                                                    {% if profile_form.pin.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.pin.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.pin.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.pin }}
                                                {% if profile_form.pin.errors %}
                                                <label class="error">{{ profile_form.pin.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group fg-line">
                                                <label for="{{ profile_form.phone.id_for_label }}">
                                                    {{ profile_form.phone.label }}
                                                    {% if profile_form.phone.field.required %}
                                                    <small class="star">*</small>
                                                    {% endif %}
                                                    {% if profile_form.phone.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ profile_form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                        {% endif %}
                                                </label>
                                                {{ profile_form.phone }}
                                                {% if profile_form.phone.errors %}
                                                <label class="error">{{ profile_form.phone.errors.as_text }}</label>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-20">
                                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" class="active_menu" value="{{active_menu}}" />
    </div>
</section>
{% endblock %}
{% block static %}
{% load static %}
<script src="{% static 'vendors/fileinput/fileinput.min.js' %}"></script>
<script>
$(document).ready(function() {
    var active_class = $('.active_menu').val();
    $('.tab-nav li').each(function() {
        $this = $(this);
        if ($this.hasClass(active_class)) {
            $this.find('a').click();
        }
    });
});
</script>
{% endblock %}